@import "style/_imports";

$modal-header-height: 70px;
$modal-width: 90vw;

/*
The dimensioning of this modal is relatively complicated.  However, there is
one VERY important takeaway:

  *** The dimensions of the PDF document, which must maintain a certain aspect
      ratio, dictate the dimensions of the rest of the modal's components.

Every other constraint and dimension of the modal is derived from the dimensions
of the PDF document.  So, in order to build in responsive behavior, we must instead
adjust the width ot the PDF document appropriately to allow the other components
to grow or shrink.

Note that 0.70749 is roughly the Aspect Ratio of an A4 PDF Document
*/
@mixin export_preview_modal_sizing($canvas-width) {
  $pdf-canvas-height: calc(1 / 0.70749 * #{$canvas-width});

  width: $modal-width !important;
  $modal-height: calc(#{$pdf-canvas-height} + 6px + 36px + 10px + 70px + #{$modal-header-height});
  height: $modal-height !important;

  .ant-modal-content {
    .ant-modal-body {
      height: calc(#{$pdf-canvas-height} + 6px + 36px + 10px + 70px) !important;

      .previewer {
        width: calc(#{$canvas-width} + 6px) !important;

        .preview-content {
          height: calc(100% - 72px);
          width: calc(#{$canvas-width} + 6px) !important;

          .react-pdf__Document {
            .react-pdf__Page__canvas {
              height: $pdf-canvas-height !important;
              width: $canvas-width !important;
            }
            // I honestly do not know what this is, or why it is there, but it's presence
            // seems to cause all sorts of weird behavior with scrolling and hiding it
            // does not seem to have an affect.
            .react-pdf__Page__textContent {
              display: none !important;
            }
          }
        }
      }
    }
  }
}

.export-preview-modal {
  @include media("<=xxl") {
    @include export_preview_modal_sizing(380px);
  }

  @include media("<=xl") {
    @include export_preview_modal_sizing(340px);
  }

  @include media("<=large") {
    @include export_preview_modal_sizing(300px);
  }

  @include media(">=xxl") {
    @include export_preview_modal_sizing(405px);
  }

  overflow: hidden;

  .ant-modal-content {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;

    .ant-modal-header {
      height: $modal-header-height;
      padding-top: 24px;
      padding-bottom: 12px;

      .ant-modal-title {
        font-size: 32px;
        line-height: 34px;
      }
    }

    .ant-modal-close {
      .ant-modal-close-x {
        padding-left: 36px;
        padding-right: 36px;
        height: 70px;
        width: 70px;
        position: relative;
      }
    }

    .ant-modal-body {
      padding: 36px;
      padding-top: 0px;
      overflow-y: hidden;
      overflow-x: hidden;
      width: 100%;
      display: flex;
      flex-direction: row;

      .form-container {
        overflow-y: scroll;
        flex-grow: 100;
        margin-right: 10px;
        padding-right: 20px;

        .export-form {
          max-height: 100%;
        }
      }

      .previewer {
        display: flex;
        flex-direction: column;

        .preview-content {
          position: relative;
          padding: 2px;
          border: 1px solid $gray-light;
          margin-bottom: 10px;
          overflow-y: scroll;
        }

        .preview-footer {
          height: 72px;

          .ant-pagination {
            height: 36px !important;
            width: auto;
            text-align: center;
          }
          .btn {
            width: 100%;
          }
        }
      }
    }
  }
}
