@import "style/_imports";

.page {
  overflow-y: hidden;

  .page-header {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

    .page-header-title {
      order: 2;
      flex-grow: 100;

      @include media(">=xl") {
        order: 1;

        &.with-subtitle {
          margin-bottom: 10px;
        }
      }

      .title-text-wrapper {
        .page-header-title-text {
          margin-right: 0px;
          margin-bottom: 0;
          color: $text-primary !important;
          font-weight: 600;
          font-family: $avenir;
          font-size: 28px;
          line-height: 36px;
        }
      }

      .extra-wrapper {
        display: flex;
      }
    }

    .page-header-subtitle {
      order: 1;
      display: flex;
      margin-bottom: 10px;

      @include media(">=xl") {
        order: 2;
        justify-content: flex-start;
        margin-bottom: 0;
      }
    }
  }

  .page-content {
    // If the page-header changes sizes, this needs to be adjusted as well.
    max-height: calc(100% - 36px - 10px);
  }
}
