@import "style/_imports";

.page {
  overflow-y: hidden;
  height: 100%;

  .page-header {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    .page-header-title {
			color: $text-primary !important;
			font-weight: 700;
			font-family: $avenir;
			font-size: 28px;
			line-height: 36px;

			&.with-sub-menu {
				margin-bottom: 14px;
			}
		}

		.sub-menu {
			display: flex;
			width: 100%;
			max-width: 500px;

			> * {
				&:not(:last-child) {
					margin-right: 10px;
				}
			}

			> .input {
				width: auto;
				flex-grow: 100;
			}
		}
  }
}
