@import "style/typography";
@import "style/colors";

.page {
  .page-header {
    margin-bottom: 10px;
    display: flex;

    .title-wrapper {
      flex-grow: 100;

      .page-header-title {
        margin-right: 0px;
        margin-bottom: 0;
        color: $text-primary !important;
        font-weight: 600;
        font-family: $avenir;
        font-size: 28px;
        line-height: 36px;
      }
    }

    .extra-wrapper {
      display: flex;
    }
  }
}
