@import "style/_imports";

.previewer {
	display: flex;
	flex-direction: column;
	position: relative;
	width: calc(100% + 4px) !important;

	.btn--over {
		position: absolute;
		top: 5px;
		right: 5px;
	}

	.preview-content {
		position: relative;
		padding: 2px;
		border: 1px solid $gray-light;
		margin-bottom: 10px;
		overflow-y: scroll;
		height: calc(100% - 72px);
		width: 100% !important;

		.react-pdf__Document {
			.react-pdf__Page__canvas {
				// height: $pdf-canvas-height !important;
				width: calc(100% - 4px) !important;
				height: 100% !important;
			}
			// I honestly do not know what this is, or why it is there, but it's presence
			// seems to cause all sorts of weird behavior with scrolling and hiding it
			// does not seem to have an affect.
			.react-pdf__Page__textContent {
				display: none !important;
			}
		}
	}

	.preview-footer {
		height: 72px;

		.ant-pagination {
			height: 36px !important;
			width: auto;
			text-align: center;
		}
		.btn {
			width: 100%;
		}
	}
}
