@import "style/colors";
@import "style/typography";

.model-menu {
  .model-menu-item {
    display: flex;
    padding: 4px 10px !important;
    font-family: $open-sans;
    font-weight: 400 !important;
    margin-bottom: 0px !important;
    height: 32px;
    justify-content: center;

    &:hover, &.active, &.focus {
      background-color: rgba(212, 212, 212, 0.4);
    }

    &.empty {
      display: flex;
      flex-direction: row;
      padding: 6px 10px !important;
      height: 36px;
      font-family: $roboto !important;

      .icon-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 8px;
        position: relative;
        bottom: 1px;
      }
    }
  }
}