@import "style/colors";

.previewer {
  .preview-content {
    position: relative;
    padding: 2px;
    width: 404px !important;
    border: 1px solid $gray-light;
    margin-bottom: 10px;
    // This is based on the aspect ratio of the A4 PDF document with width
    // of 404px.
    height: 571px;
  }
  .preview-footer {
    display: flex;

    .ant-pagination {
      flex-grow: 100;
    }
    .btn {
      width: 80px;
    }
  }
}
