@import "style/colors";

$modal-height: 85vh;
$modal-header-height: 70px;

.export-preview-modal {
  overflow: hidden;
  width: 90vw !important;
  height: $modal-height;
  top: calc(0.5 * (100vh - #{$modal-height}));

  .ant-modal-header {
    height: $modal-header-height;
    padding-top: 24px;
    padding-bottom: 12px;

    .ant-modal-title {
      font-size: 32px;
      line-height: 34px;
    }
  }

  .ant-modal-close {
    .ant-modal-close-x {
      padding-left: 36px;
      padding-right: 36px;
      height: 70px;
      width: 70px;
      position: relative;
    }
  }

  .ant-modal-content {
    height: 100%;
    width: 100%;
    overflow-y: scroll;

    .ant-modal-body {
      padding: 36px;
      padding-top: 0px;
      height: calc(#{$modal-height} - #{$modal-header-height});
      overflow-y: hidden;

      .export-preview-modal-body {
        display: flex;
        height: 100%;

        .form-container {
          flex-grow: 100;
          max-height: 100%;
          overflow-y: scroll;
          margin-right: 10px;
          padding-right: 20px;

          .export-form {
            max-height: 100%;
          }
        }
        .preview-container {
          max-height: 100%;

          .previewer {
            display: flex;
            flex-direction: column;
            max-height: 100%;

            .preview-header {
              height: 36px;
            }

            .preview-content {
              position: relative;
              padding: 2px;
              border: 1px solid $gray-light;
              margin-bottom: 10px;
              // This is based on the aspect ratio of the A4 PDF document with width
              // of 404px.
              // height: 571px;
              // flex-grow: 100;
              $content-height: calc(#{$modal-height} - #{$modal-header-height} - 36px - 36px - 36px - 10px);
              height: $content-height;
              // 0.70749 is the Aspect Ratio of an A4 PDF Document
              width: calc(0.70749 * #{$content-height}) !important;

              .react-pdf__Page__canvas {
                // In order to maintain the aspect ratio of the PDF preview, while also allowing
                // it to be responsive, we have to dynamically set the height and width based on
                // the other constraining dimensions and still maintain the correct aspect ratio.

                // Modal Body:                            = modal-height - $modal-header-height
                //                                        = 36px (Padding Bottom)
                // Preview Header                         = 36px
                // Preview Footer                         = 10px
                // Margin Between Preview Footer & Header = 10px
                // Padding of Preview Container           = 2px (Bottom & Top)
                // ------------------------
                $page-height: calc(#{$content-height} - 4px);
                height: $page-height !important;
                // 0.70749 is the Aspect Ratio of an A4 PDF Document
                width: calc(0.70749 * #{$page-height}) !important;
              }
            }
            .preview-footer {
              display: flex;
              height: 36px;

              .ant-pagination {
                flex-grow: 100;
              }
              .btn {
                width: 80px;
              }
            }
          }
        }
      }
    }
  }
}
