.card-image-wrapper,
.card-image-placeholder {
  height: 150px;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  overflow: hidden;

  &.title-only {
    height: 150px;
  }
}

.card-image-wrapper {
  .image-tint {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }
  .img {
    object-fit: cover;
    width: 100%;
  }
}

.card-image-placeholder {
  background-color: #f9f9f9;
  svg {
    height: 40px !important;
    width: 40px !important;
    color: #cacaca;
  }
}
