@import "style/_imports";

.img-overlay--edit-image {
  display: flex;
  align-items: center;

  svg {
    &.icon.plus,
    &.icon.edit {
      height: 24px !important;
      width: 24px !important;
    }
  }

  .icon-wrapper--plus,
  .icon-wrapper--edit {
    height: $standard-size;
    width: $standard-size;
    padding: 5px;
  }

  .btn--clear-image {
    padding: 5px;
  }
}
