@import "style/_imports";

.user-initials {
  @include vertical-flex-c();
  height: 100%;
  width: 100%;
  background-color: #eee;
  border-radius: 100%;

  .img-overlay {
    display: none;
  }
  &.circle {
    clip-path: circle(50%);
  }
  &:hover {
    .img-overlay {
      display: flex;
    }
  }

  .user-initials-text {
    color: #111;
    line-height: 1;
    font-weight: 600;
    text-align: center;
  }
}
