.public-url-input-div {
	display: flex;
	flex-direction: row;

	> .input {
		margin-right: 4px;

		&.disabled, &:disabled {
			cursor: pointer !important;
		}
	}

	.public-url-actions {
		display: flex;
		flex-direction: row;

		> * {
			height: 26px;
			width: auto;
			padding: 4px;

			&:not(:last-child) {
				margin-right: 4px;
			}
		}
	}
}
