.landing-form {
  button[type="submit"] {
    width: 100% !important;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  .btn--google {
    width: 100% !important;
  }

  .forgot-password-text {
    text-align: right;
    @include media("<=xl") {
      margin-bottom: 45px;
    }

    a {
      font-family: $roboto;
      font-size: $medium-body-font-size;
      font-weight: 400;
    }
  }

  .link-text-base {
    color: $text-secondary;
    font-family: $roboto;
    font-size: $medium-body-font-size;
    font-weight: 400;
    margin-top: 12px;
    text-align: center;
  }

  .alt-link-text {
    @extend .link-text-base;

    a {
      color: $text-primary;
      margin-left: 4px;
      text-decoration: underline;
    }
  }

  .switch-text {
    @extend .link-text-base;

    a {
      font-family: $roboto;
      font-size: $medium-body-font-size;
      font-weight: 400;
      line-height: 15px;
      margin-left: 6px;
    }
  }
}
