@use "sass:color";

@use "../../functions" as fn;
@use "../colors.module" as colors;
@use "./typography.module" as typography;

$feedback-types: ("warning", "error", "success");

$global-feedback-border-radius: 4px;
$global-feedback-font-family: fn.map-get(typography.$typography-font-families, "body");
$global-feedback-font-size: typography.get-font-size("body", 1);
$global-feedback-font-weight: typography.get-font-weight("body", $font-weight-name: "bold");
$global-feedback-height: 56px;
$global-feedback-padding: 16px;
$global-feedback-line-height: $global-feedback-height - 2 * $global-feedback-padding;

@mixin global-feedback-typography {
  font-family: $global-feedback-font-family;
  font-size: $global-feedback-font-size;
  font-weight: $global-feedback-font-weight;
  line-height: $global-feedback-line-height;
}

$feedback-input-border-colors: (
  "warning": colors.$warning-input-border-color,
  "error": colors.$error-input-border-color,
  "success": colors.$success-input-border-color,
);

$feedback-border-colors: (
  "warning": colors.$warning-border-color,
  "error": colors.$error-border-color,
  "success": colors.$success-border-color,
);

$feedback-colors: (
  "warning": colors.$warning-color,
  "error": colors.$error-color,
  "success": colors.$success-color,
);

// The Design Comps do not include hovered or focused variations for colors that might be used in
// a button or other clickable element - so the adjustment here is an educated guess.
@function feedback-hover-focused-color($type) {
  $type: fn.validate-value($type, $feedback-types);
  @return color.adjust(fn.map-get($feedback-colors, $type), $lightness: -10%);
}

$feedback-icon-colors: (
  "warning": colors.$warning-icon-color,
  "error": colors.$error-icon-color,
  "success": colors.$success-icon-color,
);

$feedback-bg-colors: (
  "warning": colors.$warning-bg-color,
  "error": colors.$error-bg-color,
  "success": colors.$success-bg-color,
);

@mixin with-feedback-types() {
  @each $feedback in $feedback-types {
    $data: (
      "input-border-color": fn.map-get($feedback-input-border-colors, $feedback),
      "border-color": fn.map-get($feedback-border-colors, $feedback),
      "background-color": fn.map-get($feedback-bg-colors, $feedback),
      "color": fn.map-get($feedback-colors, $feedback),
      "icon-color": fn.map-get($feedback-icon-colors, $feedback),
      "hover-color": feedback-hover-focused-color($feedback),
      "focus-color": feedback-hover-focused-color($feedback),
    );
    @content ($feedback, $data);
  }
}
