@use "sass:map";
@use "sass:meta";

@use "../functions" as fn;
@use "../variables/index.module" as variables;

@mixin border($c, $w: 1px) {
  border: $w solid $c;
  border-color: $c;
  border-width: $w;
}

@mixin outline($c, $w: 1px) {
  outline: $w solid $c;
  outline-color: $c;
  outline-width: $w;
}

@mixin transition($value) {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-transition: $value;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-transition: $value;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -o-transition: $value;
  transition: $value;
}

@mixin element-mapped-properties($map) {
  @each $k in map.keys($map) {
    #{meta.inspect($k)}: meta.inspect(fn.map-get($map, $k));
  }
}

@mixin mapped-properties($map, $tiers...) {
  $props: fn.accumulated-props($map, $tiers...);
  @include element-mapped-properties($props);
}
