.comments-drawer-content {
  .comments-section {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 10px;

    > .comments {
      height: 100%;
    }

    .no-data-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      // We have to use position: absolute in order to make the .no-data-wrapper
      // 100% height of the *grand*parent - which is required because of the
      // <RenderWithSpinner> wrapper <div opacity={1 | 0}></div>:
      //     <div style=position: relative; height: 100%; width: 100%;>
      //       <div style=opacity: 1>
      //         <div class=".no-data-wrapper"></div>
      //       </div>
      //     </div>
      // We cannot apply height: 100% to the <div style=opacity: 1> element
      // because then all of the top level comment blocks will be 100% height
      // of the drawer.
      position: absolute;

      * {
        margin: 0 auto;
        color: #a3a3a3;;
      }

      .text-container {
        margin-top: 25px;
        text-align: center;
        font-family: "Open Sans JP", sans-serif;
        font-size: 13px;
        font-weight: 400;
        width: 130px;
      }
    }
  }
}