.product {
  display: flex;
  height: 56px;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid $transparent;

  > * {
    margin-right: 8px;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .product-detail {
    flex-grow: 100;
    display: flex;
    flex-direction: column;

    .product-description {
      font-family: $avenir;
      font-weight: 500;
      font-size: $standard-text-size;;
      color: $text-secondary;
    }
  }

  .product-extra {
    margin-left: 20px;
    @include vertical-flex-c();
    height: 100%;
  }

  &.highlight-on-hover {
    &:hover {
      background-color: #efefef;
    }
  }
}

.products-manager {
  .tag-text {
    font-family: $avenir;
    font-weight: 500;
    font-size: $medium-text-size;;
    color: $text-secondary;
    margin-top: 4px;
  }
}
