.chart-tooltip {
  padding: 4px 8px;
  background-color: $white;
  border-radius: 6px;
  border: 1px solid $menu-border-color;

  .tooltip-line {
    display: flex;

    .tooltip-line-label {
      font-size: $medium-text-size;;
      font-weight: 500;
      font-family: $avenir;
      color: $text-secondary;
    }

    .tooltip-line-value {
      margin-left: 4px;
      font-size: $medium-text-size;;
      font-weight: 400;
      font-family: $avenir;
      color: $text-secondary;
    }
  }
}
