.tile {
  background-color: $white;
  border: 1px solid $gray-light;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  width: 100%;

  .title {
    color: $text-tertiary;
    font-size: $large-body-font-size;
    font-weight: 500;
  }

  .sub-title {
    color: $text-primary;
    font-size: 22px;
    font-weight: 500;
  }

  .tile-content {
    flex-grow: 100;
  }
}

.base-card-icon {
  color: $white !important;
  z-index: 1000;

  svg {
    color: $white !important;
  }

  &.dark {
    color: #8a8a8a !important;

    svg {
      color: #8a8a8a !important;
    }
  }
}

.icon--card-corner-action {
  @extend .base-card-icon;

  height: 16px;
}

.card {
  border-radius: 14px;
  cursor: pointer;
  height: 214px;
  position: relative;

  // Card corner actions must be outside of the inner card, so that we can
  // disable the inner card while still keeping tooltips on the actions
  // hoverable.
  .card-corner-actions {
    left: 12px;
    position: absolute;
    top: 12px;
    z-index: 1000;

    > * {
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }

  .card-inner {
    .dropdown-ellipsis {
      @extend .base-card-icon;

      position: absolute;
      right: 5px;
      top: 10px;
      z-index: 1000;
    }

    .card-footer {
      background-color: #404151;
      border-bottom-left-radius: 14px;
      border-bottom-right-radius: 14px;
      color: $white;
      min-height: 44px;
      padding-bottom: 12px;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 12px;
      position: absolute;
      top: 150px;
      width: 100%;

      .title {
        font-family: $roboto;
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
        margin-bottom: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .sub-title {
        font-family: $roboto;
        font-size: 10px;
        font-weight: 400;
        line-height: 16px;
      }

      &.title-only {
        height: 44px;
        top: 150px;
      }
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  &.hidden,
  &.disabled,
  &.loading {
    .card-inner {
      opacity: 0.6;
    }
  }

  &.disabled,
  &.loading {
    pointer-events: none !important;

    .card-inner {
      &:hover {
        filter: none !important;
      }
    }
  }
}

.empty-card-wrapper {
  text-align: center;

  .empty-card {
    align-items: center;

    // This makes the card behave somewhat like the upload image cards.
    border: $dashed-border;
    border-radius: 14px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 214px;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
    text-align: center;

    &.template-empty-card {
      height: 194px;
    }

    &:hover {
      background-color: #fdfdfd;
      // This makes the card behave somewhat like the upload image cards.
      border-color: $blue;
    }

    svg {
      color: $text-primary;
      height: $large-size !important;
      width: $large-size !important;
    }
  }

  .title {
    color: $text-primary;
    font-family: $roboto;
    font-size: $xlarge-body-font-size;
    font-weight: 500;
  }
}
