.tagged-actuals {
  .tagged-actuals-header {
    display: flex;
    flex-direction: row;

    .tagged-actuals-title {
      margin-bottom: 8px;
      flex-grow: 100;
      margin-right: 8px;
    }
  }
}

.tagged-actual {
  display: flex;
  flex-direction: column;
  border: $border;
  padding: 8px 12px;
  border-radius: $input-border-radius;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  .tagged-actual-title {
    text-align: left;
    font-size: $large-text-size;
    font-weight: 500;
    color: $text-secondary;
    margin-bottom: 8px;
  }

  .tagged-actual-details {
    display: flex;
    flex-direction: row;

    .tagged-actual-detail {
      display: flex;
      flex-direction: column;
      min-width: 50px;

      &:not(:last-child) {
        margin-right: 16px;
      }

      .tagged-actual-detail-field {
        font-size: $small-text-size;
        color: $text-primary;
        font-weight: 600;
      }

      .tagged-actual-detail-value {
        font-size: $medium-text-size;
        color: $text-secondary;
        font-weight: 500;
      }
    }
  }
}
