.attachments-list {
  display: flex;
  flex-direction: column;

  .attachment-list-item {
    display: flex;
    height: 37px;
    padding-top: 4px;
    border-top: 1px solid #efefef;

    &.disabled {
      opacity: 0.4;
    }

    .text-wrapper {
      font-size: 12px;
      font-family: $avenir;
      font-weight: 500;
      color: $text-secondary;
      line-height: $standard-size;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.size {
        text-align: right;
        flex-grow: 100;
        text-overflow: initial;
      }
    }

    .link {
      line-height: $standard-size;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .file-action-wrapper {
			@include vertical-flex-c();
      height: $standard-size;
      margin-right: 6px;

      > .icon {
        height: 16px;
        width: auto;
      }
    }

    .button-action-wrapper {
			@include vertical-flex-c();
      height: $standard-size;
			margin-left: 4px;

      .btn {
        height: 22px;
        width: 22px;
        padding: 2px;
      }
    }
  }
}
