$loading-size-standards: (
  "large": 30px,
  "standard": 25px,
  "medium": 20px,
  "small": 15px,
);

.ant-spin {
  @include vertical-flex-c();
}

.spinner {
  z-index: 1000;
  position: absolute;
  color: $green;

  @include standard_size_variants($loading-size-standards);

  .anticon {
    @include size(100%);
    color: inherit;

    svg {
      height: 100%;
      width: auto;
      color: inherit;
    }
  }
}

.spinner-wrapper {
  @include size(100%);
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.icon-or-spinner {
  position: relative;
  @include size(14px);
  @include vertical-flex-c();

  .spinner-wrapper {
    @include size(100% !important);
    position: relative !important;

    .spinner {
      position: absolute !important;
      top: 0;
      left: 0;
      @include size(100% !important);

      .anticon-loading {
        @include size(100% !important);
      }
    }
  }
}

.saving-changes {
  display: flex;
  // We want to keep the width of the component constant such that when it
  // shifts between "Saving Changes" and "Changes Saved" it does not reposition
  // other elements it is adjacent to.
  width: 136px;
  height: $large-size;

  .spinner-wrapper {
    @include size(22px);
    position: relative;
    margin-right: 4px;

    .saving-changes-spinner {
      height: 22px;
      width: auto;
      color: $text-tertiary;
    }
  }

  .check-wrapper {
    @include size(22px);
    padding: 3px;
    margin-right: 4px;

    svg {
      height: auto;
      width: 16px;
      color: $green;
    }
  }

  .text-container {
    font-family: $roboto;
    font-size: $medium-text-size;
    font-weight: 500;
    color: $text-tertiary;
    line-height: $large-size;
    width: 105px;
    text-transform: uppercase;
  }
}
