.menu-base {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  font-feature-settings: "tnum";
  margin-bottom: 0;
  padding-left: 0;
  color: $text-secondary;
  font-size: 14px;
  line-height: 0;
  text-align: left;
  list-style: none;
  background: $white;
  outline: none;
  box-shadow: none !important;
  transition: background 0.3s, width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
  width: 100%;
  background-color: $white;
}

.menu-item {
  margin-top: 0px;
  color: $text-secondary !important;
  font-family: $roboto;
  font-weight: 400;
  min-width: 100px;
  padding: 4px 10px;
  font-size: 13px;
  line-height: 24px;
  height: 32px;
  margin-bottom: 0px !important;
  overflow-y: hidden;
	display: flex;
  flex-direction: row;

	.ant-checkbox-wrapper {
		height: 24px !important;
		width: 24px;
		padding: 4px;
		padding-left: 0px;
		position: relative;
		bottom: 1px;

		.ant-checkbox {
			display: block;
		}
	}

	.menu-item-content {
		display: flex;
  	flex-direction: row;

		.icon-wrapper-left {
			@include vertical-flex-c();
			margin-right: 6px;
		}

		.menu-item-inner-content {
			@include vertical-flex-c();

			.text-wrapper {
				font-family: $roboto;
				font-size: 13px;
				color: $text-secondary !important;
				line-height: 24px;
				flex-grow: 100;
			}
		}

		.icon-wrapper-right {
			@include vertical-flex-c();
			margin-left: 6px;
		}
	}

  &.selected {
    background-color: #f1f1f1 !important;
    span.text-container {
      color: $text-primary !important;
    }
  }
  &:focus:not(.selected),
  &.focused:not(.selected),
  &:hover:not(.selected) {
    background-color: #f1f1f1 !important;
    span.text-container {
      color: $text-primary !important;
    }
  }
  &.disabled {
    cursor: not-allowed !important;
    background-color: rgba(0, 0, 0, 0.04);
  }

  &--extra {
    font-size: 12px;
    font-weight: 500 !important;
    color: rgba(70, 70, 70, 0.85) !important;
    text-transform: uppercase;

    .text-wrapper {
      font-size: 12px;
    }

    &:hover,
    &.focus {
      cursor: default;
    }
  }
}

.menu {
  @extend .menu-base;
  border: $menu-border;
  display: flex;
  flex-direction: column;

  .search-container {
    padding: 6px;
  }

  .ul-wrapper {
    ul {
      @extend .menu-base;
      border: none !important;
    }
  }

  .btn-container {
    width: 100%;
    padding: 8px;

    > .btn--menu {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  &.with-search {
    .ul-wrapper {
      height: calc(100% - 38px);
    }
  }

  &--model {
		@extend .menu;

    .menu-item {
      font-family: $avenir;
      font-weight: 400 !important;
      margin-bottom: 0px !important;
      justify-content: left;

      &:first-child {
        border-top: none !important;
      }
    }
  }

	&--content {
		@extend .menu;
		padding: 8px;
	}

  &--table {
		@extend .menu;
    max-height: 220px;
		// The border gets set on the ag-popup-editor.
		border: none !important;

    .ul-wrapper {
      overflow-y: scroll;
      // The menu needs to have position relative so that we can detect where the
      // children menu items are relative to the parent container, which is used
      // for automatically scrolling them into view.
      position: relative;
    }
  }

  &.actual-owner-menu {
    max-height: 320px;
    overflow: auto;

    .with-neuter-wrapper {
      display: flex;

      .icon-wrapper {
				@include size(24px);
        padding-top: 4px;
        padding-bottom: 4px;

        svg {
					@include size(16px);
          margin-left: -5px;
          margin-right: 10px;
        }
      }
    }
  }
}

.ag-theme-alpine .ag-popup-editor {
  background: $white !important;
	background-color: $white !important;
  outline: none !important;
  box-shadow: none !important;
	border: $menu-border !important;
  background-clip: unset !important;
	border-radius: 0px !important;
}
