.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-pagination-disabled:focus-visible .ant-pagination-item-link {
  color: $disabled-color !important;
  border-color: $disabled-color !important;
  cursor: not-allowed;
}

.pagination {
  .ant-pagination-prev,
  .ant-pagination-next {
    .ant-pagination-item-link {
      color: $gray;
      border-color: $gray;
      border: 1px solid $gray;
      a {
        color: $gray;
      }
      &:focus-visible,
      &:hover,
      &:focus {
        color: $gray;
        border-color: $gray-dark;
        border: 1px solid $gray;
        a {
          color: $gray-dark;
        }
      }
    }
  }

  .ant-pagination-item {
    border-color: $gray;
    border: 1px solid $gray;
    a {
      color: $gray;
    }
    &.ant-pagination-item-active,
    &:focus-visible,
    &:hover,
    &:focus {
      border-color: $gray-dark;
      border: 1px solid $gray-dark;
      a {
        color: $gray-dark;
      }
    }
  }

  &.small {
    .ant-pagination-prev,
    .ant-pagination-next,
    .ant-pagination-jump-prev,
    .ant-pagination-jump-next {
      height: 24px;
      min-width: 24px;
    }
    .ant-pagination-item {
      height: 24px;
      min-width: 24px;
      line-height: 22px;
    }
    .ant-pagination-item-link {
      line-height: 24px;
    }
  }
}
