.previewer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(100% + 4px) !important;

  .previewer-refresh {
    position: absolute;
    width: 100%;
    // previewer-refresh needs to be a sibling of preview-content
    // in order to prevent scrolling when a pdf refresh is needed.
    // The height would normally be calc(100% - 64px) but 74px is needed
    // to account for the preview-content margin-bottom.
    height: calc(100% - 74px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba($black, 0.4);
    cursor: pointer;
    z-index: 1;

    &:hover {
      background: rgba($black, 0.5);
    }
  }

  .preview-content {
    position: relative;
    padding: 2px;
    border: 1px solid $gray-light;
    margin-bottom: 10px;
    overflow-y: scroll;
    height: calc(100% - 64px);
    width: 100% !important;

    .react-pdf__Document {
      .react-pdf__Page__canvas {
        // height: $pdf-canvas-height !important;
        width: calc(100% - 4px) !important;
        height: 100% !important;
      }
      // I honestly do not know what this is, or why it is there, but it's presence
      // seems to cause all sorts of weird behavior with scrolling and hiding it
      // does not seem to have an affect.
      .react-pdf__Page__textContent {
        display: none !important;
      }
    }
  }

  .preview-footer {
    height: 64px;

    .ant-pagination {
      height: $standard-size !important;
      width: auto;
      text-align: center;
    }
    .btn {
      width: 100%;
    }
  }
}

.fade-in-animation {
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out-animation {
  animation: fadeOut 0.5s;
  -webkit-animation: fadeOut 0.5s;
  -moz-animation: fadeOut 0.5s;
  -o-animation: fadeOut 0.5s;
  -ms-animation: fadeOut 0.5s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
