.tag {
  height: 20px;
  text-align: center;
  line-height: 20.5px;
  font-size: $medium-text-size;;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 8px;
  padding-right: 8px;
  font-family: $avenir;
  font-weight: 400;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 0.2rem;
  color: $white;
  border-radius: 20px;

  &.uppercase {
    text-transform: uppercase;
    font-size: $small-text-size;;
  }

  &.fill-width {
    text-align: center;
    width: 100%;
  }

  &--account {
    color: $text-secondary !important;
    background-color: white !important;
    font-weight: 500;
    line-height: 18px;
    border: 1px solid $text-secondary !important;
    border-radius: 4px;
  }

  &--contact {
    border-radius: 4px;

    &.focused {
      cursor: pointer;
    }
  }

  &--product {
    border-radius: 4px !important;
    background-color: $gray-light !important;
  }

  .btn {
    display: block;
    font-family: $avenir;
    line-height: 20.5px;
    font-size: $medium-text-size;;
    font-weight: 400;
    color: $blue !important;
    height: 20px;

    &:hover,
    &:focus {
      color: $blue !important;
    }
  }
}

.multiple-tags-wrapper {
  display: flex;

  > .tag {
    &:hover {
      z-index: 1000;
    }
    // This needs to be applied more systematically, by looking at the overall width
    // of each tag.  It should also be done programatically.
    &:not(:first-child) {
      margin-left: -10px;
    }
  }
}

.color {
  position: relative;
  @include vertical-flex-c();
}

.color-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 100;
  padding: 6px;

  .color-row {
    display: flex;
    flex-direction: row;

    .color {
      flex: 1 1;
      margin-bottom: 12px;

      &:not(:last-child) {
        margin-right: 12px;
      }
    }

		&:last-child {
			.color {
				margin-bottom: 0px;
			}
		}
  }
}
