@mixin _include_tooltip_color(
	$background,
	$color,
	$border: null,
) {
	$border-color: $border;
	@if ($border-color == null) {
		$border-color: $background;
	}

	.ant-tooltip-arrow {
		display: none !important;
		.ant-tooltip-arrow-content {
			box-shadow: none !important;
		}
	}

	.ant-tooltip-content {
		font-weight: 500;
		font-size: $standard-text-size;;

		.ant-tooltip-inner {
			border: 1px solid $border-color;
			background-color: $background !important;
			color: $color !important;

      > * {
        color: $color !important;
      }
		}
	}
}

@mixin include_tooltip_color(
	$background,
	$color,
	$border: null,
	$disabled-background: $disabled-color,
	$disabled-color: $text-secondary,
	$disabled-border: null
) {
	@include _include_tooltip_color($background, $color, $border);

	&.disabled {
		@include _include_tooltip_color($disabled-background, $disabled-color, $disabled-border);
	}
}

.ant-tooltip {
	.ant-tooltip-content {
		.ant-tooltip-inner {
			border-radius: 8px;
			font-family: $avenir;
		}
	}
	&.tooltip-lower {
		padding-top: 10px;
	}
}

.tooltip {
	@extend .ant-tooltip;
  @include include_tooltip_color($green, $white, $green);

	&--action {
		@include include_tooltip_color($green, $white, $green);
	}

	&--info {
		@include include_tooltip_color($white, $text-secondary, $menu-border-color);
	}

	&--entity {
		@include include_tooltip_color($white, $text-secondary, $menu-border-color);
	}
}

