.entity-text {
  font-size: $medium-text-size;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .entity-text-identifier {
    font-family: $avenir;
    font-weight: 600;
    color: #b5b5b5;
  }

  .entity-text-description {
    font-family: $avenir;
    font-weight: 600;
    color: $text-secondary;

    &.with-identifier {
      margin-left: 5px;
    }
  }
}

.text-with-included-link {
  .link,
  .btn {
    line-height: 16px;
    font-size: $medium-text-size;
    vertical-align: 0.225rem;
  }
}

.attachment-text {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  height: 16px;

  .icon--attachment {
    color: $text-primary;
    @include size(14px);
    line-height: 16px;
    vertical-align: -0.125em !important;
  }

  .content-text {
    font-size: $medium-text-size;
    font-family: $avenir;
    font-weight: 400;
    color: $text-secondary;
    line-height: 16px;
  }

  .additional-count {
    margin-left: 4px;
    font-size: $medium-text-size;
    font-family: $avenir;
    font-weight: 400;
    color: $text-secondary;
    line-height: 16px;
  }
}
