.fringes-modal {
  min-width: 70vw;
	height: 70vh;
	display: flex;
	justify-content: center;
	flex-direction: column;

	.ant-modal-content {
		min-height: 500px;

		.ant-modal-body {
			height: calc(60vh - 72px);
			padding-bottom: 36px;
		}
	}
}
