@import 'style/typography';

.primary-grid {
  .ag-row:last-child {
    border-bottom: none !important;
  }
  div[role='gridcell'].unit-cell {
    // This padding is an attempt to vertically align the tag in the cell.  It
    // is not the best way, since the height of the cell can cause the vertical
    // alignment to become skewed.  We should figure out the right way to do this.
    padding-top: 6px;
    padding-bottom: 6px;
    .ag-react-container {
      width: auto;
      display: flex;
      justify-content: center;
    }
  }
}

.footer-grid {
  .ag-body-viewport {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    .ag-row {
      border-bottom: none !important;
      div[role='gridcell'] {
        background-color: #f8f8f8;
      }
    }
  }
}

.icon--lock {
  position: absolute;
  top: 3px;
  right: 3px;
  color: $text-primary;

  svg {
    height: 0.8rem;
    width: auto;
  }
}

.error-container {
  position: absolute;
  top: 3px;
  right: 3px;
  height: 10px;
  display: flex;

  .text-error {
    color: $red;
    font-size: 9px;
    line-height: 10px;
    display: block;
  }
  .icon--error {
    color: $red;
    display: block;

    svg {
      height: 10px;
      width: auto;
    }
  }
}
