.table-footer {
  display: flex;
  padding: 10px 12px;
  background: #f7f7f7;
  color: #595959;
  align-items: center;
  position: relative;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}