.ant-modal-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal {
  padding-bottom: 0px;
  top: auto !important;
  max-height: 90vh;

  &.modal--no-footer {
    .ant-modal-body {
      padding-bottom: $standard-size !important;
    }
  }

  .ant-modal-content {
    border-radius: 10px;
    overflow-y: hidden;
    max-height: 100%;
    display: flex;
    flex-direction: column;

    .notifications {
			margin-bottom: 15px;
    }

    .modal-text {
      font-family: $avenir;
      font-weight: 500;
      color: $text-secondary;
      font-size: $large-text-size;;
    }

    .ant-modal-header {
      padding-top: $standard-size;
      padding-bottom: 12px;
      padding-left: $standard-size;
      padding-right: $standard-size;
      height: auto;

      background: $white !important;
      border-bottom: none !important;
      border-radius: 10px 10px 0 0;

      .ant-modal-title {
        font-size: 24px;
        line-height: 24px;
        font-family: $avenir !important;
        font-weight: 700 !important;
        color: $text-secondary !important;
        width: 100%;

        &.modal-title {
          display: flex;
          align-items: center;

          .icon {
            margin-right: 10px;
            color: $text-secondary !important;
          }
        }
      }
    }

    .ant-modal-close {
      display: none !important;
    }

    .ant-modal-body {
      padding: 10px $standard-size;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
    }

    .ant-modal-footer {
      border-top: none !important;
      padding-top: 12px;
      padding-right: $standard-size;
      padding-bottom: 24px;
      padding-left: $standard-size;
    }
  }
}

.contact-modal {
  .ant-modal-header {
    display: flex;
    height: 142px;
  }
}

.fringes-modal {
  min-width: 70vw;
  height: 70vh;
  @include vertical-flex-c();

  .ant-modal-content {
    min-height: 90vh;

    .ant-modal-body {
      height: calc(90vh - 64px);
      padding-bottom: $standard-size;
    }
  }
}
