.drawer {
  min-width: 400px;

  .comments {
    display: flex;
    flex-direction: column;
    height: 100%;

    .comments-section {
      flex-grow: 100;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .form-section {

    }
  }
}