@import "style/_imports";

.export-form {
  display: flex;
  flex-direction: column;

  .export-header-sides {
    display: flex;

    .export-header-side-item {
      width: 50%;

      &:not(:first-child) {
        margin-left: 20px;
      }

      .ckeditor {
        width: auto;
        z-index: 0;
        margin-top: 10px;
      }
    }
  }
}
