.color {
  position: relative;
  @include vertical-flex-c();
  height: 16px;
  width: 16px;

  svg {
    height: 100% !important;
    width: 100% !important;
  }

  &.selectable {
    height: 24px;
    width: 24px;

    .selected-color-border {
      border-radius: 100%;
      border: 2px solid $white;
      height: 24px;
      width: 24px;
      position: absolute;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    }

    &:hover,
    &.selected {
      .selected-color-border {
        box-shadow: none !important;
        border: 2px solid #6eb6ff !important;
      }
    }
  }
}
