@import "style/_imports";

.attachments-list {
  display: flex;
  flex-direction: column;

  .attachment-list-item {
    display: flex;
    height: 41px;
    padding-top: 4px;
    border-top: 1px solid #efefef;

    &.disabled {
      opacity: 0.4;
    }

    .text-wrapper {
      font-size: 12px;
      font-family: $avenir;
      font-weight: 500;
      color: $text-secondary;
      line-height: 36px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.size {
        text-align: right;
        flex-grow: 100;
        text-overflow: initial;
      }
    }

    .action-wrapper {
      height: 36px;
      width: 28px;
      padding: 7px 3px;

      > .icon {
        height: 22px;
        width: 22px;
        padding: 3px;
      }

      .btn {
        height: 22px;
        width: 22px;
        padding: 2px;
      }
    }
  }
}
