@import "style/_imports";

.attachment-text {
  font-size: 12px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .icon--attachment-text {
    color: #b5b5b5;
  }

  .file-name {
    font-family: $avenir;
    font-weight: 400;
    color: $text-secondary;
  }
}
