@import "style/_imports";

.attachments-list {
  display: flex;
  flex-direction: column;

  .attachment-list-item {
    display: flex;
    height: 41px;
    padding-top: 4px;
    border-top: 1px solid #efefef;
    margin-bottom: 6px;

    &.disabled {
      opacity: 0.4;
    }

    .attachment-list-item-left {
      display: flex;
      flex-direction: column;
      height: 36px;
      flex-grow: 100;

      .attachment-size-text {
        margin-top: 4px;
        margin-left: 20px;
      }
    }

    .btn-wrapper {
      height: 36px;
      width: 36px;
      margin-left: 12px;
      padding: 7px;

      .btn--trash {
        height: 22px;
        width: 22px;
        padding: 2px;
      }
    }
  }
}
