@import "style/_imports";

.attachments-list {
  display: flex;
  flex-direction: column;

  .attachment-list-item {
    display: flex;
    height: 22px;

    .icon-wrapper {
      height: 100%;
      width: 22px;
      margin-right: 12px;
      color: $text-secondary;
    }

    .name-wrapper {
      height: 100%;
      line-height: 22px;
      flex-grow: 100;
      font-weight: 500;
      color: $text-secondary;
    }

    .size-wrapper {
      height: 100%;
      display: flex;

      .icon-wrapper {
        height: 100%;
        width: 22px;
        margin-right: 12px;
        padding: 2px;

        .icon {
          height: 18px;
          width: 18px;
        }
      }

      .size-text {
        font-size: 12px;
        line-height: 22px;
        font-family: $roboto;
        margin-right: 4px;
        font-weight: 500;
        color: $text-secondary;
      }
    }

    .btn--trash {
      margin-left: 12px;
      height: 22px;
      width: 22px;
      padding: 2px;
    }
  }
}
