.ant-checkbox {
  top: 0rem !important;
}

.ant-checkbox-checked::after {
  border: none !important;
}

.checkbox-wrapper {
  padding: 10px;
  .ant-checkbox-wrapper {
    height: 16px;
    width: 16px;

    .ant-checkbox {
      font-size: 16px;
      line-height: 1;
      display: block;
      top: 0;
    }
  }
}
