.ant-checkbox {
  top: 0rem !important;
}

.ant-checkbox-checked::after {
  border: none !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $blue;
  border-color: $blue;
}

.ant-checkbox-wrapper {
  color: $text-secondary;
  font-family: $avenir;
  font-size: $medium-body-font-size;
  font-weight: 500 !important;
}

.checkbox-wrapper {
  padding: 10px;

  .ant-checkbox-wrapper {
    @include size(16px);

    .ant-checkbox {
      display: block;
      font-size: $xlarge-body-font-size;
      line-height: 1;
      top: 0;
    }
  }
}
