:root {
  --ck-color-image-caption-background: hsl(0, 0%, 97%);
  --ck-color-image-caption-text: hsl(0, 0%, 20%);
  --ck-color-mention-background: hsla(341, 100%, 30%, 0.1);
  --ck-color-mention-text: $red;
  --ck-color-table-caption-background: hsl(0, 0%, 97%);
  --ck-color-table-caption-text: hsl(0, 0%, 20%);
  --ck-highlight-marker-blue: $blue;
  --ck-highlight-marker-green: $green;
  --ck-highlight-marker-pink: hsl(345, 96%, 73%);
  --ck-highlight-marker-yellow: hsl(60, 97%, 73%);
  --ck-highlight-pen-green: $green;
  --ck-highlight-pen-red: $red;
  --ck-image-style-spacing: 1.5em;
  --ck-inline-image-style-spacing: calc(var(--ck-image-style-spacing) / 2);
  --ck-todo-list-checkmark-size: 16px;

  --ck-border-radius: 8px;
  --ck-inner-shadow: 2px 2px 3px var(--ck-color-shadow-inner) inset;
  --ck-drop-shadow: 0 1px 2px 1px var(--ck-color-shadow-drop);
  --ck-drop-shadow-active: 0 3px 6px 1px var(--ck-color-shadow-drop-active);
  --ck-spacing-unit: 0.6em;
  --ck-spacing-large: calc(var(--ck-spacing-unit) * 1.5);
  --ck-spacing-standard: var(--ck-spacing-unit);
  --ck-spacing-medium: calc(var(--ck-spacing-unit) * 0.8);
  --ck-spacing-small: calc(var(--ck-spacing-unit) * 0.5);
  --ck-spacing-tiny: calc(var(--ck-spacing-unit) * 0.3);
  --ck-spacing-extra-tiny: calc(var(--ck-spacing-unit) * 0.16);
}

.ck-content {
  background: $gray-light;
  border-radius: var(--ck-border-radius);
  border: 1px solid transparent !important;
  box-shadow: none !important;
}

.ck-content p {
  margin-top: var(--ck-spacing-small) !important;
  margin-bottom: 4px !important;
  font-family: $avenir !important;
  font-weight: 400;
  font-size: 13px;
}

// we have to use !important here to prevent ckeditor from overriding padding to 0px
.ck.ck-editor__editable_inline {
  padding: var(--ck-spacing-standard) var(--ck-spacing-large) !important;
}

.ck-content .ck-heading_heading1,
.ck-content h1 {
  @extend .header-base;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px !important;
  margin-top: var(--ck-spacing-small) !important;
}

.ck-content .ck-heading_heading2,
.ck-content h2 {
  @extend .header-base;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 6px !important;
  margin-top: var(--ck-spacing-small) !important;
}

.ck-content .ck-heading_heading3,
.ck-content h3 {
  @extend .header-base;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 4px !important;
  margin-top: var(--ck-spacing-small) !important;
}

.ck-content .ck-heading_heading4,
.ck-content h4 {
  @extend .header-base;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px !important;
  margin-top: var(--ck-spacing-small) !important;
}

.ck-content .ck-heading_heading5,
.ck-content h5 {
  @extend .header-base;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px !important;
  margin-top: var(--ck-spacing-small) !important;
}

.ck-content .ck-heading_heading6,
.ck-content h6 {
  @extend .header-base;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 4px !important;
  margin-top: var(--ck-spacing-small) !important;
}
