@import "react-datepicker/dist/react-datepicker.css";

.date-picker {
  &.disabled {
    opacity: 0.3;
    pointer-events: none !important;
  }

  .react-datepicker__input-container {
    > input[type="text"] {
      @extend .input;
    }
  }

  .react-datepicker {
    @extend .menu-base;
    font-family: $avenir;
    box-shadow: none !important;
    border: $menu-border;
    padding: 10px !important;

    > .react-datepicker__triangle {
      display: none;
    }

    .react-datepicker__month-container {
      float: none;
    }

    .react-datepicker__header {
      background-color: $white;
      border-bottom: none;
      padding: 0 !important;

      .react-datepicker {
        &__current-month {
          font-weight: 500;
          color: $text-primary;
          font-size: 15px;
          line-height: 16px;
        }

        &__day-names {
          margin-bottom: 0;

          .react-datepicker__day-name {
            color: $gray;
            font-weight: 500;
            margin: 2px;
            font-size: 13px;
          }
        }
      }
    }

    .react-datepicker__day-name,
    .react-datepicker__day,
    .react-datepicker__time-name {
      margin: 2px;
    }

    .react-datepicker__navigation {
      top: -7px;

      .react-datepicker__year-read-view--down-arrow,
      .react-datepicker__month-read-view--down-arrow,
      .react-datepicker__month-year-read-view--down-arrow,
      .react-datepicker__navigation-icon::before {
        border-width: 2px 2px 0 0;
        border-color: $gray;
      }

      .react-datepicker__navigation--previous {
        left: 22px;
      }
      .react-datepicker__navigation--next {
        right: 22px;
      }
    }

    .react-datepicker__day {
      .react-datepicker__day--today {
        font-weight: normal;
      }
      .react-datepicker__day--selected {
        background-color: rgba($green, 0.2);
        color: $green;
        border-radius: 100%;
      }
    }

    .react-datepicker__month {
      margin: 0px;
    }

    .react-datepicker__day,
    .react-datepicker__month-text,
    .react-datepicker__quarter-text,
    .react-datepicker__year-text {
      border-radius: 100%;

      &:hover {
        border-radius: 100%;
      }
    }

    .react-datepicker__day--keyboard-selected {
      background-color: inherit;
      color: inherit;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}
