.filepond--panel-root {
  background-color: $gray-light;
}

.filepond--drop-label {
  cursor: pointer;

  label {
    cursor: pointer;
  }
}

.filepond--drop-label.filepond--drop-label {
  font-size: $large-body-font-size;

  label {
    padding: 0 !important;
  }
}

.filepond--credits {
  display: none;
}

.filepond--hopper {
  margin-bottom: 0px !important;
}
