@mixin input_framework(
  $horizontal-padding: 12px,
  $svg-height: 0.8rem,
  $font-size: $medium-body-font-size,
  $size: $standard-size,
  $radius: $input-border-radius,
  $vertical-padding: 4px
) {
  border-radius: $radius !important;
  font-size: $font-size !important;
  line-height: ($size - 2 * $vertical-padding) !important;
  padding: $vertical-padding $horizontal-padding !important;

  .ant-input-prefix {
    font-size: $font-size;

    svg {
      height: $svg-height;
    }
  }
}

@mixin input_size_standard() {
  @include input_framework;
  @include standard_height_variants;

  &.large,
  &.xlarge {
    @include input_framework(12px, 0.9rem, 13px, $large-size, $input-border-radius);
  }

  &.standard {
    @include input_framework;
  }

  &.medium {
    @include input_framework(8px, 0.7rem, 12px, $medium-size, $input-small-border-radius);
  }

  &.small,
  &.xsmall {
    @include input_framework(8px, 0.7rem, 12px, $small-size, $input-small-border-radius);
  }
}
