@import "style/colors";
@import "style/typography";
@import "style/breakpoints";

.form-container {
  padding: 20px 80px;

  @include media("<=medium") {
    padding: 20px;
  }

  .title {
    font-size: 28px;
    font-family: $open-sans;
    font-weight: 700;
    text-align: center;
  }

  .sub-title {
    font-size: 16px;
    font-family: $open-sans;
    font-weight: 600;
    color: $text-secondary;
    text-align: center;
    margin-bottom: 32px;
  }

  .login-form {
    button[type="submit"] {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
    .btn--google {
      width: 100% !important;
    }
    .forgot-password-text {
      text-align: right;
      .forgot-link {
        font-family: $roboto;
        font-weight: 400;
        font-size: 13px;
      }
    }
    .signup-text {
      font-size: 13px;
      text-align: center;
      margin-top: 12px;
      font-family: $roboto;
      font-weight: 400;
      color: $text-secondary;

      .signup-link {
        margin-left: 6px;
        font-family: $roboto;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
      }
    }
  }
}
