.fringes-modal {
  min-width: 70vw;
  height: 60vh;
  top: 20vh;

  .ant-modal-body {
    height: calc(60vh - 84px);
    overflow-y: hidden;

    .fringes-table {
      height: 100% !important;

      .core-table {
        .table-grid {
          max-height: calc(100% - 40px - 40px);
        }
      }
    }
  }
}
