.fringes-modal {
  min-width: 70vw;
  height: 60vh;
  top: 20vh;

  .ant-modal-body {
    height: calc(60vh - 84px);
    overflow-y: hidden;

    .fringes-table {
      // 20px is for modal-body padding (10px on top and 10px on bottom).
      max-height: calc(60vh - 84px - 20px);

      .core-table {
        max-height: calc(60vh - 84px - 20px);

        .table-grid {
          max-height: calc(60vh - 84px - 40px - 40px - 20px) !important;
          > * {
            max-height: calc(60vh - 84px - 40px - 40px - 20px) !important;
          }
          .ag-root-wrapper {
            max-height: calc(60vh - 84px - 40px - 40px - 20px) !important;
            .ag-root-wrapper-body {
              max-height: calc(60vh - 84px - 40px - 40px - 20px) !important;
            }
          }
        }
      }
    }
  }
}
