@import "style/colors";
@import "style/typography";

.comment {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  .comment-header {
    display: flex;

    .comment-user-name {
      line-height: 36px;
      margin-left: 6px;
      margin-right: 6px;
      font-family: $nunito;
      font-weight: 400;
      color: #454545;
      font-size: 15px;
    }
    .comment-updated-at {
      line-height: 36px;
      font-family: $roboto;
      font-weight: 400;
      color: $gray;
      font-size: 12px;
    }
  }
  .comment-body {
    margin-top: 6px;
    margin-bottom: 4px;
    padding-left: 6px;

    .comment-body-text {
      color: #9e9e9e;
      font-family: $roboto;
      font-weight: 400;
    }
  }
  .comment-footer {
    display: flex;
    justify-content: space-between;

    .btn--icon-only {
      padding: 4px;
      height: 24px;
      width: auto;
    }
    .comment-footer-left {
      display: flex;
    }
    .comment-footer-right {
      display: flex;
    }
  }
}