.product {
  border: 1px solid $transparent;
  border-radius: 6px;
  display: flex;
  height: 56px;
  padding: 6px;

  > * {
    margin-right: 8px;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .product-detail {
    display: flex;
    flex-direction: column;
    flex-grow: 100;

    .product-description {
      color: $text-secondary;
      font-family: $avenir;
      font-size: $standard-body-font-size;
      font-weight: 500;
    }
  }

  .product-extra {
    @include vertical-flex-c;

    height: 100%;
    margin-left: 20px;
  }

  &.highlight-on-hover {
    &:hover {
      background-color: #efefef;
    }
  }
}

.products-manager {
  .tag-text {
    color: $text-secondary;
    font-family: $avenir;
    font-size: $medium-body-font-size;
    font-weight: 500;
    margin-top: 4px;
  }
}
