.chart-tooltip {
  background-color: $white;
  border: 1px solid $menu-border-color;
  border-radius: 6px;
  padding: 4px 8px;

  .tooltip-line {
    display: flex;

    .tooltip-line-label {
      color: $text-secondary;
      font-family: $avenir;
      font-size: $medium-body-font-size;
      font-weight: 500;
    }

    .tooltip-line-value {
      color: $text-secondary;
      font-family: $avenir;
      font-size: $medium-body-font-size;
      font-weight: 400;
      margin-left: 4px;
    }
  }
}
