.dropdown-base {
  border: none !important;
  background-clip: padding-box !important;
  background-color: $white !important;
  box-shadow: none !important;
}

.ant-dropdown {
  @extend .dropdown-base;

  .menu-item {
    cursor: pointer;
  }
}

.ant-select-dropdown {
  padding: 0px !important;
}

.header-dropdown-menu {
  .dropdown-menu-item {
    svg {
      height: auto;
      width: 16px;
    }
  }
}
