.menu-base {
  background: $white;
  background-color: $white;
  box-shadow: none !important;
  box-sizing: border-box;
  color: $text-secondary;
  font-feature-settings: "tnum";
  font-size: $large-body-font-size;
  font-variant: tabular-nums;
  line-height: 0;
  list-style: none;
  margin: 0;
  margin-bottom: 0;
  outline: none;
  padding: 0;
  padding-left: 0;
  text-align: left;
  transition: background 0.3s, width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
  width: 100%;
}

.menu-item {
  color: $text-secondary !important;
  display: flex;
  flex-direction: row;
  font-family: $roboto;
  font-size: $standard-body-font-size;
  font-weight: 400;
  height: 32px;
  line-height: 24px;
  margin-bottom: 0px !important;
  margin-top: 0px;
  min-width: 100px;
  overflow-y: hidden;
  padding: 4px 10px;

  .ant-checkbox-wrapper {
    bottom: 1px;
    height: 24px !important;
    padding: 4px;
    padding-left: 0px;
    position: relative;
    width: 24px;

    .ant-checkbox {
      display: block;
    }
  }

  .menu-item-content {
    display: flex;
    flex-direction: row;

    .icon-wrapper-left {
      @include vertical-flex-c;

      margin-right: 6px;
    }

    .menu-item-inner-content {
      @include vertical-flex-c;

      .text-wrapper {
        color: $text-secondary !important;
        flex-grow: 100;
        font-family: $roboto;
        font-size: $standard-body-font-size;
        line-height: 24px;
      }
    }

    .icon-wrapper-right {
      @include vertical-flex-c;

      margin-left: 6px;
    }
  }

  &.selected {
    background-color: $active-hover-color !important;

    span.text-container {
      color: $text-primary !important;
    }
  }

  &:focus:not(.selected),
  &.focused:not(.selected),
  &:hover:not(.selected) {
    background-color: $active-hover-color !important;

    span.text-container {
      color: $text-primary !important;
    }
  }

  &.disabled {
    background-color: rgb(0 0 0 / 4%);
    cursor: not-allowed !important;
  }

  &--extra {
    color: rgb(70 70 70 / 85%) !important;
    font-size: $medium-body-font-size;
    font-weight: 500 !important;
    text-transform: uppercase;

    .text-wrapper {
      font-size: $medium-body-font-size;
    }

    &:hover,
    &.focus {
      cursor: default;
    }
  }
}

.menu {
  @extend .menu-base;

  border: $menu-border;
  display: flex;
  flex-direction: column;

  .search-container {
    padding: 6px;
  }

  .ul-wrapper {
    ul {
      @extend .menu-base;

      border: none !important;
    }
  }

  .btn-container {
    padding: 8px;
    width: 100%;

    > .btn--menu {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  &.with-search {
    .ul-wrapper {
      height: calc(100% - 38px);
    }
  }

  &--model {
    @extend .menu;

    .menu-item {
      font-family: $avenir;
      font-weight: 400 !important;
      justify-content: left;
      margin-bottom: 0px !important;

      &:first-child {
        border-top: none !important;
      }
    }
  }

  &--content {
    @extend .menu;

    padding: 8px;
  }

  &--table {
    @extend .menu;
    // The border gets set on the ag-popup-editor.
    border: none !important;
    max-height: 220px;

    .ul-wrapper {
      overflow-y: scroll;
      // The menu needs to have position relative so that we can detect where the
      // children menu items are relative to the parent container, which is used
      // for automatically scrolling them into view.
      position: relative;
    }
  }

  &.actual-owner-menu {
    max-height: 320px;
    overflow: auto;

    .with-neuter-wrapper {
      display: flex;

      .icon-wrapper {
        @include size(24px);

        padding-bottom: 4px;
        padding-top: 4px;

        svg {
          @include size(16px);

          margin-left: -5px;
          margin-right: 10px;
        }
      }
    }
  }
}

.ag-theme-alpine .ag-popup-editor {
  background: $white !important;
  background-clip: unset !important;
  background-color: $white !important;
  border: $menu-border !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  outline: none !important;
}
