@import "style/typography";
@import "style/colors";

.entity-text {
  font-size: 12px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.entity-text-identifier {
  font-family: $open-sans;
  font-weight: 600;
  color: #b5b5b5;
}

.entity-text-description {
  font-family: $open-sans;
  font-weight: 600;
  color: $text-secondary;

  &.with-identifier {
    margin-left: 5px;
  }
}
