@import "style/_imports";

.segmented-text {
  .segment-wrapper {
    span.segment {
      color: #2f2f2f;
      font-family: $roboto;
      font-weight: 400;
      font-size: 0.9375rem;
      &.dark {
        color: $text-primary;
      }
      &.blue {
        color: $blue;
      }
      &.bold {
        font-weight: 600;
      }
    }
  }
}
