@import "style/colors";
@import "style/typography";

.model-tags-menu {
  .model-tags-menu-item {
    display: flex;
    padding: 7px 10px !important;
    font-family: $nunito !important;
    font-weight: 400 !important;
    margin-bottom: 0px !important;
  }
}