@import "style/_imports";

.card-base {
  border-radius: 14px;
  position: relative;
  height: 214px;
  cursor: pointer;
}

.card {
  @extend .card-base;

  &.template-card {
    height: 194px;
  }

  &:hover {
    box-shadow: 0px 2px 10px #b3b3b3;
  }

  &.hidden {
    opacity: 0.6;
  }

  .icon--hidden {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 10000;
  }

  .dropdown-ellipsis {
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 1000;

    svg {
      height: 26px !important;
      color: $white !important;
    }

    &.for-placeholder {
      svg {
        color: #8a8a8a !important;
      }
    }
  }

  .card-footer {
    position: absolute;
    top: 150px;
    min-height: 44px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #404151;
    color: $white;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;

    .title {
      font-size: 18px;
      font-family: $roboto;
      font-weight: 600;
      line-height: 20px;
      margin-bottom: 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .sub-title {
      font-size: 10px;
      font-family: $roboto;
      font-weight: 400;
      line-height: 16px;
    }

    &.title-only {
      height: 44px;
      top: 150px;
    }
  }
}
