@import "style/_imports";

.empty-card-wrapper {
  text-align: center;

  .empty-card {
    position: relative;
		height: 214px;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;

		// This makes the card behave somewhat like the upload image cards.
		border: 1px dashed #d9d9d9;
    border-radius: 14px;

		&.template-empty-card {
			height: 194px;
		}

		&:hover {
			// This makes the card behave somewhat like the upload image cards.
			border-color: #1890ff;
			background-color: #fdfdfd;
		}

    svg {
      height: 36px !important;
      width: 36px !important;
      color: $text-primary;
    }
  }

  .title {
    font-size: 16px;
    font-family: $roboto;
    font-weight: 500;
    color: $text-primary;
  }
}
