@import "style/_imports";

.account-circle-link {
  @include standard_size("large");
  display: block;
  border-radius: 100%;
  overflow: hidden;
  text-align: center;
  border-width: 1px;
  position: relative;
}
