@import "style/typography";
@import "style/colors";

.account-circle-link {
  display: block;
  width: 36px !important;
  height: 36px !important;
  border-radius: 100%;
  overflow: hidden;
  text-align: center;
  border-width: 1px;
  position: relative;
}
