@import "style/_imports";

.help-link {
  display: flex;

  .icon {
    color: $text-tertiary;
    height: 16px;
    width: 16px;
    margin-right: 6px;
  }

  .text-container {
    display: none;
    font-family: $roboto;
    font-size: 12px;
    font-weight: 500;
    color: $text-tertiary;
    line-height: 36px;
    text-transform: uppercase;

    @include media(">=large") {
      display: block;
    }
  }
}
