@import "style/colors";
@import "style/typography";
@import "style/layout";
@import "style/breakpoints";

.sidebar {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: calc(0.5 * (#{$sidebar-width} - 200px));
  padding-right: calc(0.5 * (#{$sidebar-width} - 200px));

  .logo-container {
    width: 100%;

    .logo-link {
      display: block;
      text-align: center;
      height: 40px;

      svg {
        max-height: 40px;
        max-width: 200px;
      }
    }
  }

  .sidebar-menu {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    margin-top: 60px;

    .sidebar-menu-item {
      position: relative;
      padding: 0 !important;
      background: transparent !important;
      margin-bottom: 20px;

      &:hover {
        > .sidebar-menu-item-item {
          background-color: rgba(232, 232, 232, 0.5) !important;
          > .icon-container {
            svg {
              color: $green;
            }
          }
        }
      }

      &.active {
        > .sidebar-menu-item-item {
          background-color: $green !important;
          > .icon-container {
            svg {
              color: $white !important;
            }
          }
          > .text-container {
            color: $white !important;
          }
        }
      }

      > .sidebar-menu-item-item {
        border-radius: 4px;
        border: 1px solid $transparent;
        height: 50px;
        padding: 8px;
        display: flex;

        > .icon-container {
          margin-right: 25px;
          width: 15px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          svg {
            color: $text-secondary;
            height: 22px;
            width: auto;
          }
        }

        > .text-container {
          font-size: 15px;
          text-transform: unset !important;
          font-family: $avenir;
          font-weight: 600;
          color: $text-primary;
          line-height: 32px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }

    &.nested {
      padding-left: 40px;
      margin-top: 4px;
      min-height: 40px;

      .spinner {
        position: absolute;
        top: 70%;
        left: calc(50% - 8px);
      }

      .sidebar-menu-item {
        min-width: 120px;
        margin-bottom: 4px;

        > .sidebar-menu-item-item {
          > .text-container {
            font-size: 13px;
          }
        }
      }
    }
  }

  .btn--sidebar-close {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &.expanded-layout {
    @include media("<=medium") {
      .btn--sidebar-close {
        display: block;
      }
    }
  }

  &.collapsed-layout {
    padding: 0px !important;

    .logo-container {
      width: 100%;

      .logo-link {
        padding-top: 9px;
        padding-bottom: 9px;
        height: 58px;

        svg {
          max-width: 25px;
        }
      }
    }

    // The sidebar toggle button is not shown in the header for the expanded
    // layout case - so it is only applicable here.
    .sidebar-toggle-btn-container {
      // Assuming that the sidebar toggle btn is 36px x 36px, we want to add
      // padding to center in the width of the collapsed sidebar.
      padding-left: calc(0.5 * (#{$sidebar-collapsed-width} - 36px));
      padding-right: calc(0.5 * (#{$sidebar-collapsed-width} - 36px));
      // 8px aligns it vertically with the sidebar toggle btn in the header.
      padding-top: 8px;

      // For the condensed layout, on larger screens we always show the sidebar
      // (there is no toggling).
      @include media(">=xl") {
        display: none;
      }
    }

    .sidebar-menu {
      .sidebar-menu-item {
        margin-bottom: 10px;

        > .sidebar-menu-item-item {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          padding-top: 4px !important;
          padding-bottom: 4px !important;
          height: 42px;
          justify-content: center;
          align-items: center;
          -webkit-box-align: center;
          -webkit-box-pack: center;
          > .icon-container {
            width: auto;
            margin-right: 0px;
          }
        }
      }
    }
  }

  hr {
    width: 80%;
  }
}
