@import "style/typography";

.select-ancestor-option {
  font-size: 12px;
  .identifier {
    font-family: $noto-sans-jp;
    font-weight: 600;
    color: #929292;
  }
  .description {
    font-family: $noto-sans-jp;
    font-weight: 500;
    color: $text-secondary;
    margin-left: 5px;
  }
}

.ancestors-bread-crumbs {
  display: flex;
  height: 36px;

  .ancestors-bread-crumb-item {
    display: flex;
    cursor: pointer;

    .select-wrapper {
      padding-top: 3px;
      padding-bottom: 3px;

      .slash {
        margin-left: 4px;
        color: $text-primary;
      }

      .select {
        &--ancestor {
          min-width: 200px;
          .ant-select-selector {
            padding: 0px !important;
          }
          .ant-select-arrow {
            right: 24px;
          }
        }
      }
    }

    .content-wrapper {
      line-height: 18px;
      padding-top: 9px;
      padding-bottom: 9px;
      font-family: $noto-sans-jp;
      font-weight: 400;
      color: $text-secondary;

      .slash {
        margin-left: 4px;
        color: $text-primary;
      }
    }

    &:hover {
      .content-wrapper {
        color: $text-primary;
      }
    }

    &.last {
      .content-wrapper {
        color: $text-primary;
        font-family: $noto-sans-jp;
        font-weight: 600;
      }
    }

    &:not(:last-child) {
      margin-right: 6px;
    }
  }
}