@import "style/typography";
@import "style/colors";

.page {
  .ant-page-header-heading {
    .ant-page-header-heading-title {
      margin-right: 0px;
      margin-bottom: 0;
      color: $text-secondary !important;
      font-weight: 700;
      font-family: $roboto;
      font-size: 28px;
      line-height: 32px;
    }
  }
}