@import "style/colors";

.color-select {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 100;
  height: 36px;
  padding-top: 6px;
  padding-bottom: 6px;

  .color-select-color {
    flex: 1 1 24px;
    margin-bottom: 12px;
    max-width: 24px;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }
}
