@import "style/colors";
@import "style/typography";

.image-uploader {
  .ant-upload-picture-card-wrapper {
    height: 100% !important;
    width: 100% !important;

    .ant-upload.ant-upload-select-picture-card {
      height: 100% !important;
      width: 100% !important;
      margin: 0 !important;
      position: relative;
      background-color: $white;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover !important;
      }
    }

    .upload-indicator {
      .icon {
        height: 25px;
        width: 25px;
      }
    }
  }
}
