@import "style/_imports";

.comment-reply {
  padding: 4px;
  padding-left: 18px;
  margin-top: 4px;

  .comment-reply-body {
    display: flex;

    .account-circle-wrapper {
      height: 36px;
      width: 36px;
      margin-right: 6px;
    }
  }
  .comment-reply-footer {
    padding-left: 42px;
  }
}
