@import "style/typography";
@import "style/breakpoints";
@import "style/colors";
@import "style/layout";

.header {
  .primary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .primary-header-left {
      flex: 1;
      display: flex;
      padding: 7px 0;

      .btn--header-sidebar-toggle {
        position: relative;
        margin-right: 5px;
        padding: 8px;
        padding-left: 0;
        height: 36px;
        width: 25.5px;

        svg {
          height: 20px !important;
          width: 17.5px !important;

          &.icon.icon--toggle-hover {
            path {
              fill: $green;
            }
          }
        }
      }
    }

    .primary-header-center {
      padding: 7px 0;
      height: 50px;

      .logo-link {
        display: block;
        height: 100%;

        svg {
          height: 100%;
          width: auto;
        }

        @include media(">=xl") {
          display: none;
        }
      }
    }

    .primary-header-right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      padding: 7px 0;
    }
  }

  &.sidebar-visible .primary-header-center {
    .logo-link {
      display: none;
    }
  }

  .header-dropdown-menu {
    .dropdown-menu-item {
      svg {
        height: auto;
        width: 16px;
      }
    }
  }
}
