@import "style/_imports";

.header {
  .primary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .primary-header-left {
      flex: 1;
      display: flex;
      padding: 7px 0;

      .btn--sidebar-toggle {
        padding-left: 0;
        // We have to adjust the width here so that the icon aligns on the left
        // of the button so it aligns on the left of the screen.
        width: 24.5px;
        margin-right: 8px;

        .icon {
          height: 20px;
          width: 17.5px;
        }
      }
    }

    .primary-header-center {
      padding: 7px 0;
      height: 50px;

      .logo-link {
        display: block;
        height: 100%;
        padding: 5px;

        svg {
          height: 100%;
          width: auto;
        }

        @include media(">=xl") {
          display: none;
        }
      }
    }

    .primary-header-right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      padding: 7px 0;
    }
  }

  &.sidebar-visible .primary-header-center {
    .logo-link {
      display: none;
    }
  }

  .header-dropdown-menu {
    .dropdown-menu-item {
      svg {
        height: auto;
        width: 16px;
      }
    }
  }
}
