@import 'style/colors';
@import 'style/typography';
@import 'style/layout';

.sidebar {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: calc(0.5 * (#{$sidebar-width} - 200px));
  padding-right: calc(0.5 * (#{$sidebar-width} - 200px));

  .logo-container {
    width: 100%;

    .logo-link {
      display: block;
      text-align: center;
      height: 40px;

      svg {
        max-height: 40px;
        max-width: 200px;
      }
    }
  }

  .sidebar-menu {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    margin-top: 60px;

    .sidebar-menu-item {
      position: relative;
      padding: 0 !important;
      background: transparent !important;
      margin-bottom: 20px;

      &:hover {
        > .sidebar-menu-item-item {
          background-color: rgba(232, 232, 232, 0.5) !important;
          > .icon-container {
            .icon,
            .anticon,
            span[role='img'] {
              color: $green;
            }
          }
        }
      }

      &.active {
        > .sidebar-menu-item-item {
          background-color: $green !important;
          > .icon-container {
            .icon,
            .anticon,
            span[role='img'] {
              color: $white !important;
            }
          }
          > .text-container {
            color: $white !important;
          }
        }
      }

      > .sidebar-menu-item-item {
        border-radius: 4px;
        border: 1px solid $transparent;
        height: 50px;
        padding: 8px;
        display: flex;

        > .icon-container {
          font-size: 15px;
          margin-right: 25px;
          width: 15px;
          line-height: 34px;

          .icon,
          .anticon,
          span[role='img'] {
            color: $text-primary;
            vertical-align: -0.25rem;
            svg {
              height: 18px;
              width: auto;
            }
          }
        }

        > .text-container {
          font-size: 15px;
          text-transform: unset !important;
          font-family: $ibm-plex-sans-medium;
          color: $text-primary;
          line-height: 34px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }

    &.nested {
      padding-left: 40px;
      margin-top: 4px;
      min-height: 40px;

      .spinner {
        position: absolute;
        top: 70%;
        left: calc(50% - 8px);
      }

      .sidebar-menu-item {
        min-width: 120px;
        margin-bottom: 4px;

        > .sidebar-menu-item-item {
          > .text-container {
            font-size: 13px;
          }
        }
      }
    }
  }

  &.collapsed {
    padding: 0px !important;

    .logo-container {
      width: 100%;

      .logo-link {
        padding-top: 12px;
        padding-bottom: 12px;
        height: 64px;

        svg {
          max-width: 25px;
        }
      }
    }
    .sidebar-menu {
      .sidebar-menu-item {
        margin-bottom: 10px;

        > .sidebar-menu-item-item {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          padding-top: 4px !important;
          padding-bottom: 4px !important;
          height: 42px;
          justify-content: center;
          align-items: center;
          -webkit-box-align: center;
          -webkit-box-pack: center;
          > .icon-container {
            width: auto;
            margin-right: 0px;
          }
        }
      }
    }
  }
}