.color-grid {
  display: flex;
	flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 100;
  padding: 6px;

	.color-row {
		display: flex;
		flex-direction: row;

		.color {
			flex: 1 1;
			margin-bottom: 12px;

			&:not(:last-child) {
				margin-right: 12px;
			}
		}
	}
}
