@import "style/colors";

.color {
  height: 24px;
  width: 24px;
  position: relative;

  .icon-border {
    border-radius: 100%;
    border: 2px solid $white;
    height: 24px;
    width: 24px;
    position: absolute;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  }

  svg {
    height: 24px !important;
    width: 24px !important;
  }

  &:hover,
  &.selected {
    .icon-border {
      box-shadow: none !important;
      border: 2px solid #6eb6ff !important;
    }
  }
}
