@import "style/typography";

.tag {
  height: 20px;
  text-align: center;
  line-height: 21px;
  font-size: 13px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 8px;
  padding-right: 8px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 0.2rem;
  color: #ffffff;
  border-radius: 20px;
  &.uppercase {
    text-transform: uppercase;
    font-size: 11px;
  }
  &.fill-width {
    text-align: center;
    width: 100%;
  }
}

.multiple-tags-wrapper {
  display: flex;

  > .tag {
    &:hover {
      z-index: 1000;
    }
    // This needs to be applied more systematically, by looking at the overall width
    // of each tag.  It should also be done programatically.
    &:not(:first-child) {
      margin-left: -10px;
    }
  }
}
