@import "style/_imports";

.table-action-menu {
  display: flex;
  // This will align the checkbox in the header with the checkboxes in the
  // rows vertically.
  padding-left: 12px;
  height: 30px;

  &.detached {
    margin-bottom: 10px;
    padding-left: 12px;
  }

  &.has-expand-column {
    padding-left: 4px;

    &.has-drag-column {
      padding-left: 12px;
    }
  }

  .ant-checkbox-wrapper {
    .ant-checkbox {
      padding: 7px;
      padding-left: 0px;
      .ant-checkbox-inner {
        top: 0.05rem;
      }
    }
  }

  .toolbar-buttons {
    display: flex;
    margin-right: 8px;
  }

  .btn--icon-only {
    height: 30px;
    width: 30px;
  }

  .table-menu-left {
    display: flex;
    flex-grow: 100;
  }

  .table-menu-right {
    display: flex;

    .saving-changes {
      height: 30px;
      margin-right: 10px;

      .text-container {
        line-height: 30px;
      }
    }
  }
}
