.img-overlay {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  color: $white;

  svg {
    color: $white;
  }

  &--edit-image {
    display: flex;
    align-items: center;

    svg {
      &.icon.plus,
      &.icon.edit {
        height: 24px !important;
        width: 24px !important;
      }
    }

    .icon-wrapper--plus,
    .icon-wrapper--edit {
      height: $standard-size;
      width: $standard-size;
      padding: 5px;
    }

    .btn--clear-image {
      padding: 5px;
    }
  }
}
