.img-wrapper {
  height: 100%;
  aspect-ratio: 1;
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .img-overlay {
    display: none;
  }

  &.circle {
    clip-path: circle(50%);
  }

  &.with-icon-fallback {
    background-color: #efefef;
  }

  &:hover {
    .img-overlay {
      display: flex;
    }
  }

  .icon-wrapper {
    padding: 8px;
  }

  .img {
    height: 100%;
    width: auto;

    &.circle {
      border-radius: 100%;
    }

    .image-tint {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(15, 15, 15, 0.04);
    }

    &--user {
      @extend .img;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: contain;
      text-align: center;
    }
  }
}
