@import "style/colors";

.spinner {
  z-index: 1000;
  height: 25px;
  width: 25px;

  &.absolute {
    position: absolute;
    left: calc(50% - 12.5px);
    top: calc(50% - 12.5px);
  }

  &.relative {
    position: relative;
  }

  &.fixed {
    position: fixed;
    left: calc(50vw - 12.5px);
    top: calc(50vh - 12.5px);
  }

  .anticon {
    color: $green;
    height: 100%;
    width: 100%;

    svg {
      color: $green;
      height: 100%;
      width: auto;
    }
  }
}
