@import "style/_imports";

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .landing-page-left {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    @include media(">=xl") {
      min-width: 500px;
      max-width: 600px;
    }

    .logo {
      display: inline-block;

      @include media("<=xl") {
        width: 75%;
      }

      @include media(">=xl") {
        display: none;
      }
    }

    .landing-form-container {
      padding: 20px;

      @include media(">=small") {
        padding: 20px 30px;
      }

      @include media(">=medium") {
        padding: 20px 50px;
      }

      .title {
        font-size: 28px;
        font-family: $avenir;
        font-weight: 700;
        text-align: center;

        @include media("<=xl") {
          display: none;
        }
      }

      .sub-title {
        font-size: 16px;
        font-family: $avenir;
        font-weight: 600;
        color: $text-secondary;
        text-align: center;
        margin-bottom: 32px;

        @include media("<=xl") {
          display: none;
        }
      }

      .landing-form {
        margin-top: 20px;

        @include media("<=xl") {
          margin-bottom: 45px;
        }

        button[type="submit"] {
          width: 100%;
          &:not(:last-child) {
            margin-bottom: 12px;
          }
        }

        .btn--google {
          width: 100% !important;
        }

        .forgot-password-text {
          text-align: right;

          a {
            font-family: $roboto;
            font-weight: 400;
            font-size: 13px;
          }
          @include media("<=xl") {
            margin-bottom: 45px;
          }
        }

        .switch-text {
          font-size: 13px;
          text-align: center;
          margin-top: 12px;
          font-family: $roboto;
          font-weight: 400;
          color: $text-secondary;

          a {
            margin-left: 6px;
            font-family: $roboto;
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
          }
        }
      }
    }
  }

  .landing-page-right {
    display: none;
    flex-grow: 100;
    height: 100vh;
    background-color: $green;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    @include media(">=xl") {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .logo-container {
    text-align: center;
  }
}
