@import "style/typography";
@import "style/colors";
@import "style/layout";

.header {
  display: flex;
  justify-content: space-between;

  .breadcrumb-wrapper {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .toolbar-wrapper {
    justify-content: flex-end;
    flex-grow: 100;
    display: flex;
  }

  .account-wrapper {
    width: 36px;
    padding-top: 17px;
    padding-bottom: 17px;
  }
}
