@import "style/typography";

.ancestors-bread-crumbs {
  display: flex;
  height: 36px;

  .ancestors-bread-crumb-item {
    display: flex;
    cursor: pointer;

    .content-wrapper {
      line-height: 18px;
      padding-top: 9px;
      padding-bottom: 9px;
      font-family: $noto-sans-regular;
      color: $text-secondary;

      .slash {
        margin-left: 4px;
        color: $text-primary;
      }
    }

    .icon-wrapper {
      margin-right: 8px;
      padding-top: 9px;
      padding-bottom: 9px;

      .ancestor-spinner {
        display: block;
        height: 14px;
        width: 14px;
        padding: 1px;

        .ant-spin-dot {
          height: 12px;
          width: 12px;
          vertical-align: 0.1rem;

          svg {
            height: 12px;
            width: 12px;
          }
        }
      }

      svg {
        height: 18px;
        width: auto;
        line-height: 18px;
        display: block;
        color: $text-secondary;
      }
    }

    &:hover {
      .content-wrapper {
        color: $text-primary;
      }
    }

    &.last {
      .content-wrapper {
        color: $text-primary;
        font-family: $noto-sans-medium !important;
      }
    }

    &:not(:last-child) {
      margin-right: 6px;
    }
  }
}