@import 'style/typography';
@import 'style/colors';

.dashboard-card-base {
  border-radius: 14px;
  position: relative;
  height: 214px;
  cursor: pointer;
  flex: 1 1 300px;
  margin-bottom: 50px;
  max-width: 300px;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.dashboard-card-grid {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 100;

  .dashboard-empty-card {
    @extend .dashboard-card-base;
    border: 2px dashed #8a8a8a;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .title {
      font-size: 16px;
      font-family: $roboto;
      font-weight: 500;
      color: $icon-color;
    }

    svg {
      height: 22px;
      width: 22px;
    }
  }

  .dashboard-card {
    @extend .dashboard-card-base;

    &:hover {
      box-shadow: 0px 2px 10px #b3b3b3;
    }

    .dropdown-ellipsis {
      position: absolute;
      top: 10px;
      right: 5px;
      z-index: 1000;
      svg {
        height: 26px !important;
        color: $white !important;
      }
      &.for-placeholder {
        svg {
          color: #8a8a8a !important;
        }
      }
    }

    .image,
    .image-placeholder {
      height: 150px;
      width: 100%;
      position: relative;
      justify-content: center;
      align-items: center;
      display: inline-flex;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
      overflow: hidden;

      &.title-only {
        height: 170px;
      }
    }

    .image {
      .image-tint {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(15, 15, 15, 0.2);
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .image-placeholder {
      background-color: #f9f9f9;
      svg {
        height: 40px;
        width: 40px;
        color: #cacaca;
      }
    }

    .dashboard-card-footer {
      position: absolute;
      top: 150px;
      height: 64px;
      width: 100%;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 16px;
      padding-right: 16px;
      background-color: #404151;
      color: $white;
      border-bottom-left-radius: 14px;
      border-bottom-right-radius: 14px;

      .title {
        font-size: 18px;
        font-family: $roboto;
        font-weight: 600;
        line-height: 20px;
        margin-bottom: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .sub-title {
        font-size: 11px;
        font-family: $roboto;
        font-weight: 400;
        line-height: 12px;
      }

      &.title-only {
        height: 44px;
        top: 170px;
      }
    }
  }
}
