@import './colors';
@import './typography';

// This class is not meant to be used in the components.
.btn-link-base {
  font-size: 12px;
  letter-spacing: 0.028em;
  font-stretch: normal;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  user-select: none;
  vertical-align: middle;
  justify-content: center;

  &.disabled {
    pointer-events: none;
    box-shadow: none;
  }

  &.no-transform {
    text-transform: unset;
  }
}

.link {
  @extend .btn-link-base;
  color: $blue;
  font-family: $roboto;
  font-weight: 400;
  transition: none;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
  border: none !important;

  .icon-wrapper {
    .icon {
      svg {
        color: $icon-color !important;
      }
    }
  }

  .icon {
    cursor: pointer;

    svg {
      color: $icon-color !important;
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  &--black {
    color: $text-primary;
    text-transform: none !important;
  }

  &--inline {
    font-size: inherit !important;
  }

  &--icon-only {
    @extend .link;
    min-width: 0px;
    box-shadow: none !important;
    height: 28px;
    width: 28px;
    padding: 5px;
    border-radius: 100px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;

    svg {
      height: 18px;
      width: 18px;
      color: $icon-color !important;
    }

    &:hover,
    &:focus {
      color: lighten($icon-color, 20%) !important;
      background-color: rgba(0, 0, 0, 0.015);

      svg {
        color: $blue !important;
      }
    }
  }

  // Links that are displayed immediately under a FormItem.  This is used in
  // the login/reset password pages.
  &--form-supplementary {
    color: #868686;
    font-family: $nunito;
    font-weight: 400;
    font-size: 14px;
    text-transform: unset !important;
    padding-left: 4px;

    &:hover {
      color: #cacaca !important;
    }
  }
}

.text-with-link {
  @extend .link;
  font-size: 12px;
  line-height: 14px;
  font-family: $roboto;
  font-weight: 400;
  transition: none;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
  border: none !important;
  color: $text-secondary;

  .text-embedded-link {
    margin-left: 3px;
    color: $blue;

    &:hover {
      color: rgba($blue, 0.6);
    }
  }
}


.btn,
.ant-btn {
  @extend .btn-link-base;
  font-family: $roboto;
  font-weight: 600;
  padding: 6px 12px;
  min-width: 64px;
  height: 36px;
  line-height: 24px;
  border-radius: 4px;
  margin: 0;
  display: inline-flex;
  outline: 0;
  background: $white;
  border-color: #d9d9d9;
  border-width: 1px;
  color: rgba(70, 70, 70, 0.6);
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;

  // Size of the CircularProgress is set in JS/TS.
  .spinner {
    color: $green;
    position: initial;
  }

  .icon {
    cursor: pointer;
    height: 100%;
    width: auto;

    svg {
      height: 100%;
      width: auto;
      color: $icon-color !important;
    }
  }

  &--large {
    @extend .btn;
    font-size: 20px;
    line-height: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: auto;
    width: 230px;
    font-family: $nunito;
    text-transform: unset;
    font-weight: 600;
  }

  // A Button That Looks Like a <a> Link
  &--link {
    @extend .btn;
    color: $blue;
    transition: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    min-width: 0;
    text-decoration: none !important;
    height: auto;
    border: none !important;

    .ant-icon {
      color: $icon-color !important;
      cursor: pointer;
    }

    &:hover {
      background-color: transparent;
    }
  }

  &--default {
    @extend .btn;
    color: $text-secondary;
    background: #ececec;
    border-color: #ececec;

    &:hover,
    &:focus {
      border-color: transparent !important;
      background-color: darken(#ececec, 10%) !important;
      color: $text-secondary !important;
      box-shadow: none !important;
    }

    &.disabled {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }

  &--primary {
    @extend .btn;
    color: $white;
    background: $green;
    border-color: $green;

    &:hover,
    &:focus {
      border-color: transparent !important;
      background-color: $green-darker !important;
      color: $white !important;
      box-shadow: none !important;
    }

    &.disabled {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }

  &--danger {
    @extend .btn;
    color: $white;
    background: $red;
    border-color: $red;

    &:hover {
      color: $white;
      background: $red-hover;
      border-color: $red;
    }
  }

  &--icon-only {
    min-width: 0px;
    box-shadow: none !important;
    border-radius: 100px;
    border: 1px solid $transparent;
    background-color: $transparent;
    padding: 0px;
    height: 36px;
    width: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    svg {
      height: 100%;
      width: auto !important;
      color: $icon-color !important;
    }

    &.small {
      padding: 10px;
    }
    &.medium {
      padding: 8px;
    }
    &.large {
      padding: 6px;
    }

    &:hover,
    &:focus {
      border-color: $transparent !important;
      background-color: transparent;
      svg {
        color: lighten($icon-color, 20%) !important;
      }
    }

    &.green {
      svg {
        color: $green !important;
      }
      &:hover,
      &:focus {
        svg {
          color: $green-darker !important;
        }
      }
    }

    &.ag-grid-table-action-button {
      width: 100%;
      height: 100%;
      padding: 0px !important;
      display: flex;
      flex-direction: column;
      align-items: center;

      svg {
        height: 16px;
        width: auto !important;
        color: $icon-color;
      }
    }

    &.disabled {
      svg {
        color: $disabled-color !important;
      }
      &:hover,
      &:focus {
        svg {
          color: $disabled-color !important;
        }
      }
    }
  }

  &--square {
    border-radius: 0px !important;
  }

  &--rounded {
    border-radius: 50px !important;
  }

  &--caret {
    background-color: $transparent;
    border: none;
    color: $icon-color;
    box-shadow: none;

    .caret-button-inner {
      display: flex;
      width: 100%;
      position: relative;

      .caret-button-text {
        font-family: $roboto;
        font-weight: 400;
        flex-grow: 100;
        text-align: center;
      }
    }

    &:hover,
    &:focus {
      border-color: transparent !important;
      background-color: $transparent !important;
      box-shadow: none !important;
      .caret-button-inner {
        .caret-button-text {
          color: lighten($icon-color, 20%);
        }
        .caret-button-caret {
          svg {
            color: lighten($icon-color, 20%);
          }
        }
      }
    }

    &.primary {
      color: $white;
      background: $green;
      border-color: $green;

      &:hover,
      &:focus {
        background-color: $green-darker !important;
        .caret-button-inner {
          .caret-button-text {
            color: $white !important;
          }
          .caret-button-caret {
            svg {
              color: $white !important;
            }
          }
        }
      }
      &.disabled {
        background-color: rgba(0, 0, 0, 0.12);
      }
    }
  }

  &--login,
  &--reset {
    @extend .btn--large;
    background-color: $green;
    color: $white;
    border: 1px solid transparent;
    font-family: $noto-sans-regular;

    .anticon-loading {
      color: $white !important;
    }

    &:hover,
    &:focus {
      border-color: transparent !important;
      background-color: $green-darker !important;
      color: $white !important;
      box-shadow: none !important;
    }

    &.disabled {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }

  &--google {
    @extend .btn--large;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1) !important;
    border-radius: 4px !important;
    width: 230px !important;
    text-transform: unset !important;
    font-weight: 600 !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    height: 48px;
    font-size: 14px;
    font-family: $noto-sans-regular;

    &:hover,
    &:focus {
      border-color: #d9d9d9 !important;
      box-shadow: none !important;
      color: rgba(70, 70, 70, 0.6) !important;
    }

    .content-wrapper {
      display: flex;
      margin: 0 auto;

      .icon-wrapper {
        padding: 13px;
        svg {
          top: 1px;
          position: relative;
          height: 18px;
          width: 18px;
        }
      }

      .text-wrapper {
        line-height: 46px;
      }
    }
  }
}
