// This class is not meant to be used in the components.
.btn-link-base {
  font-size: 12px;
  letter-spacing: 0.01em;
  font-stretch: normal;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  user-select: none;
  vertical-align: middle;
  justify-content: center;
  border-color: $transparent;
  background-color: $transparent;
  border-width: 1px;
  box-sizing: border-box;
  box-shadow: none !important;
  outline: 0;
  margin: 0;

  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;

  @include transition(none);

  &:disabled,
  &.disabled,
  &.fake-disabled,
  &:hover:not(:disabled):not(.disabled):not(.fake-disabled),
  &:focus:not(:disabled):not(.disabled):not(.fake-disabled),
  &.hovered:not(:disabled):not(.disabled):not(.fake-disabled) {
    border-color: $transparent;
  }

  .icon {
    cursor: pointer;
    margin-right: 8px;

    &.caret {
      margin-left: 6px;
      padding-top: 1px;
      padding-bottom: 1px;
    }
  }
}

@mixin focus_border_color($c) {
  &:hover,
  &:focus {
    border-color: $border-color !important;
  }
}

@mixin disabled_border_color($c) {
  &:disabled,
  &.fake-disabled,
  &.disabled {
    border-color: $c !important;
  }
}

@mixin color_on_hover($c) {
  &:hover:not(:disabled):not(.disabled):not(.fake-disabled),
  &:focus:not(:disabled):not(.disabled):not(.fake-disabled),
  &.hovered:not(:disabled):not(.disabled):not(.fake-disabled) {
    color: $c;
  }
}

@mixin color_on_disabled($c: $disabled-color) {
  &:disabled,
  &.disabled,
  &.fake-disabled {
    color: $c;
  }
}

@mixin color_on_hover_and_disabled($c) {
  @include color_on_hover($c);
  @include color_on_disabled($c);
}

@mixin bg_color_on_hover($c) {
  &:hover:not(:disabled):not(.disabled):not(.fake-disabled),
  &:focus:not(:disabled):not(.disabled):not(.fake-disabled),
  &.hovered:not(:disabled):not(.disabled):not(.fake-disabled) {
    background-color: $c;
    background: $c;
  }
}

@mixin bg_color_on_disabled($c) {
  &:disabled,
  &.disabled,
  &.fake-disabled {
    background-color: $c;
    background: $c;
  }
}

@mixin bg_color_on_hover_and_disabled($c) {
  @include bg_color_on_hover($c);
  @include bg_color_on_disabled($c);
}

@mixin color($c) {
  color: $c;
}

@mixin bg_color($c) {
  background-color: $c;
  background: $c;
}

@mixin green() {
  @include color_set($green, $green-darker);
}

@mixin green_on_hover() {
  @include color_on_hover($green);
}

@mixin color_set($c, $h: lighten($c, 20%), $d: $disabled-color) {
  @include color($c);
  @include color_on_disabled($d);
  @include color_on_hover($h);

  .spinner {
    color: $c;
  }

  .anticon-loading {
    color: $c !important;
  }
}

@mixin bare_color_set($c, $h: lighten($c, 20%), $d: $disabled-color) {
  @include color_set($c, $h, $d);
  border-color: $transparent !important;

  &:hover,
  &:disabled,
  &.disabled,
  &.fake-disabled,
  &:focus {
    border-color: $transparent;
    background-color: $transparent;
  }
}

@mixin bg_color_set($c, $h: darken($c, 20%), $d: darken($c, 20%)) {
  @include bg_color($c);
  @include bg_color_on_disabled($d);
  @include bg_color_on_hover($h);
}

@mixin solid_color($c) {
  @include color_set($c, $c, $c);
}

@mixin primary() {
  @include bg_color_set($green, $green-darker, $green-darker);
  @include solid_color($white);
}

@mixin over() {
  @include bg_color_set(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
  @include solid_color($white);
}

@mixin danger() {
  @include bg_color_set($red, $red-darker, $red-darker);
  @include solid_color($white);
}

@mixin default() {
  @include bg_color_set(#ececec, darken(#ececec, 10%), darken(#ececec, 10%));
  @include solid_color($text-secondary);
}

.link {
  @extend .btn-link-base;
  font-family: $roboto;
  font-weight: 400;
  transition: none;
  background-color: $transparent;
  padding: 0;
  border: none !important;

  .icon {
    height: 1.5rem;
    width: 1.5rem;
    color: inherit;
  }

  color: $blue;
  &:hover {
    color: lighten($blue, 10%);
  }

  &--dark {
    color: $text-primary;
    text-transform: none !important;

    &:hover {
      color: lighten($text-primary, 10%);
    }
  }

  &--inline {
    font-size: inherit !important;
  }
}

@mixin button_size_standard() {
  @include standard_height_variants();

  &.xlarge {
    padding: 10px 12px;
    line-height: 20px;
    font-size: 16px;
  }

  &.large {
    padding: 10px 10px;
    line-height: 16px;
  }

  &.standard {
    padding: 8px 10px;
    line-height: 16px;
  }

  &.medium {
    padding: 7px 10px;
    line-height: 16px;
  }

  &.small {
    padding: 6px 8px;
    line-height: 16px;
  }
}

@mixin variant_icon_only() {
  min-width: 0px;
  @include vertical-flex-c();

  &.large {
    width: 42px;
    padding: 7px 10px;
  }

  &.standard {
    width: 38px;
    padding: 6px 9px;
  }

  &.medium {
    width: 36px;
    padding: 5px 8px;
  }

  &.small {
    width: 32px;
    padding: 4px 7px;
  }

  .icon {
    margin-right: 0px;
  }
}

.btn-base {
  @extend .btn-link-base;
  @include button_size_standard();
  font-family: $avenir;
  font-weight: 600;
  border-width: 1px;
  border: 1px solid $transparent;
  border-radius: 4px;
  display: inline-flex;
  color: $text-secondary;
  min-width: 0px;
}

.btn,
.ant-btn {
  @extend .btn-base;

  .spinner {
    height: 16px !important;
    width: 16px !important;
    aspect-ratio: 1;
    position: initial;
    margin-right: 8px;

    svg {
      height: 100% !important;
      width: auto !important;
    }
  }

  .icon {
    height: 100%;
    width: auto;
    color: inherit;
  }

  // A Button That Looks Like a <a> Link
  &--link {
    @extend .btn;
    color: $blue;
    padding: 0;
    text-decoration: none !important;
    height: auto;
    border: none !important;

    &:hover,
    &:focus {
      background-color: transparent;
    }

    .spinner {
      @include size(14px);
      color: $blue !important;
    }
  }

  &--default {
    @extend .btn;
    @include default();
  }

  &--default-icon-only {
    @extend .btn;
    @include default();
    @include variant_icon_only();
  }

  &--primary {
    @extend .btn;
    @include primary();
  }

  &--primary-icon-only {
    @extend .btn;
    @include primary();
    @include variant_icon_only();
  }

  &--over {
    @extend .btn;
    @include over();
    z-index: 10000;
  }

  &--danger {
    @extend .btn;
    @include danger();
  }

  &--icon-only {
    @extend .btn;
    padding: 0 !important;
    min-width: 0px;
    border-radius: 100px;
    @include vertical-flex-c();
    color: $icon-color;

    .icon {
      margin-right: 0px;
    }

    .spinner {
      height: 100% !important;
      width: 100% !important;
      margin-right: 0px;
    }

    .vertical-flex-c {
      height: 100%;
      width: auto;
    }

    @include bare_color_set($icon-color);
    @include standard_size_variants();

    &.icon-xsmall {
      .icon {
        height: 12px;
        width: auto;
      }
    }
    &.icon-small {
      .icon {
        height: 14px;
        width: auto;
      }
    }
    &.icon-medium {
      .icon {
        height: 16px;
        width: auto;
      }
    }
    &.icon-standard {
      .icon {
        height: 16px;
        width: auto;
      }
    }
    &.icon-large {
      .icon {
        height: 18px;
        width: auto;
      }
    }

    &.ag-grid-action-button {
      .icon {
        color: $green;
      }

      &:hover {
        background-color: rgba($green, 0.3);
      }

      &.disabled,
      &:disabled,
      &.fake-disabled {
        .icon {
          color: $disabled-color !important;
        }
        &:hover {
          background-color: transparent !important;
        }
      }
    }

    &.budget-table-menu {
      @include bare_color_set($text-secondary);
    }

    &.green {
      @include color_set($green, $green-darker);
    }

    &.green-hover {
      @include green_on_hover();
    }

    // Indicates that the icon button should take up the full size of it's
    // container and not include padding around the icon.
    &.fill {
      height: 100%;
      width: 100%;
      padding: 0px;
    }
  }

  &--new-row {
    @include color_set($green, $green-darker);
    padding: 0px !important;
    height: 18px !important;
    width: 18px !important;

    .icon {
      height: 18px !important;
      width: 18px !important;
    }
  }

  // The color of the button is set dynamically based on the group color.
  &--edit-group {
    &:hover {
      filter: brightness(95%);
      .icon {
        filter: brightness(95%);
      }
    }
  }

  &--square {
    border-radius: 0px !important;
  }

  &--rounded {
    border-radius: 50px !important;
  }

  &--clear-image {
    flex-direction: column;
    @include bare_color_set($text-primary);

    .icon {
      height: 14px;
      width: 14px;
    }

    svg {
      color: $white !important;
    }

    &:hover {
      svg {
        color: $white !important;
      }
    }
  }

  &--landing {
    @extend .btn;
    width: 230px !important;
  }

  &--login,
  &--reset,
  &--register {
    font-size: 18px;
  }

  &--clear,
  &--accept {
    @extend .btn;
    flex-direction: column;
    @include bare_color_set(#d2d2d2, #a5a5a5);

    .icon {
      height: 14px;
      width: 14px;
    }
  }

  &--google {
    @extend .btn;
    @include bg_color_set($white, $white, $white);
    @include solid_color($text-secondary);
    border-color: $border-color;

    text-transform: unset;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    line-height: 32px !important;
    font-size: 14px !important;

    @include focus_border_color($border-color);
    @include disabled_border_color($border-color);

    .content-wrapper {
      display: flex;
      margin: 0 auto;
      position: relative;

      .icon-wrapper {
        margin-right: 8px;

        .icon {
          position: relative;
          height: 18px;
          width: 18px;
        }
      }
    }
  }

  &--bare {
    @extend .btn;
    min-width: 0px;
    @include bare_color_set($text-secondary);

    &.budget-table-menu {
      @include bare_color_set($text-secondary, $green);
    }
  }

  &--entity-text {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
