@import "./mixins";

// This class is not meant to be used in the components.
.btn-link-base {
  font-size: 12px;
  letter-spacing: 0.028em;
  font-stretch: normal;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  user-select: none;
  vertical-align: middle;
  justify-content: center;
  border-color: $transparent !important;

  &:disabled,
  &.disabled,
  &.fake-disabled,
  &:hover:not(:disabled):not(.disabled):not(.fake-disabled),
  &:focus:not(:disabled):not(.disabled):not(.fake-disabled),
  &.hovered:not(:disabled):not(.disabled):not(.fake-disabled) {
    border-color: $transparent !important;
  }

  &.no-transform {
    text-transform: unset;
  }

  .icon {
    cursor: pointer;
    margin-right: 8px;

    &.caret {
      margin-left: 6px;
      padding-top: 1px;
      padding-bottom: 1px;
    }
  }
}

.icon {
  color: $icon-color;

  &--green {
    color: $green !important;
  }
}

.icon-wrapper {
  height: 100%;
  aspect-ratio: 1;
  width: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .icon {
    height: 100%;
    width: auto;
  }
}

@mixin color_on_hover($c) {
  &:hover:not(:disabled):not(.disabled):not(.fake-disabled),
  &:focus:not(:disabled):not(.disabled):not(.fake-disabled),
  &.hovered:not(:disabled):not(.disabled):not(.fake-disabled) {
    color: $c;
  }
}

@mixin color_on_disabled($c: $disabled-color) {
  &:disabled,
  &.disabled,
  &.fake-disabled {
    color: $c;
  }
}

@mixin color_on_hover_and_disabled($c) {
  @include color_on_hover($c);
  @include color_on_disabled($c);
}

@mixin bg_color_on_hover($c) {
  &:hover:not(:disabled):not(.disabled):not(.fake-disabled),
  &:focus:not(:disabled):not(.disabled):not(.fake-disabled),
  &.hovered:not(:disabled):not(.disabled):not(.fake-disabled) {
    background-color: $c;
    background: $c;
  }
}

@mixin bg_color_on_disabled($c) {
  &:disabled,
  &.disabled,
  &.fake-disabled {
    background-color: $c;
    background: $c;
  }
}

@mixin bg_color_on_hover_and_disabled($c) {
  @include bg_color_on_hover($c);
  @include bg_color_on_disabled($c);
}

@mixin color($c) {
  color: $c;
}

@mixin bg_color($c) {
  background-color: $c;
  background: $c;
}

@mixin green() {
  @include color_set($green, $green-darker);
}

@mixin green_on_hover() {
  @include color_on_hover($green);
}

@mixin color_set($c, $h: lighten($c, 20%), $d: $disabled-color) {
  @include color($c);
  @include color_on_disabled($d);
  @include color_on_hover($h);
}

@mixin bare_color_set($c, $h: lighten($c, 20%), $d: $disabled-color) {
  @include color_set($c, $h, $d);

  &:hover,
  &:disabled,
  &.disabled,
  &.fake-disabled,
  &:focus {
    border-color: $transparent;
    background-color: $transparent;
  }
}

@mixin bg_color_set($c, $h: darken($c, 20%), $d: darken($c, 20%)) {
  @include bg_color($c);
  @include bg_color_on_disabled($d);
  @include bg_color_on_hover($h);
}

@mixin solid_color($c) {
  @include color_set($c, $c, $c);
}

@mixin primary() {
  @include bg_color_set($green, $green-darker, $green-darker);
  @include solid_color($white);
}

@mixin danger() {
  @include bg_color_set($red, $red-darker, $red-darker);
  @include solid_color($white);
}

@mixin default() {
  @include bg_color_set(#ececec, darken(#ececec, 10%), darken(#ececec, 10%));
  @include solid_color($text-secondary);
}

.link {
  @extend .btn-link-base;
  color: $blue;
  font-family: $roboto;
  font-weight: 400;
  transition: none;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
  border: none !important;

  .icon {
    height: 1.5rem;
    width: 1.5rem;
    color: inherit;
  }

  &--black {
    color: $text-primary;
    text-transform: none !important;
  }

  &--inline {
    font-size: inherit !important;
  }

  // Links that are displayed immediately under a FormItem.  This is used in
  // the login/reset password pages.
  &--form-supplementary {
    color: #868686;
    font-family: $avenir;
    font-weight: 400;
    font-size: 14px;
    text-transform: unset !important;
    padding-left: 4px;

    &:hover,
    &:focus,
    &.disabled,
    &.fake-disabled,
    &:disabled {
      color: #cacaca !important;
    }
  }
}

.text-with-link {
  @extend .link;
  font-size: 12px;
  line-height: 14px;
  font-family: $roboto;
  font-weight: 400;
  transition: none;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
  border: none !important;
  color: $text-secondary;

  .text-embedded-link {
    margin-left: 3px;
    color: $blue;

    &:hover,
    &:focus,
    &:disabled,
    &.fake-disabled,
    &.disabled {
      color: rgba($blue, 0.6);
    }
  }
}

.btn,
.ant-btn {
  @extend .btn-link-base;
  font-family: $avenir;
  letter-spacing: 0.01em;
  font-weight: 600;
  padding: 8px 12px;
  min-width: 80px;
  height: 36px;
  line-height: 20px;
  border-radius: 4px;
  margin: 0;
  display: inline-flex;
  outline: 0;
  background: $white;
  border-color: #d9d9d9;
  border-width: 1px;
  color: $text-secondary;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);

  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;

  .spinner {
    color: $green;
    height: 16px !important;
    width: 16px !important;
    aspect-ratio: 1;
    position: initial;
    margin-right: 8px;

    svg {
      height: 100% !important;
      width: auto !important;
    }
  }

  .icon {
    height: 100% !important;
    width: auto !important;
    color: inherit;
  }

  &--large {
    @extend .btn;
    font-size: 20px;
    line-height: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: auto;
    width: 230px;
    font-family: $avenir;
    text-transform: unset;
    font-weight: 600;
  }

  &--small {
    @extend .btn;
    font-size: 11px;
    line-height: 18px;
    padding: 6px 12px;
    height: 30px;
  }

  // A Button That Looks Like a <a> Link
  &--link {
    @extend .btn;
    color: $blue;
    transition: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    min-width: 0;
    text-decoration: none !important;
    height: auto;
    border: none !important;

    &:hover,
    &:focus {
      background-color: transparent;
    }
  }

  &--default {
    @extend .btn;
    @include default();
  }

  &--primary {
    @extend .btn;
    @include primary();
  }

  &--danger {
    @extend .btn;
    @include danger();
  }

  &--icon-only {
    min-width: 0px;
    box-shadow: none !important;
    border-radius: 100px;
    border: 1px solid $transparent;
    background-color: $transparent;
    height: 36px;
    width: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6px;
    color: $icon-color;
    cursor: pointer;

    .icon {
      margin-right: 0px;
    }

    .spinner {
      height: 100% !important;
      width: 100% !important;
      margin-right: 0px;

      svg {
        height: 100% !important;
        width: auto !important;
      }
    }

    .vertical-flex-c {
      height: 100%;
      width: auto;
    }

    @include bare_color_set($icon-color);

    &.xxsmall {
      padding: 10px;
    }
    &.xsmall {
      padding: 9px;
    }
    &.small {
      padding: 8px;
    }
    &.medium {
      padding: 7px;
    }
    &.large {
      padding: 6px;
    }

    &.green {
      @include color_set($green, $green-darker);
    }

    &.green-hover {
      @include green_on_hover();
    }

    &.ag-grid-action-button {
      height: 26px;
      width: 26px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .icon {
        height: 16px;
        width: auto !important;
        color: $green;
      }

      &:hover {
        background-color: rgba($green, 0.3);
      }

      &.disabled,
      &:disabled,
      &.fake-disabled {
        .icon {
          color: $disabled-color !important;
        }
        &:hover {
          background-color: transparent !important;
        }
      }
    }
  }

  // The color of the button is set dynamically based on the group color.
  &--edit-group {
    &:hover {
      filter: brightness(95%);
      .icon {
        filter: brightness(95%);
      }
    }
  }

  &--square {
    border-radius: 0px !important;
  }

  &--rounded {
    border-radius: 50px !important;
  }

  &--clear-image {
    flex-direction: column;
    justify-content: center;
    @include bare_color_set($text-primary);

    .icon {
      height: 14px;
      width: 14px;
    }

    svg {
      color: $white !important;
    }

    &:hover {
      svg {
        color: $white !important;
      }
    }
  }

  &--login,
  &--reset {
    @extend .btn--large;
    border: 1px solid transparent;
    font-family: $avenir;
    font-weight: 600;

    .anticon-loading {
      color: $white !important;
    }

    @include primary();
    @include solid_color($white);
  }

  &--clear,
  &--accept {
    @extend .btn;
    flex-direction: column;
    justify-content: center;
    @include bare_color_set(#d2d2d2, #a5a5a5);

    .icon {
      height: 14px;
      width: 14px;
    }
  }

  &--google {
    @extend .btn--large;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1) !important;
    border-radius: 4px !important;
    width: 230px !important;
    text-transform: unset !important;
    font-weight: 600 !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    height: 48px;
    font-size: 14px;
    font-family: $avenir;

    @include color_on_disabled(rgba(70, 70, 70, 0.6));
    @include color_on_hover(rgba(70, 70, 70, 0.6));

    &:hover,
    &:focus,
    &:disabled,
    &.fake-disabled,
    &.disabled {
      border-color: #d9d9d9 !important;
      box-shadow: none !important;
    }

    .content-wrapper {
      display: flex;
      margin: 0 auto;

      .icon-wrapper {
        padding: 13px;

        .icon {
          top: 1px;
          position: relative;
          height: 18px;
          width: 18px;
        }
      }

      .text-wrapper {
        line-height: 49px;
      }
    }
  }

  &--bare {
    font-weight: 600;
    box-shadow: none !important;
    min-width: 0px;
    padding: 10px 12px;
    line-height: 16px;
    @include bare_color_set($text-secondary);
  }

  &--entity-text {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  &--budget-table-menu {
    padding: 6px 8px;
    line-height: 18px;
    height: 30px;

    @include bare_color_set($text-secondary, $green);

    .icon {
      height: 1.2rem !important;
    }
  }

  &--circle-icon {
    width: 36px;
    min-width: 36px;
    height: 36px;
    border-radius: 100px;
    padding: 7px;

    svg {
      height: 100% !important;
      width: 100% !important;
    }
  }
}
