// Generic Colors
$red: #d73a49;
$red-hover: #e2707b;
$red-alpha: #fff1f0;
$red-light: #ffdce0;

$green: #0fb767;
$green-light: #b7eb8f;
$green-alpha: #f6ffed;
$green-darker: #05a479;

$orange: #fd905f;
$orange-light: #ffd591;
$orange-alpha: #fff7e6;

$gold: #faad14;
$gold-light: #ffe58f;
$gold-alpha: #fffbe6;

$volcano: #fa541c;
$volcano-light: #ffbb96;
$volcano-alpha: #fff2e8;

$purple: #722ed1;
$purple-light: #d3adf7;
$purple-alpha: #f9f0ff;

$blue: #2182e4;
$blue-light: #91d5ff;
$blue-light-light: #caf1ff;
$blue-alpha: #e6f7ff;

$cyan: #13c2c2;
$cyan-light: #87e8de;
$cyan-alpha: #e6fffb;

$pink: #ef65b1;
$pink-light: #ffadd2;
$pink-alpha: #fff0f6;

$yellow: #efcd5d;

$white: #ffffff;
$hover: rgba(232, 232, 232, 0.5);
$off-white: #fbfbfb;
$black: #000000;
$gray-dark: #595959;
$gray: #b9b9b9;
$gray-hover: lighten($gray-dark, 20%);
$gray-light: #f7f7f7;
$gray-highlight: rgba(245, 245, 245, 0.4);
$transparent: rgba(0, 0, 0, 0);

// Typography Colors - These need to be revisited.
$text-primary: rgba(0, 0, 0, 0.85);
$text-secondary: #424242;
$text-tertiary: rgba(70, 70, 70, 0.85);

// Icon Colors
$icon-color: #737373;
$grid-icon-color: #bababa;
$disabled-color: #d3d3d3;

$separator-color: $gray-light;

.color {
  &--green {
    color: $green !important;
  }
  &--red {
    color: $red !important;
  }
}

.color-map {
  &--blue {
    color: $blue;
    background: $blue-alpha;
    border: 1px solid $blue-light-light !important;
  }
  &--green {
    color: $green;
    background: $green-alpha;
    border: 1px solid $green-light !important;
  }
  &--red {
    color: $red;
    background: $red-alpha;
    border: 1px solid $red-light !important;
  }
  &--orange {
    color: $orange;
    background: $orange-alpha;
    border: 1px solid $orange-light !important;
  }
  &--gold {
    color: $gold;
    background: $gold-alpha;
    border: 1px solid $gold-light !important;
  }
  &--volcano {
    color: $volcano;
    background: $volcano-alpha;
    border: 1px solid $volcano-light !important;
  }
  &--purple {
    color: $purple;
    background: $purple-alpha;
    border: 1px solid $purple-light !important;
  }
  &--cyan {
    color: $cyan;
    background: $cyan-alpha;
    border: 1px solid $cyan-light !important;
  }
  &--pink {
    color: $pink;
    background: $pink-alpha;
    border: 1px solid $pink-light !important;
  }
}
