// Generic Colors
$red: #d73a49;
$red-hover: #e2707b;
$red-alpha: #fff1f0;
$red-light: #ffdce0;

$green: #0fb767;
$green-light: #32D387;
$green-alpha: #f6ffed;
$green-darker: #05a479;

$orange: #fd905f;
$orange-light: #ffd591;
$orange-alpha: #fff7e6;

$blue: #2182e4;
$blue-light: #91d5ff;
$blue-light-light: #caf1ff;
$blue-alpha: #e6f7ff;

$yellow: #efcd5d;

$white: #ffffff;
$hover: rgba(232, 232, 232, 0.5);
$off-white: #fbfbfb;
$black: #000000;
$gray-dark: #595959;
$gray: #b9b9b9;
$gray-hover: lighten($gray-dark, 20%);
$gray-light: #f7f7f7;
$gray-highlight: rgba(245, 245, 245, 0.4);
$transparent: rgba(0, 0, 0, 0);

// Typography Colors - These need to be revisited.
$text-primary: #404152;
$text-secondary: #424242;
$text-tertiary: rgba(64, 65, 82, 0.85);

// Icon Colors
$icon-color: #737373;
$grid-icon-color: #bababa;
$disabled-color: #d3d3d3;

$separator-color: #e6e6e6;

$link-color: #40a9ff;

.color {
  &--green {
    color: $green !important;
  }
  &--red {
    color: $red !important;
  }
}
