@import "react-datepicker/dist/react-datepicker.css";

.react-datepicker {
	@extend .menu-base;
	font-family: $avenir;
  box-shadow: none !important;
	border: $menu-border;
	padding: 10px;

	&.disabled {
		opacity: 0.3;
		pointer-events: none !important;
	}

  &__month-container {
    float: none;
  }

  &__header {
    background-color: $white;
    border-bottom: none;
		padding: 0 !important;

    .react-datepicker {
      &__current-month {
        font-weight: 500;
				color: $text-primary;
				font-size: 15px;
				line-height: 16px;
      }

			&__day-names {
				margin-bottom: 0;

				.react-datepicker__day-name {
					color: $gray;
					font-weight: 500;
					margin: 2px;
					font-size: 13px;
				}
			}
    }
  }

  &__day-name,
  &__day,
  &__time-name {
    margin: 2px;
  }

  &__navigation {
    top: -7px;

    .react-datepicker {
      &__year-read-view--down-arrow,
      &__month-read-view--down-arrow,
      &__month-year-read-view--down-arrow,
      &__navigation-icon::before {
        border-width: 2px 2px 0 0;
        border-color: $gray;
      }
    }

    &.react-datepicker {
      &__navigation--previous {
        left: 22px;
      }
      &__navigation--next {
        right: 22px;
      }
    }
  }

  &__day {
    &.react-datepicker {
      &__day--today {
        font-weight: normal;
      }
      &__day--selected {
        background-color: rgba($green, 0.2);
        color: $green;
        border-radius: 100%;
      }
    }
  }

	&__month {
		margin: 0px;
	}


  &__day,
  &__month-text,
  &__quarter-text,
  &__year-text {
    border-radius: 100%;

    &:hover {
      border-radius: 100%;
    }
  }

  &__day--keyboard-selected {
    background-color: inherit;
    color: inherit;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}
