@import "./typography";
@import "./colors";

.dropdown-base {
  border: none;
  background-clip: padding-box !important;
  background-color: $white;
}

.ant-dropdown {
  @extend .dropdown-base;
}

.ant-select-dropdown {
  padding: 0px !important;
}
