.dropdown-base {
  border: none !important;
  background-clip: padding-box !important;
  background-color: $white !important;
  box-shadow: none !important;
}

.ant-dropdown {
  @extend .dropdown-base;
}

.ant-select-dropdown {
  padding: 0px !important;
}
