@import "style/typography";

.alert {
  padding: 8px 20px 8px 50px !important;
  border-radius: 6px;

  .ant-alert-icon {
    position: absolute;
    top: 10px !important;
    left: 20px !important;
    font-size: 16px !important;
  }

  .ant-alert-message {
    font-size: 14px !important;
    line-height: 16px !important;
    margin-bottom: 6px !important;
    color: $text-primary !important;
    font-family: $open-sans;
  }

  .ant-alert-description {
    font-size: 12px !important;
    line-height: 14px !important;
    font-family: $open-sans;
    font-weight: 400;
    color: $text-secondary !important;
  }
}
