form {
  width: 100%;
}

.label-base {
  font-size: 12px;
  line-height: 22px;
  color: $text-secondary;
  font-family: $avenir;
  font-weight: 600 !important;
  height: 36px !important;
}

.form-container {
  border-radius: 10px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.form {
  .form-alert-wrapper {
    margin-top: 15px;
    width: 100%;

    > .alert {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  .form-header {
    background: $white !important;
    padding-bottom: 12px;
    height: 108px;

    &.form-title {
      display: flex;
      align-items: center;
      font-size: 24px;
      line-height: 24px;
      font-family: $avenir !important;
      font-weight: 700 !important;
      color: $text-secondary !important;

      .icon {
        margin-right: 10px;
        color: $text-secondary !important;
      }
    }
  }

  .form-footer {
    margin-top: 15px;

    > * {
      &:first-child {
        margin-top: 0px !important;
      }
      &:last-child {
        margin-bottom: 0px !important;
      }
    }
  }

  .form-item {
    margin-bottom: 10px;

    &.form-item-section {
      .form-item {
        margin-bottom: 5px;
      }
    }

    &.condensed {
      margin-bottom: 5px;
      &.form-item-section {
        .form-item {
          margin-bottom: 0px;
        }
      }
    }

    // When a text field in a form has an error, do not give the text field a
    // red border and highlight the prefix icon red.
    &.ant-form-item-has-error {
      .input,
      .ant-input-affix-wrapper {
        border: none !important;
        .ant-input-prefix {
          color: unset !important;
        }
      }
    }

    > *:last-child {
      margin-bottom: 0px;
    }

    .ant-form-item-extra {
      margin-top: 4px;
    }

    .ant-form-item-label {
      font-family: $avenir !important;
      font-weight: 400 !important;
      color: $text-secondary !important;
      padding-left: 2px;

      & > label.ant-form-item-required:not(.ant-form-item-required-mark-optional) {
        margin-left: -3px;

        &:before {
          content: "";
        }
      }
    }

    .ant-form-item-control {
      width: 100%;

      .ant-form-item-extra {
        font-size: 12px;
        line-height: 12px;
        min-height: 12px;
        margin-top: 6px;
        font-family: $roboto;
        font-weight: 400;
      }
      .ant-form-item-control-input {
        min-height: 36px;
      }
    }

    // Alerts/feedback that go underneath the form control.
    .ant-form-item-explain {
      min-height: 12px;
      div[role="alert"] {
        margin-top: 5px;
        font-size: 11px;
        line-height: 12px;
        margin-left: 5px;
      }
    }

    &.condensed {
      .form-item {
        margin-bottom: 5px;

        &.form-item-section {
          .form-item {
            margin-bottom: 0px;
          }
        }
      }
    }
  }

  .form-column-item {
    .icon-wrapper {
      width: 22px;
      padding: 6px;
      padding-left: 0px;
    }
  }

  .ant-form-item-has-error {
    .ant-form-item-control {
      .ant-form-item-control-input {
        .ant-form-item-control-input-content {
          .ant-input,
          .ant-input-affix-wrapper,
          .ant-input:hover,
          .ant-input-affix-wrapper:hover {
            border: 1px solid $red;
          }
          .ant-input-affix-wrapper {
            .ant-input,
            .ant-input:hover {
              border: none !important;
            }
          }
        }
      }
      .ant-form-item-explain.ant-form-item-explain-error {
        color: $red;
      }
    }
  }
}

label,
.label {
  @extend .label-base;

  &--section {
    font-size: 13px;
    color: $text-primary;
  }
}

.ant-form-item-label {
  padding-bottom: 0px !important;
  height: 36px;

  label,
  .label {
    @extend .label-base;
    margin-bottom: 2px;

    &::after {
      content: "" !important;
      position: relative;
      top: -0.5px;
      margin: 0 8px 0 2px;
    }

    &--section {
      margin-bottom: 8px;
      font-size: 13px;
      color: $text-primary;
    }
  }
}

.ant-form-vertical .ant-form-item:last-child {
  margin-bottom: 0px !important;
}

.ant-switch {
  background-color: $gray-light;
  .ant-switch-inner {
    color: $black;
    font-size: 8px;
    font-weight: bold;
  }

  &.ant-switch-checked {
    background-color: $green;

    .ant-switch-inner {
      color: $white;
    }
  }
}

.ant-form-vertical {
  .ant-form-item {
    // For horizontally laid out forms, where the label is to the left of the
    // field, the label must still be 36px in height to align properly with the
    // fields which are also 36px.
    .ant-form-item-label {
      height: 26px !important;
      label {
        height: 26px !important;
      }
    }
  }
}
