.icon {
  color: $icon-color;

  &--green {
    color: $green !important;
  }
}

.icon-wrapper {
  width: auto;
  position: relative;
  @include vertical-flex-c();

  .icon {
    height: 100%;
    width: auto;
  }
}
