@import "./_imports";
@import "./input";
@import "./typography";
@import "./layout";
@import "./buttons";
@import "./forms";
@import "./tooltips";
@import "./popovers";
@import "./dropdowns";
@import "./modals";
@import "./notifications";
@import "./menus";
@import "./tagging";
@import "./image";
@import "./filepond";
@import "./tabling/index";
@import "./pagination";
@import "./util";
@import "./fancybox";
@import "./icons";
@import "./loading";

@import "~antd/dist/antd.css";
@import "filepond/dist/filepond.min.css";
@import "@fancyapps/ui/dist/fancybox.css";

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.empty {
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: center;
  display: flex;
  flex-direction: column;

  .ant-empty-image {
    height: 50px;
    margin-bottom: 8px;
  }

  .ant-empty-description {
    font-size: 13px;
    color: $text-secondary;
    font-family: $avenir;
    font-weight: 400;
  }
}

.full-size {
  height: 100% !important;
  width: 100% !important;
}

.disabled {
  pointer-events: none !important;
  box-shadow: none !important;
  cursor: pointer;
}

.fake-disabled {
  box-shadow: none !important;
  cursor: pointer !important;
}

.ant-checkbox {
  top: 0rem !important;
}

svg {
  vertical-align: 0 !important;
}
