@import "./mixins";
@import "./variables";

@import "./components";
@import "./layout";
@import "./pages";
@import "./tabling";
@import "./typography";

@import "~antd/dist/antd.css";
@import "filepond/dist/filepond.min.css";

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.empty {
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  @include vertical-flex-c();

  .ant-empty-image {
    height: 50px;
    margin-bottom: 8px;
  }

  .ant-empty-description {
    font-size: 13px;
    color: $text-secondary;
    font-family: $avenir;
    font-weight: 400;
  }
}

.full-size {
  height: 100% !important;
  width: 100% !important;
}

.disabled {
  pointer-events: none !important;
  box-shadow: none !important;
  cursor: pointer;
}

.fake-disabled {
  box-shadow: none !important;
  cursor: pointer !important;
}

svg {
  vertical-align: 0 !important;
}
