@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap&family=Open+Sans:wght@300;400;600;700&display=swap');

@import './colors';
@import './typography';
@import './drawers';
@import './input';
@import './layout';
@import './buttons';
@import './input';
@import './forms';
@import './tooltips';
@import './dropdowns';
@import './tables';
@import './modals';
@import './feedback';

@import '~react-toastify/dist/ReactToastify.css';
@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.empty {
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: center;
  display: flex;
  flex-direction: column;

  .ant-empty-image {
    height: 50px;
    margin-bottom: 8px;
  }
  .ant-empty-description {
    font-size: 13px;
    color: $text-secondary;
    font-family: $open-sans;
    font-weight: 400;
  }
}

.ant-checkbox {
  top: 0rem !important;
}
