@import "./mixins";
@import "./variables";

@import "./components";
@import "./layout";
@import "./pages";
@import "./tabling";
@import "./typography";

@import "~antd/dist/antd.css";
@import "filepond/dist/filepond.min.css";

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.empty {
  @include vertical-flex-c;

  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 15px;

  .ant-empty-image {
    height: 50px;
    margin-bottom: 8px;
  }

  .ant-empty-description {
    color: $text-secondary;
    font-family: $avenir;
    font-size: $standard-body-font-size;
    font-weight: 400;
  }
}

.full-size {
  @include size(100% !important);
}

.disabled {
  box-shadow: none !important;
  cursor: pointer;
  pointer-events: none !important;
}

.fake-disabled {
  box-shadow: none !important;
  cursor: pointer !important;
}

svg {
  vertical-align: 0 !important;
}
