@import "./colors";

// Input Fields
$input-border-radius: 8px;

// This is to get rid of the blue-background that Chrome sometimes sets on
// auto-fill fields.
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
input.ant-input:focus,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px $gray-light inset !important;
}

form {
  width: 100%;
}

// This class is not meant to be used in the components.
.input-base {
  border-radius: 0px;
  border: none;
  background-color: $gray-light !important;
  color: $text-secondary;
  cursor: text;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  font-family: $noto-sans-regular;
  width: 100%;
  padding: 8px 11px;
  line-height: 20px;
}

input.ant-input, .ant-input-affix-wrapper, .input {
  @extend .input-base;
}

.ant-input-affix-wrapper {
  border-radius: $input-border-radius;
  border: none;
}

.ant-input-prefix {
  margin-right: 12px;
}

.input {
  .ant-input-wrapper {
    .ant-input-group-addon {
      background-color: #f7f7f7 !important;
      border: none;
      .anticon {
        color: $text-secondary;
      }
    }
    input.ant-input {
      border-left: none;
    }
  }
}
