.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $app-background-color;
  font-family: $avenir;
  font-weight: 400;
  overflow-y: hidden;

  #application-spinner-container {
    z-index: 1000;
    height: 30px;
    width: 30px;
    position: fixed;
    top: calc(50vh - 15px);
    left: calc(50vw - 15px);

    .application-spinner {
      z-index: 1000;
      height: 30px;
      width: 30px;

      .anticon {
        height: 100%;
        width: 100%;

        svg {
          height: 100%;
          width: auto;
          color: $green !important;
        }
      }
    }
  }

  // Landing Content - Container for the main content that gets displayed
  // outside of the logged in application.  This is for thinks like login,
  // reset password, etc.
  .landing {
    height: 100vh;
    overflow-y: hidden;
  }

  @mixin include_content_layout_dimensions($sidebar-width, $sidebar_hidden, $header-h) {
    $margin-left: $sidebar-width;
    @if $sidebar_hidden {
      $margin-left: 0px;
    }

    // Note: We cannot simply use width: 100% when the sidebar is visible because
    // the sidebar has fixed positioning.
    $width: calc(100vw - #{$sidebar-width});
    @if $sidebar_hidden {
      $width: 100%;
    }

    .layout-content {
      margin-left: $margin-left;

      .header {
        height: $header-h;
        width: $width !important;
      }
      .content {
        margin-top: $header-h;
        height: calc(100vh - #{$header-h});
        overflow-y: hidden;
      }
    }
  }

  @mixin calculate_layout_dimensions($collapsed, $sidebar_hidden, $mobile: false) {
    $sidebar-width: 260px;
    @if $collapsed {
      $sidebar-width: 60px;
    } @else if $mobile {
      // On mobile devices, the sidebar (when visible) takes up the full width
      // of the screen.
      $sidebar-width: 100%;
    }

    $sidebar-margin-left: 0px;
    @if $sidebar_hidden {
      $sidebar-margin-left: -#{$sidebar-width};
    }

    .sidebar-container {
      max-width: $sidebar-width; // Might not be needed?
      width: $sidebar-width;
      margin-left: $sidebar-margin-left;
    }

    @include include_content_layout_dimensions($sidebar-width, $sidebar_hidden, $header-height);
    &.layout--budget {
      @include include_content_layout_dimensions($sidebar-width, $sidebar_hidden, calc(#{$header-height} + 30px));
    }
  }

  @mixin device_layout_dimensions($collapsed, $sidebar_hidden) {
    @include calculate_layout_dimensions($collapsed, $sidebar_hidden);
    @include media("<=medium") {
      @include calculate_layout_dimensions($collapsed, $sidebar_hidden, true);
    }
  }

  @mixin layout_dimensions($collapsed) {
    @include device_layout_dimensions($collapsed, true);
    &.sidebar-visible {
      @include device_layout_dimensions($collapsed, false);
    }
  }

  @mixin collapsed_layout_dimensions() {
    @include layout_dimensions(true);
  }

  @mixin expanded_layout_dimensions() {
    @include layout_dimensions(false);
  }

  // App Content - Container for the main content that gets displayed inside
  // the logged in application.
  .layout {
    height: 100vh;
    overflow-y: hidden;
    min-height: 100vh;

    @include expanded_layout_dimensions();
    &.collapsed-layout {
      @include collapsed_layout_dimensions();
    }

    .sidebar-container {
      background: $sidebar-background-color;
      position: fixed;
      height: 100vh;
      @include transition(margin-left 0.2s ease-out);
    }

    &.collapsed-layout {
      .sidebar-container {
        // This is important to align the sidebar toggle button in the header.
        padding-top: 8px;
      }
    }

    .layout-content {
      display: flex;
      flex-direction: column;
      overflow-y: hidden;

      @include transition(margin-left 0.2s ease-out);

      .header {
        margin-top: auto;
        line-height: unset !important;
        position: fixed !important;
        top: 0 !important;
        padding-left: 15px;
        padding-right: 20px;
        background-color: $header-background-color !important;

        @include transition(width 0.2s ease-out);
      }

      .content {
        display: flex;
        flex-direction: row;

        .sub-content {
          overflow-y: hidden;
          display: flex;
          flex-direction: column;
          padding: 10px 15px;
          flex-grow: 100;

          .page {
            display: flex;
            flex-direction: column;
            flex-grow: 100;

            // The budget card box shadow is getting cut off by the sub-content parent.
            // This negative margin hack is needed to display the box shadow nad keep our
            // preferred spacing
            padding-left: 15px;
            margin-left: -15px;
            padding-top: 15px;
            margin-top: -15px;

            .page-content {
              width: 100%;
              flex-grow: 100;

              // Required for non-table pages to get the content area to scroll.
              // But this cuts off the budget card box shadow so we need this negative margin hack.
              &.scrollable {
                overflow-y: scroll;
                padding-left: 15px;
                margin-left: -15px;
                padding-top: 15px;
                margin-top: -15px;
                padding-right: 15px;
                margin-right: -15px;
              }
            }

            .page-footer {
              display: flex;
              margin-top: 20px;

              .ant-pagination {
                margin: 0 auto;
              }
            }
          }
        }
        // This is the container for any side drawers that may be toggled
        // into and out of visibility on the screen.
        .drawer-wrapper {
          max-height: 100%;
          max-width: 400px;
          @include transition(0.3s cubic-bezier(0.7, 0.3, 0.1, 1));

          .drawer {
            width: 100%;
            height: 100%;
            max-height: 100%;
            display: flex;
            flex-direction: column;
            padding: 15px 15px 15px 0px;

            .drawer-content {
              padding: 20px 10px;
              flex-grow: 100;
              overflow-y: scroll;

              &.no-padding {
                padding-left: 0px !important;
                padding-right: 0px !important;
              }
            }

            .drawer-footer {
              &.no-padding {
                padding-left: 0px !important;
                padding-right: 0px !important;
              }
            }
          }
        }
      }
    }
  }
}

// Panels and Cards
.card-base {
  background: $white;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 100%;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.ant-card {
  @extend .card-base;
}

.display {
  &--none {
    display: none !important;
  }
  &--inline {
    display: inline !important;
  }
  &--flex {
    display: flex !important;
  }
  &--block {
    display: block !important;
  }
  &--inline-block {
    display: inline-block !important;
  }
}

.float {
  &--left {
    float: left !important;
  }
  &--right {
    float: right !important;
  }
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.mb {
  &--0 {
    margin-bottom: 0px !important;
  }
  &--5 {
    margin-bottom: 5px !important;
  }
  &--10 {
    margin-bottom: 10px !important;
  }
  &--15 {
    margin-bottom: 15px !important;
  }
  &--20 {
    margin-bottom: 20px !important;
  }
  &--25 {
    margin-bottom: 25px !important;
  }
  &--30 {
    margin-bottom: 30px !important;
  }
}

.mt {
  &--0 {
    margin-top: 0px !important;
  }
  &--3 {
    margin-top: 3rem !important;
  }
  &--5 {
    margin-top: 5px !important;
  }
  &--10 {
    margin-top: 10px !important;
  }
  &--15 {
    margin-top: 15px !important;
  }
  &--20 {
    margin-top: 20px !important;
  }
  &--25 {
    margin-top: 25px !important;
  }
  &--30 {
    margin-top: 30px !important;
  }
}

.ml {
  &--0 {
    margin-left: 0px !important;
  }
  &--3 {
    margin-left: 3px !important;
  }
  &--5 {
    margin-left: 5px !important;
  }
  &--6 {
    margin-left: 6px !important;
  }
  &--8 {
    margin-left: 8px !important;
  }
  &--10 {
    margin-left: 10px !important;
  }
  &--15 {
    margin-left: 15px !important;
  }
  &--20 {
    margin-left: 20px !important;
  }
  &--25 {
    margin-left: 25px !important;
  }
  &--30 {
    margin-left: 30px !important;
  }
}

.mr {
  &--0 {
    margin-right: 0px !important;
  }
  &--3 {
    margin-right: 3px !important;
  }
  &--5 {
    margin-right: 5px !important;
  }
  &--6 {
    margin-right: 6px !important;
  }
  &--8 {
    margin-right: 8px !important;
  }
  &--10 {
    margin-right: 10px !important;
  }
  &--15 {
    margin-right: 15px !important;
  }
  &--20 {
    margin-right: 20px !important;
  }
  &--25 {
    margin-right: 25px !important;
  }
  &--30 {
    margin-right: 30px !important;
  }
}
