.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $app-background-color;
  font-family: $avenir;
  font-weight: 400;
  overflow-y: hidden;

  #application-spinner-container {
    z-index: 1000;
    @include size(30px);
    position: fixed;
    top: calc(50vh - 15px);
    left: calc(50vw - 15px);

    .application-spinner {
      z-index: 1000;
      @include size(30px);

      .anticon {
        @include size(100%);

        svg {
          height: 100%;
          width: auto;
          color: $green !important;
        }
      }
    }
  }

  // Landing Content - Container for the main content that gets displayed
  // outside of the logged in application.  This is for thinks like login,
  // reset password, etc.
  .landing {
    height: 100vh;
    overflow-y: hidden;
  }

  @mixin include_content_layout_dimensions($sidebar-width, $sidebar_hidden, $header-h) {
    $margin-left: $sidebar-width;
    @if $sidebar_hidden {
      $margin-left: 0px;
    }

    // Note: We cannot simply use width: 100% when the sidebar is visible because
    // the sidebar has fixed positioning.
    $width: calc(100vw - #{$sidebar-width});
    @if $sidebar_hidden {
      $width: 100%;
    }

    .layout-content {
      margin-left: $margin-left;

      .header {
        height: $header-h;
        width: $width !important;
      }
      .content {
        overflow-y: hidden;
      }
    }
  }

  @mixin calculate_layout_dimensions($collapsed, $sidebar_hidden, $mobile: false, $sidebar: true) {
    $sidebar-width: 0px;

    @if $sidebar {
      $sidebar-width: 260px;
      @if $collapsed {
        $sidebar-width: 60px;
      } @else if $mobile {
        // On mobile devices, the sidebar (when visible) takes up the full width
        // of the screen.
        $sidebar-width: 100%;
      }
    }

    $sidebar-margin-left: 0px;
    @if $sidebar_hidden {
      $sidebar-margin-left: -#{$sidebar-width};
    }

    .sidebar-container {
      max-width: $sidebar-width; // Might not be needed?
      width: $sidebar-width;
      margin-left: $sidebar-margin-left;
    }

    @include include_content_layout_dimensions($sidebar-width, $sidebar_hidden, $header-height);
    &.layout--budget {
      @include include_content_layout_dimensions(
        $sidebar-width,
        $sidebar_hidden,
        calc(#{$header-height} + 30px)
      );
    }
  }

  @mixin device_layout_dimensions($collapsed, $sidebar_hidden, $sidebar: true) {
    @include calculate_layout_dimensions($collapsed, $sidebar_hidden, false, $sidebar);
    @include media("<=medium") {
      @include calculate_layout_dimensions($collapsed, $sidebar_hidden, true, $sidebar);
    }
  }

  @mixin layout_dimensions($collapsed, $sidebar: true) {
    @include device_layout_dimensions($collapsed, true, $sidebar);
    &.sidebar-visible {
      @include device_layout_dimensions($collapsed, false, $sidebar);
    }
  }

  @mixin collapsed_layout_dimensions($sidebar: true) {
    @include layout_dimensions(true, $sidebar);
  }

  @mixin expanded_layout_dimensions() {
    @include layout_dimensions(false);
  }

  // App Content - Container for the main content that gets displayed inside
  // the logged in application.
  .layout {
    height: 100vh;
    overflow-y: hidden;
    min-height: 100vh;

    @include expanded_layout_dimensions();
    &--collapsed {
      @include collapsed_layout_dimensions();

      &.without-sidebar {
        @include collapsed_layout_dimensions(false);
      }

      .sidebar-container {
        // This is important to align the sidebar toggle button in the header.
        padding-top: 8px;
      }
    }

    .sidebar-container {
      background: $app-alt-background-color;
      position: fixed;
      height: 100vh;
      @include transition(margin-left 0.2s ease-out);
    }

    .layout-content {
      display: flex;
      flex-direction: column;
      overflow-y: hidden;
      height: 100vh;

      @include transition(margin-left 0.2s ease-out);

      .header {
        margin-top: 0;
        line-height: unset !important;
        top: 0 !important;
        padding-left: 15px;
        padding-right: 20px;
        background-color: $header-background-color !important;

        @include transition(width 0.2s ease-out);
      }

      .content {
        display: flex;
        flex-direction: row;
        flex-grow: 100;

        .drawer {
          max-width: 300px;
          overflow-y: hidden;
          display: flex;
          flex-direction: column;
          padding: 35px 15px 15px 15px;
          border: $border;
          position: relative;

          .btn--drawer-close {
            position: absolute;
            top: 5px;
            right: 5px;
            @include size(26px);
          }

          .drawer-content {
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
          }
        }

        .sub-content {
          overflow-y: hidden;
          display: flex;
          flex-direction: column;
          padding: 10px 15px;
          flex-grow: 100;

          .page {
            display: flex;
            flex-direction: column;
            flex-grow: 100;

            .page-content {
              width: 100%;
              flex-grow: 100;
              overflow-x: hidden;

              &.scrollable {
                overflow-y: scroll;
                padding-right: 15px;
              }
            }

            .page-footer {
              display: flex;
              margin-top: 20px;

              .ant-pagination {
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
  }
}
