$menu-border-color: #efefef;
$menu-border: 1px solid $menu-border-color;

.menu-base {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  font-feature-settings: "tnum";
  margin-bottom: 0;
  padding-left: 0;
  color: $text-secondary;
  font-size: 14px;
  line-height: 0;
  text-align: left;
  list-style: none;
  background: $white;
  outline: none;
  box-shadow: none !important;
  transition: background 0.3s, width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
  width: 100%;
  background-color: $white;
}

.menu-item-base {
  margin-top: 0px;
  color: $text-secondary !important;
  font-family: $roboto;
  font-weight: 400;
  min-width: 100px;
  padding: 3px 12px;
  font-size: 13px;
  line-height: 24px;
  height: 30px;
  margin-bottom: 0px !important;

  &.ant-menu-item-selected {
    background-color: $white;
  }
  &.selected {
    background-color: #fbfbfb !important;
  }
  &:hover:not(.selected) {
    background-color: #fbfbfb !important;
  }
  &.disabled {
    cursor: not-allowed !important;
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.menu-wrapper {
  background-color: $white;
  border: $menu-border;

  .menu {
    border: none !important;
  }

  .btn-container {
    width: 100%;
    padding: 8px;

    > .btn--menu {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}

.menu {
  @extend .menu-base;
}

.menu-item {
  @extend .menu-item-base;
  display: flex;

  .ant-checkbox-wrapper {
    height: 24px !important;
    width: 24px;
    padding: 4px;
    padding-left: 0px;
    position: relative;
    bottom: 1px;

    .ant-checkbox {
      display: block;
    }
  }

  span.text-wrapper {
    font-family: $roboto;
    font-size: 13px;
    color: $text-primary !important;
    line-height: 30px;
  }

  &.selected {
    span.text-container {
      color: $text-primary !important;
    }
  }
}

.ag-theme-alpine .ag-popup-editor {
  @extend .dropdown-base;
  background-clip: unset !important;
  border-color: $menu-border-color !important;
  border: $menu-border !important;
  box-shadow: none !important;

  .ant-menu {
    border-radius: 0px !important;

    &.ant-menu-inline,
    &.ant-menu-vertical,
    &.ant-menu-vertical-left {
      border-right: none !important;
    }
  }
}
