@import "./variables";

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin vertical-flex-c() {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin size($value) {
  height: $value;
  width: $value;
}

$standards: (
  "xlarge": $xlarge-size,
  "large": $large-size,
  "standard": $standard-size,
  "medium": $medium-size,
  "small": $small-size,
  "xsmall": $xsmall-size,
);

@function standard($metric: "standard", $map: $standards) {
  @return map-get($map, $metric);
}

@mixin standard_height($metric: "standard", $map: $standards) {
  height: standard($metric, $map);
}

@mixin standard_width($metric: "standard", $map: $standards) {
  width: standard($metric, $map);
}

@mixin standard_size($metric: "standard", $map: $standards) {
  @include standard_height($metric, $map);
  @include standard_width($metric, $map);
}

@mixin standard_height_variants($map: $standards) {
  @include standard_height("standard", $map);

  &.xlarge {
    @include standard_height("xlarge", $map);
  }

  &.large {
    @include standard_height("large", $map);
  }

  &.standard {
    @include standard_height("standard", $map);
  }

  &.medium {
    @include standard_height("medium", $map);
  }

  &.small {
    @include standard_height("small", $map);
  }

  &.xsmall {
    @include standard_height("xsmall", $map);
  }
}

@mixin standard_width_variants($map: $standards) {
  @include standard_width("standard", $map);

  &.xlarge {
    @include standard_width("xlarge", $map);
  }

  &.large {
    @include standard_width("large", $map);
  }

  &.standard {
    @include standard_width("standard", $map);
  }

  &.medium {
    @include standard_width("medium", $map);
  }

  &.small {
    @include standard_width("small", $map);
  }

  &.xsmall {
    @include standard_width("xsmall", $map);
  }
}

@mixin standard_size_variants($map: $standards) {
  @include standard_height_variants($map);
  @include standard_width_variants($map);
}
