@import "style/colors";
@import "style/typography";

.ant-modal-content {
  border-radius: 10px;

  .ant-modal-header {
    padding-top: 36px;
    padding-bottom: 24px;
    padding-left: 36px;
    padding-right: 36px;
    height: 84px;

    background: $white !important;
    border-bottom: none !important;
    border-radius: 10px 10px 0 0;

    .ant-modal-title {
      font-size: 24px;
      line-height: 24px;
      font-family: $open-sans !important;
      font-weight: 700 !important;
      color: $text-secondary !important;
    }
  }

  .ant-modal-close-x {
    padding-top: 40px;
    padding-bottom: 28px;
    padding-left: 36px;
    padding-right: 36px;
    height: 84px;
    width: 88px;
    position: relative;

    > * {
      display: block;
    }
    svg {
      height: 16px;
      width: 16px;
      color: $text-secondary !important;
    }
  }

  .ant-modal-body {
    padding: 10px 36px;
  }

  .ant-modal-footer {
    border-top: none !important;
    padding-top: 12px;
    padding-right: 36px;
    padding-bottom: 36px;
    padding-left: 36px;
  }
}