@mixin pagination_theme($color, $active-color, $text-color: null) {
	$textcolor: $color;
  @if $text-color != null {
    $textcolor: $text-color
  }

	.ant-pagination-prev, .ant-pagination-next, .ant-pagination-jump-prev, .ant-pagination-jump-next {
		border-color: $color;
	}

	.ant-pagination-item {
		border-color: $color;
		a {
			color: $textcolor;
		}
	}

	.ant-pagination-item-active {
    border-color: $active-color;

    a {
      color: $active-color;
    }
  }

  .ant-pagination-item {
    &:focus-visible,
    &:hover,
    &:focus {
      border-color: $active-color;
      a {
        color: $active-color;
      }
    }
  }

	.ant-pagination-prev:focus-visible .ant-pagination-item-link,
  .ant-pagination-next:focus-visible .ant-pagination-item-link,
  .ant-pagination-prev:hover .ant-pagination-item-link,
  .ant-pagination-next:hover .ant-pagination-item-link {
    color: $active-color;
    border-color: $active-color;
  }
}

.ant-pagination {
	@include pagination_theme(#EFEFEF, $green);
}

.pagination {
	&.small {
		.ant-pagination-prev, .ant-pagination-next, .ant-pagination-jump-prev, .ant-pagination-jump-next {
			height: 24px;
			min-width: 24px;
		}
		.ant-pagination-item {
			height: 24px;
			min-width: 24px;
			line-height: 22px;
		}
		.ant-pagination-item-link {
			line-height: 24px;
		}
	}
	&.subtle {
		@include pagination_theme($field-border-color, $gray-dark, $gray-light);
	}
}
