@import "react-datepicker/dist/react-datepicker.css";

.react-datepicker {
  font-family: $avenir;
  min-width: 310px;
  padding: 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 2px 10px #b3b3b3;

  .react-datepicker__month-container {
    float: none;
  }

  .react-datepicker__header {
    background-color: $white;
    border-bottom: 1px solid $gray-light;

    .react-datepicker__current-month {
      margin-bottom: 20px;
      font-weight: 600;
    }

    .react-datepicker__day-name {
      color: $gray;
      font-weight: 600;
    }
  }

  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    margin: 4px;
  }

  .react-datepicker__navigation {
    top: 25px;

    .react-datepicker__year-read-view--down-arrow,
    .react-datepicker__month-read-view--down-arrow,
    .react-datepicker__month-year-read-view--down-arrow,
    .react-datepicker__navigation-icon::before {
      border-width: 2px 2px 0 0;
      border-color: $gray;
    }

    &.react-datepicker__navigation--previous {
      left: 10px;
    }

    &.react-datepicker__navigation--next {
      right: 10px;
    }
  }

  .react-datepicker__day.react-datepicker__day--selected {
    background-color: rgba($green, 0.2);
    color: $green;
    border-radius: 100%;
  }

  .react-datepicker__day,
  .react-datepicker__month-text,
  .react-datepicker__quarter-text,
  .react-datepicker__year-text {
    border-radius: 100%;

    &:hover {
      border-radius: 100%;
    }
  }
}

// this fixes a bug/questionable styling choice where every month has today selected. See https://github.com/Hacker0x01/react-datepicker/issues/2930.
.react-datepicker__day--keyboard-selected {
  background-color: inherit;
  color: inherit;

  &:hover {
    background-color: #f0f0f0;
  }
}
