@import "react-datepicker/dist/react-datepicker.css";

.react-datepicker {
  font-family: $avenir;
  min-width: 310px;
  padding: 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 2px 10px #b3b3b3;

  &__month-container {
    float: none;
  }

  &__header {
    background-color: $white;
    border-bottom: 1px solid $gray-light;

    .react-datepicker {
      &__current-month {
        margin-bottom: 20px;
        font-weight: 600;
      }

      &__day-name {
        color: $gray;
        font-weight: 600;
      }
    }
  }

  &__day-name,
  &__day,
  &__time-name {
    margin: 4px;
  }

  &__navigation {
    top: 25px;

    .react-datepicker {
      &__year-read-view--down-arrow,
      &__month-read-view--down-arrow,
      &__month-year-read-view--down-arrow,
      &__navigation-icon::before {
        border-width: 2px 2px 0 0;
        border-color: $gray;
      }
    }

    &.react-datepicker {
      &__navigation--previous {
        left: 10px;
      }
      &__navigation--next {
        right: 10px;
      }
    }
  }

  &__day {
    &.react-datepicker {
      &__day--today {
        font-weight: normal;
      }
      &__day--selected {
        background-color: rgba($green, 0.2);
        color: $green;
        border-radius: 100%;
      }
    }
  }

  &__day,
  &__month-text,
  &__quarter-text,
  &__year-text {
    border-radius: 100%;

    &:hover {
      border-radius: 100%;
    }
  }

  // this fixes a bug/questionable styling choice where every month has today selected. See https://github.com/Hacker0x01/react-datepicker/issues/2930.
  &__day--keyboard-selected {
    background-color: inherit;
    color: inherit;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}
