@import "./colors";

@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-alpine.css';

.ag-theme-alpine {
  font-family: $roboto-regular;

  /* Note:
     Numeric columns prop causes some headers to be right aligned.
     We want to overwrite that to keep all columns left aligned:
  */
  .ag-right-aligned-header div.ag-header-cell-label {
    justify-content: flex-end !important;
  }
  div[role='gridcell'] {
    background-color: $white;
  }
  .ag-layout-auto-height .ag-center-cols-clipper,
  .ag-layout-auto-height .ag-center-cols-container,
  .ag-layout-print .ag-center-cols-clipper,
  .ag-layout-print .ag-center-cols-container {
    min-height: 0px !important;
  }
  .ag-root-wrapper {
    border: none;
  }
  .ag-header {
    border: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-family: $noto-sans-light !important;
  }
  .ag-row {
    background: $white !important;
    border-color: 1px solid $gray-light !important;
  }
  .ag-row-hover div[role=gridcell] {
    background-color: $gray-highlight !important;
  }
  .ag-row-hover div[role='gridcell'],
  .ag-row-hover div[col-id='estimated'][role='gridcell'],
  .ag-row-hover div[col-id='actuals'][role='gridcell'] {
    background-color: $gray-highlight !important;
  }
  .ag-header-cell-text {
    color: $text-secondary;
  }
  .ag-cell-range-selected {
    background-color: $white !important;
  }
  div.ag-cell-value[col-id='lineNumber'] {
    padding: 0;
  }
  div[role='gridcell'] {
    border-right: 1px solid $gray-light !important;
    &.action-cell {
      border: unset !important;
      text-align: center;
      padding: 2px;
      .ag-react-container {
        > * {
          margin: 0 auto;
        }
      }
    }
    &.error-cell {
      border: 2px solid $red !important;
    }
  }
  div[role='gridcell'].ag-cell-focus {
    &:not(.not-editable) {
      border: 2px solid $green !important;
      &.no-select, &.action-cell {
        border: unset !important;
      }
    }
    &.not-editable {
      border: unset !important;
    }
  }
  .ag-cell-inline-editing {
    .ag-react-container {
      line-height: 1 !important;
    }
  }
}
