@import "./colors";
@import "./typography";

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-alpine.css";

$table-border-color: #eeeeee;
$table-border: 1px solid $table-border-color;

.ag-menu-list {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.ant-empty-image {
  height: 50px;
  margin-bottom: 8px;
}

.ant-table {
  .ant-table-cell {
    padding: 6px;
  }

  thead.ant-table-thead {
    > tr {
      > th {
        font-family: $roboto;
        font-weight: 400;
        font-size: 13px;
        color: $text-secondary;
        background: $white !important;
        border-top: none !important;
        border-bottom: none !important;

        &:first-child {
          border-left: none !important;
        }
        &:last-child {
          border-right: none !important;
        }
      }
    }
  }

  td,
  th {
    overflow: hidden;
    max-width: 300px;
  }

  .ant-table-tbody {
    > tr {
      &.loading {
        opacity: 0.2;
      }
      > td {
        font-size: 12px;
        border-bottom: none !important;

        .icon-cell-container {
          line-height: 14px;
          padding-top: 3px;
          padding-bottom: 3px;
          display: flex;

          .icon-container {
            margin-right: 8px;
          }
          .link,
          .text-container {
            line-height: 22px;
          }
          .link {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 300px;
          }
        }
        .ant-badge {
          .ant-badge-status-text {
            font-size: 12px;
          }
        }
        .actions-table-cell {
          float: right;
          display: flex;
        }

        &:first-child {
          border: 1px solid $transparent;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
        }
        &:last-child {
          border: 1px solid $transparent;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
      &:hover {
        > td {
          background: #f3f3f3 !important;
        }
      }
    }
    .ant-table-placeholder {
      td.ant-table-cell {
        border-left: $table-border !important;
        border-right: $table-border !important;
        border-bottom: $table-border !important;
      }
    }
  }

  .ant-table-pagination.ant-pagination {
    margin-top: 15px !important;
    margin-bottom: 0px !important;
  }
}

.ag-theme-alpine {
  font-family: $roboto;

  .ag-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ag-cell,
  .ag-full-width-row .ag-cell-wrapper.ag-row-group {
    line-height: 36px;
    padding-left: 6px;
    padding-right: 6px;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  .ag-right-aligned-header div.ag-header-cell-label {
    justify-content: flex-end !important;
  }
  .ag-layout-auto-height .ag-center-cols-clipper,
  .ag-layout-auto-height .ag-center-cols-container,
  .ag-layout-print .ag-center-cols-clipper,
  .ag-layout-print .ag-center-cols-container {
    min-height: 0px !important;
  }

  .ag-root-wrapper {
    border: none;
  }

  .ag-header {
    border: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    .ag-header-row {
      > .ag-header-cell {
        padding-left: 10px;
        padding-right: 10px;
        letter-spacing: 0.045em;
        font-size: 12px;
        font-weight: 400;

        .ag-react-container {
          width: 100%;
        }
      }
    }
  }

  .ag-pinned-left-header {
    border-right: unset !important;
    border-right-color: unset !important;
  }

  div[role="gridcell"] {
    font-size: 13px;
    font-weight: 400;
    background-color: $white;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // This is needed so that we can display white space in our cells without
    // AG Grid trimming them.
    white-space: no-wrap;
    overflow-x: hidden;

    &:not(.borderless) {
      border-bottom: $table-border;
      border-left: $table-border;
    }

    &.ag-cell-last-left-pinned:not(.ag-cell-range-right):not(.ag-cell-range-single-cell):not(.ag-cell-focus) {
      border-right: unset !important;
      border-right-color: unset !important;
    }

    // This will vertically center the text nicely while also not adjusting the
    // vertical location of the text when the cell is selected.
    .ag-react-container {
      max-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      white-space: nowrap;
    }

    .ag-selection-checkbox {
      height: 16px;
      margin-right: 0px;
    }

    &.cell {
      &--action {
        border: unset !important;
        text-align: center;
        padding: 2px;
        .ag-react-container {
          > * {
            margin: 0 auto;
          }
        }
      }

      &--centered {
        .ag-react-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
      }

      &--not-editable-highlight {
        background-color: #f7fffa !important;
        .ag-fill-handle {
          display: none !important;
        }
        &:not(.ag-cell-range-top) {
          border-top-color: transparent;
        }
        &:not(.ag-cell-range-right) {
          border-right-color: transparent;
        }
        &:not(.ag-cell-range-left) {
          border-left-color: transparent;
        }
        &:not(.ag-cell-range-bottom) {
          border-bottom-color: transparent;
        }
      }
    }

    &.ag-cell-focus {
      border: 2px solid $green !important;
      &.cell--not-selectable {
        border: unset !important;
        .ag-fill-handle {
          display: none !important;
        }
      }
    }

    .ag-fill-handle {
      background-color: $green;
    }
  }

  .ag-row {
    border: none !important;
    color: #3a3a3a !important;

    &.ag-row-hover {
      background-color: $gray-highlight !important;
      div[role="gridcell"] {
        background-color: $gray-highlight;
        &.cell--not-editable-highlight {
          background-color: $gray-highlight !important;
        }
      }
      &.row--table-footer {
        div[role="gridcell"] {
          background-color: #f8f8f8 !important;
        }
      }
      &.row--budget-footer {
        div[role="gridcell"] {
          background-color: #d3d3d3 !important;
        }
      }
      &.row--group-footer {
        background-color: unset !important;
        div[role="gridcell"] {
          background-color: inherit !important;
        }
      }
    }

    &:first-child {
      .ag-cell:not(.ag-cell-focus) {
        border-top: none !important;
      }
    }
    &.row {
      &--table-footer {
        border-bottom: none !important;

        > div[role="gridcell"],
        > .ag-cell {
          background-color: #f8f8f8;
          font-family: $roboto;
          font-weight: 400;
          border: none !important;

          &:first-child {
            border-bottom-left-radius: 8px;
          }

          &:last-child {
            border-bottom-right-radius: 8px;
          }
        }
      }
      &--budget-footer {
        border-bottom: none !important;

        > div[role="gridcell"],
        > .ag-cell {
          background-color: #d3d3d3 !important;
          font-family: $roboto;
          font-weight: 400;
          border: none !important;

          &:first-child {
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
          }

          &:last-child {
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
          }
        }
      }
      &--group-footer {
        border-bottom: none !important;
        // Since the entire row is colored (instead of coloring the individual
        // cells) we have to apply the radius to the entire row AND the first/
        // last cells.  If the radius isn't applied to the row, the underlying
        // curved radii of the first and last cells will not be seen.
        border-radius: 10px !important;

        > div[role="gridcell"],
        > .ag-cell {
          font-weight: 400 !important;
          border: none !important;
          background-color: inherit !important;

          &:first-child {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
          }
          &:last-child {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
          }
        }
      }
    }
  }

  .ag-cell-inline-editing {
    height: 36px;
    border-radius: 0px !important;

    .ag-input-field-input,
    .ag-text-field-input {
      padding: 0px !important;
      border: none !important;
      box-shadow: none !important;
      background-color: transparent !important;
    }
  }

  .ag-menu {
    border: none;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0px 3px 20px #00000029;
  }
}
