@import './colors';

@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-alpine.css';

$table-border-color: #f7f7f7;
$table-border: 1px solid $table-border-color;

.select-controller {
  display: flex;
  margin-bottom: 8px;
  min-height: 36px;
  height: 36px;

  .select-controller-icon-button {
    bottom: 1px;
    :not(:last-child) {
      margin-right: 12px;
    }
  }
  .select-controller-selected-text {
    line-height: 36px;
    margin-left: 12px;
    font-size: 13px;
  }
}

.ag-menu-list {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.ant-empty-image {
  height: 50px;
  margin-bottom: 8px;
}

.ant-table {

  .ant-table-cell {
    padding: 6px;
  }

  thead.ant-table-thead {
    > tr {
      > th {
        font-family: $nunito;
        font-weight: 600;
        font-size: 13px;
        color: $text-secondary;
        background: $white !important;
        border-top: none !important;
        border-bottom: none !important;

        &:first-child {
          border-left: none !important;
        }
        &:last-child {
          border-right: none !important;
        }
      }
    }
  }

  td,
  th {
    overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    max-width: 300px;
  }

  .ant-table-tbody {
    > tr {
      &.loading {
        opacity: 0.2;
      }
      > td {
        font-size: 12px;
        border-bottom: none !important;

        .icon-cell-container {
          line-height: 14px;
          padding-top: 3px;
          padding-bottom: 3px;
          display: flex;

          .icon-container {
            margin-right: 8px;
          }
          .link,
          .text-container {
            line-height: 22px;
          }
          .link {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 300px;
          }
        }
        .ant-badge {
          .ant-badge-status-text {
            font-size: 12px;
          }
        }
        .actions-table-cell {
          float: right;
          display: flex;
        }

        &:first-child {
          border: 1px solid $transparent;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
        }
        &:last-child {
          border: 1px solid $transparent;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
      &:hover {
        > td {
          background: #f3f3f3 !important;
        }
      }
    }
    .ant-table-placeholder {
      td.ant-table-cell {
        border-left: $table-border !important;
        border-right: $table-border !important;
        border-bottom: $table-border !important;
      }
    }
  }

  .ant-table-pagination.ant-pagination {
    margin-top: 15px !important;
    margin-bottom: 0px !important;
  }
}

.ag-theme-alpine {
  font-family: $roboto;

  .ag-cell, .ag-full-width-row .ag-cell-wrapper.ag-row-group {
      line-height: 36px;
      padding-left: 6px;
      padding-right: 6px;
      -webkit-font-smoothing: subpixel-antialiased;
  }

  .ag-right-aligned-header div.ag-header-cell-label {
    justify-content: flex-end !important;
  }
  .ag-layout-auto-height .ag-center-cols-clipper,
  .ag-layout-auto-height .ag-center-cols-container,
  .ag-layout-print .ag-center-cols-clipper,
  .ag-layout-print .ag-center-cols-container {
    min-height: 0px !important;
  }

  .ag-root-wrapper {
    border: none;
  }

  .ag-header {
    border: none;
    border-radius: 8px;

    .ag-header-cell {
      .ag-cell-label-container {
        letter-spacing: 0.045em;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }

  div[role='gridcell'] {
    font-size: 12px;
    font-weight: 300;
    background-color: $white;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:not(.borderless) {
      border-bottom: $table-border;
      border-left: $table-border;
    }

    // This will vertically center the text nicely while also not adjusting the
    // vertical location of the text when the cell is selected.
    .ag-react-container {
      max-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &.cell {
      &--action {
        border: unset !important;
        text-align: center;
        padding: 2px;
        .ag-react-container {
          > * {
            margin: 0 auto;
          }
        }
      }
      &--centered {
        .ag-react-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
      }
      &---error {
        border: 2px solid $red !important;

        .error-container {
          position: absolute;
          top: 0px;
          right: 0px;
          height: 18px;
          display: flex;
          z-index: 100000;
          background-color: #d73a49;
          color: white;
          padding: 2px 4px;

          .text-error {
            color: white;
            font-size: 11px;
            line-height: 14px;
          }
          .icon--error {
            color: $white;
            display: block;
            margin-right: 6px;

            svg {
              height: 14px;
              width: auto;
            }
          }
        }
      }
      &--not-editable-highlight {
        background-color: #f7fffa !important;
        border: none !important;
      }
    }

    &.ag-cell-focus {
      &:not(.cell--not-editable) {
        border: 2px solid $green !important;
        &.cell--action {
          border: unset !important;
        }
      }
      // This has to be it's own redeclaration of the green border because otherwise
      // AG Grid will border the cell as if it is being selected in a range.
      &.cell--not-editable-bordered {
        border: 2px solid $green !important;
        border-color: $green !important;
      }
      &.cell--not-editable {
        &:not(.cell--not-editable-highlight) {
          &:not(.cell--not-editable-bordered) {
            border: unset !important;
          }
        }
      }
    }
  }

  .ag-row {
    background: $white !important;
    border: none !important;

    &.ag-row-hover {
      div[role='gridcell'] {
        &:not(.cell--not-editable-highlight) {
          background-color: $gray-highlight !important;
        }
      }
      &.row--table-footer {
        div[role='gridcell'] {
          background-color: #f8f8f8 !important;
        }
      }
      &.row--budget-footer {
        div[role='gridcell'] {
          background-color: #d3d3d3 !important;
        }
      }
    }
    &:first-child {
      .ag-cell {
        border-top: none !important;
      }
    }
    &:last-child {
      .ag-cell {
        border-bottom: none !important;
      }
    }
    &.row {
      &--table-footer {
        border-bottom: none !important;

        > div[role='gridcell'], > .ag-cell {
          background-color: #f8f8f8;
          font-family: $roboto;
          font-weight: 400;
          color: $text-secondary;
          border: none !important;

          &:first-child {
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
          }

          &:last-child {
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
          }
        }
      }
      &--budget-footer {
        border-bottom: none !important;

        > div[role='gridcell'], > .ag-cell {
          background-color: #d3d3d3 !important;
          font-family: $roboto;
          font-weight: 400;
          color: $text-secondary;
          border: none !important;

          &:first-child {
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
          }

          &:last-child {
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
          }
        }
      }
      &--group-footer {
        border-bottom: none !important;

        > div[role='gridcell'], > .ag-cell {
          font-weight: 400 !important;
          border: none !important;

          &:first-child {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
          }
          &:last-child {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
          }
        }
        // Unfortunately, I have not been able to figure out a way around applying
        // the background colors to the group footer row such that the classes do
        // not have to be hardcoded in with the color reference.
        &.bg-797695 {
          div[role='gridcell'] {
            color: $white !important;
            background-color: #797695 !important;
          }
        }
        &.bg-ff7165 {
          div[role='gridcell'] {
            color: $white !important;
            background-color: #ff7165 !important;
          }
        }
        &.bg-80cbc4 {
          div[role='gridcell'] {
            color: $white !important;
            background-color: #80cbc4 !important;
          }
        }
        &.bg-ce93d8 {
          div[role='gridcell'] {
            color: $white !important;
            background-color: #ce93d8 !important;
          }
        }
        &.bg-fed835 {
          div[role='gridcell'] {
            background-color: #fed835 !important;
          }
        }
        &.bg-c87987 {
          div[role='gridcell'] {
            color: $white !important;
            background-color: #c87987 !important;
          }
        }
        &.bg-69f0ae {
          div[role='gridcell'] {
            background-color: #69f0ae !important;
          }
        }
        &.bg-a1887f {
          div[role='gridcell'] {
            color: $white !important;
            background-color: #a1887f !important;
          }
        }
        &.bg-81d4fa {
          div[role='gridcell'] {
            color: $white !important;
            background-color: #81d4fa !important;
          }
        }
        &.bg-f75776 {
          div[role='gridcell'] {
            color: $white !important;
            background-color: #f75776 !important;
          }
        }
        &.bg-66bb6a {
          div[role='gridcell'] {
            color: $white !important;
            background-color: #66bb6a !important;
          }
        }
        &.bg-58add6 {
          div[role='gridcell'] {
            color: $white !important;
            background-color: #58add6 !important;
          }
        }
        &.bg-EFEFEF {
          div[role='gridcell'] {
            background-color: #EFEFEF !important;
          }
        }
      }
    }
  }

  .ag-cell-inline-editing {
    height: 36px;
    border-radius: 0px !important;

    .ag-input-field-input, .ag-text-field-input {
      padding: 0px !important;
      border: none !important;
      box-shadow: none !important;
      background-color: transparent !important;
    }
  }
}