.tag {
  height: 20px;
  text-align: center;
  line-height: 20.5px;
  font-size: 12px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 8px;
  padding-right: 8px;
  font-family: $avenir;
  font-weight: 400;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 0.2rem;
  color: #ffffff;
  border-radius: 20px;

  &.uppercase {
    text-transform: uppercase;
    font-size: 11px;
  }

  &.fill-width {
    text-align: center;
    width: 100%;
  }

  &--account {
    color: $text-secondary !important;
    background-color: white !important;
    font-weight: 500;
    line-height: 17px;
    border: 1px solid $text-secondary !important;
    border-radius: 4px;
  }

  &--contact {
    border-radius: 4px;

    &.focused {
      cursor: pointer;
    }
  }

  .btn {
    display: block;
    font-family: $avenir;
    line-height: 20.5px;
    font-size: 12px;
    font-weight: 400;
    color: $blue !important;
    height: 20px;

    &:hover,
    &:focus {
      color: $blue !important;
    }
  }
}

.multiple-tags-wrapper {
  display: flex;

  > .tag {
    &:hover {
      z-index: 1000;
    }
    // This needs to be applied more systematically, by looking at the overall width
    // of each tag.  It should also be done programatically.
    &:not(:first-child) {
      margin-left: -10px;
    }
  }
}

.color {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 16px;
  width: 16px;

  svg {
    height: 100% !important;
    width: 100% !important;
  }

  &.selectable {
    height: 24px;
    width: 24px;

    .icon-border {
      border-radius: 100%;
      border: 2px solid $white;
      height: 24px;
      width: 24px;
      position: absolute;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    }

    &:hover,
    &.selected {
      .icon-border {
        box-shadow: none !important;
        border: 2px solid #6eb6ff !important;
      }
    }
  }
}
