@import "./colors";

.ant-tooltip {
  opacity: 0.8;
  color: $green !important;
  .ant-tooltip-arrow-content {
    background-color: $green !important;
  }
  .ant-tooltip-content {
    .ant-tooltip-inner {
      background-color: $green !important;
      color: $white !important;
    }
  }
  &.disabled {
    color: $disabled-color !important;
    .ant-tooltip-arrow-content {
      background-color: $disabled-color !important;
    }
    .ant-tooltip-content {
      .ant-tooltip-inner {
        background-color: $disabled-color !important;
        color: $text-secondary !important;
      }
    }
  }
}
