.ant-tooltip {
  color: $green !important;
  .ant-tooltip-arrow-content {
    background-color: transparent !important;
  }
  .ant-tooltip-content {
    .ant-tooltip-inner {
      background-color: $green !important;
      color: $white !important;
      border-radius: 8px;
    }
  }
  &.disabled {
    color: $disabled-color !important;
    .ant-tooltip-arrow-content {
      background-color: $disabled-color !important;
    }
    .ant-tooltip-content {
      .ant-tooltip-inner {
        background-color: $disabled-color !important;
        color: $text-secondary !important;
        border-radius: 8px;
      }
    }
  }
  &.tooltip-lower {
    padding-top: 10px;
  }
}
