.header-base {
  color: $text-primary;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $avenir;
  font-weight: 600;
}

h1 {
  @extend .header-base;
  &.ant-typography {
    font-size: 28px;
  }
}

h2 {
  @extend .header-base;
}

h3 {
  @extend .header-base;
}

h4 {
  @extend .header-base;

  &.ant-typography {
    color: $text-secondary;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}

h5 {
  @extend .header-base;
}

h6 {
  @extend .header-base;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.link {
    text-align: left;
  }
}

.strikethrough {
  text-decoration: line-through;
  color: $gray;
}
