.actions-menu-bar {
  display: flex;
  justify-content: space-between;
  height: 36px;

  > .actions-menu-bar-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;

    .ant-input {
      min-width: 200px;
    }

    &.expand {
      flex-grow: 100;
    }

    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}
