@use "partials";

.empty {
  @include partials.vertical-flex-c;

  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 15px;

  .ant-empty-image {
    height: 50px;
    margin-bottom: 8px;
  }

  .ant-empty-description {
    color: partials.$text-secondary;
  }
}
