@use "partials";

.img-wrapper {
  @include partials.flex-c;

  aspect-ratio: 1;
  height: 100%;
  position: relative;
  text-align: center;
  width: 100%;

  > .img-overlay {
    display: none;
  }

  &.circle {
    clip-path: circle(50%);
  }

  &.with-icon-fallback {
    background-color: #efefef;
  }

  &:hover {
    .img-overlay {
      display: flex;
    }
  }

  .img {
    height: 100%;
    width: auto;

    &.circle {
      border-radius: 100%;
    }

    .image-tint {
      @include size(100%);

      background-color: rgb(15 15 15 / 4%);
      left: 0;
      position: absolute;
      top: 0;
    }

    &--user {
      @extend .img;

      left: 0;
      object-fit: contain;
      position: absolute;
      text-align: center;
      top: 0;
    }
  }
}

.card-image-wrapper,
.card-image-placeholder {
  align-items: center;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: flex;
  height: 150px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;

  &.title-only {
    height: 150px;
  }
}

.card-image-wrapper {
  .image-tint {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }

  .img {
    object-fit: cover;
    width: 100%;
  }
}

.card-image-placeholder {
  background-color: #f9f9f9;

  svg {
    color: #cacaca;
    height: 40px !important;
    width: 40px !important;
  }
}

.img-overlay {
  @include size(100%);
  @include vertical-flex-c;

  align-items: center;
  background-color: rgb(0 0 0 / 80%);
  color: $white;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 1000;

  svg {
    color: $white;
  }

  &--edit-image {
    align-items: center;
    display: flex;

    svg {
      &.icon.plus,
      &.icon.edit {
        @include size(24px !important);
      }
    }

    .icon-wrapper--plus,
    .icon-wrapper--edit {
      @include size($standard-size);

      padding: 5px;
    }

    .btn--clear-image {
      padding: 5px;
    }
  }
}

.user-initials {
  @include vertical-flex-c;
  @include size(100%);

  background-color: #eeeeee;
  border-radius: 100%;

  .img-overlay {
    display: none;
  }

  &.circle {
    clip-path: circle(50%);
  }

  &:hover {
    .img-overlay {
      display: flex;
    }
  }

  > .user-initials__text {
    color: $text-primary;
    font-weight: 600;
    line-height: 1;
    text-align: center;
  }
}
