@import "style/colors";
@import "style/typography";

.budgets {
  .budgets-grid {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 100;

    .budget-card {
      flex: 1 1 300px;
      margin-bottom: 50px;
      max-width: 300px;

      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }
}