.icon-or-spinner {
  position: relative;
  height: 14px;
  width: 14px;

  .spinner-wrapper {
    height: 100% !important;
    width: 100% !important;
    position: relative !important;

    .spinner {
      position: absolute !important;
      top: 0;
      left: 0;

      .anticon-loading {
        height: 100% !important;
        width: 100% !important;
      }
    }
  }
}
