@import "style/colors";
@import "style/typography";

.saving-changes {
  display: flex;
  width: 129px;
  height: 36px;

  .spinner-wrapper {
    height: 22px;
    width: 22px;
    margin-right: 2px;
    position: relative;

    .saving-changes-spinner {
      height: 22px;
      width: 22px;
      color: $text-tertiary;
    }
  }

  .check-wrapper {
    height: 22px;
    width: 22px;
    padding: 3px;
    margin-right: 2px;

    svg {
      height: auto;
      width: 16px;
      color: $green;
    }
  }

  .text-container {
    font-family: $roboto;
    font-size: 12px;
    font-weight: 500;
    color: $text-tertiary;
    line-height: 36px;
    width: 105px;
    text-transform: uppercase;
  }
}
