@import "style/_imports";

.saving-changes {
  display: flex;
	// We want to keep the width of the component constant such that when it
	// shifts between "Saving Changes" and "Changes Saved" it does not reposition
	// other elements it is adjacent to.
  width: 136px;
  height: 36px;

  .spinner-wrapper {
    height: 22px;
    width: 22px;
    position: relative;
		margin-right: 4px;

    .saving-changes-spinner {
      height: 22px;
      width: auto;
      color: $text-tertiary;
    }
  }

  .check-wrapper {
    height: 22px;
    width: 22px;
    padding: 3px;
    margin-right: 4px;

    svg {
      height: auto;
      width: 16px;
      color: $green;
    }
  }

  .text-container {
    font-family: $roboto;
    font-size: 12px;
    font-weight: 500;
    color: $text-tertiary;
    line-height: 36px;
    width: 105px;
    text-transform: uppercase;
  }
}
