.spinner-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
