@import "style/colors";
@import "style/typography";

// 30px for the Header Height and 10px Margin Below
$detached-header-height: calc(30px + 10px);
$table-footer-grid-height: 40px;
$budget-footer-grid-height: 30px;
$budget-footer-grid-margin: 10px;
$budget-footer-grid-height-plus-margin: calc(#{$budget-footer-grid-height} + #{$budget-footer-grid-margin});

.budget-table {
  display: flex;
  flex-direction: column;
  // The overall header height for the page is 50px for the primary header
  // and 36px for the supplementary header.  50px + 30px = 80px.  Then there
  // is 10px of margin between the overall header and the top of the table,
  // giving us the 90px.  Then, we have to subtract 10px for the margin at
  // the bottom page between the bottom of the table and the end of the page.
  height: calc(100vh - 90px - 10px);

  .core-table {
    max-height: calc(100vh - 90px - 10px);

    $core-table-inner-height: calc(100vh - 90px - 10px - #{$table-footer-grid-height});

    .table-grid {
      max-height: $core-table-inner-height;
      position: relative;
      display: flex;
      flex-direction: column;

      > * {
        max-height: $core-table-inner-height !important;
        display: flex;
        flex-direction: column;
      }

      .ag-root-wrapper {
        overflow: visible;
        max-height: $core-table-inner-height !important;
        .ag-root-wrapper-body {
          max-height: $core-table-inner-height !important;
        }
        .ag-body-viewport {
          overflow-y: scroll !important;
        }
      }

      .ag-root {
        &.ag-layout-auto-height {
          overflow: visible;
        }
      }

      .ag-row:last-child {
        border-bottom: none !important;
      }
      div[role="gridcell"].unit-cell {
        // This padding is an attempt to vertically align the tag in the cell.  It
        // is not the best way, since the height of the cell can cause the vertical
        // alignment to become skewed.  We should figure out the right way to do this.
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }

    .table-footer-grid {
      flex: none;
      height: 40px;
      margin-top: -1px;
      .ag-body-viewport {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }

    &.with-budget-footer {
      $with-budget-footer-height: calc(#{$core-table-inner-height} - #{$budget-footer-grid-height-plus-margin});
      .table-grid {
        max-height: $with-budget-footer-height;
        > * {
          max-height: $with-budget-footer-height;
        }
        .ag-root-wrapper {
          max-height: $with-budget-footer-height;
          .ag-root-wrapper-body {
            max-height: $with-budget-footer-height;
          }
        }
      }
    }
    &.with-detached-header {
      $with-detached-header-height: calc(#{$core-table-inner-height} - #{$detached-header-height});
      .table-grid {
        max-height: $with-detached-header-height;
        > * {
          max-height: $with-detached-header-height;
        }
        .ag-root-wrapper {
          max-height: $with-detached-header-height;
          .ag-root-wrapper-body {
            max-height: $with-detached-header-height;
          }
        }
      }
      &.with-budget-footer {
        $with-header-footer-height: calc(
          #{$core-table-inner-height} - #{$detached-header-height} - #{$budget-footer-grid-height-plus-margin}
        );
        .table-grid {
          max-height: $with-header-footer-height;
          > * {
            max-height: $with-header-footer-height;
          }
          .ag-root-wrapper {
            max-height: $with-header-footer-height;
            .ag-root-wrapper-body {
              max-height: $with-header-footer-height;
            }
          }
        }
      }
    }
  }

  .budget-footer-grid-wrapper {
    flex-grow: 100;
    display: flex;
    flex-direction: column;
    min-height: $budget-footer-grid-height-plus-margin;

    .budget-footer-grid {
      flex: none;
      height: $budget-footer-grid-height;
      margin-top: $budget-footer-grid-margin;
      .ag-body-viewport {
        border-radius: 8px;
      }
    }
  }

  .icon--lock {
    position: absolute;
    top: 3px;
    right: 3px;
    color: $text-primary;

    svg {
      height: 0.8rem;
      width: auto;
    }
  }
}
