@import 'style/colors';
@import 'style/typography';

.table-header {
  display: flex;
  // This will align the checkbox in the header with the checkboxes in the
  // rows vertically.
  padding-left: 2px;
  height: 36px;

  &.detached {
    margin-bottom: 10px;
  }

  .ant-checkbox-wrapper {
    .ant-checkbox {
      padding: 10px;
      padding-left: 0px;
    }
  }
  .toolbar-buttons {
    display: flex;
    margin-right: 8px;
  }

  .btn--caret {
    &:not(:last-child) {
      margin-right: 14px;
    }
  }

  .table-header-left {
    display: flex;
    flex-grow: 100;
  }
  .table-header-right {
    display: flex;
  }
}

.budget-table {
  display: flex;
  flex-direction: column;
  // The overall header height for the page is 56px for the primary header
  // and 36px for the supplementary header.  56px + 36px = 92px.  Then there
  // is 10px of margin between the overall header and the top of the table,
  // giving us the 102px.  Then, we have to subtract 10px for the margin at
  // the bottom page between the bottom of the table and the end of the page.
  height: calc(100vh - 102px - 10px);

  .table-grid {
    flex: 1 1 auto;
    height: 100%;  // Required to render correctly in Safari.

    .ag-row:last-child {
      border-bottom: none !important;
    }
    div[role='gridcell'].unit-cell {
      // This padding is an attempt to vertically align the tag in the cell.  It
      // is not the best way, since the height of the cell can cause the vertical
      // alignment to become skewed.  We should figure out the right way to do this.
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }

  .table-footer-grid {
    flex: none;
    height: 44px;
    margin-top: 0px;
    .ag-body-viewport {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }

  .budget-footer-grid {
    flex: none;
    height: 30px;
    margin-top: 10px;
    .ag-body-viewport {
      border-radius: 8px;
    }
  }

  .icon--lock {
    position: absolute;
    top: 3px;
    right: 3px;
    color: $text-primary;

    svg {
      height: 0.8rem;
      width: auto;
    }
  }
}