@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";

.ag-theme-alpine {
  font-family: $roboto;

  @include ag-theme-alpine(
    (
      range-selection-border-color: $green
    )
  );

  .ag-right-aligned-header div.ag-header-cell-label {
    justify-content: flex-end !important;
  }

  .ag-layout-auto-height .ag-center-cols-clipper,
  .ag-layout-auto-height .ag-center-cols-container,
  .ag-layout-print .ag-center-cols-clipper,
  .ag-layout-print .ag-center-cols-container {
    min-height: 0px !important;
  }

  .ag-root-wrapper {
    border: none;
  }

  .ag-menu {
    border: none;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0px 3px 20px #00000029;
  }

  .ag-menu-list {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  // .ag-root-wrapper-body .ag-checkbox-input-wrapper {
  //   &::after {
  //     -webkit-text-stroke: 1px white;
  //     color: $disabled-color;
  //   }

  //   &.ag-checked::after {
  //     -webkit-text-stroke: 0px;
  //     color: #1890ff;
  //   }
  // }
}
