@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";

.ag-theme-alpine {
  font-family: $roboto;

  @include ag-theme-alpine(
    (
      range-selection-border-color: $green
    )
  );

  .ag-right-aligned-header div.ag-header-cell-label {
    justify-content: flex-end !important;
  }

  .ag-layout-auto-height .ag-center-cols-clipper,
  .ag-layout-auto-height .ag-center-cols-container,
  .ag-layout-print .ag-center-cols-clipper,
  .ag-layout-print .ag-center-cols-container {
    min-height: 0px !important;
  }

  .ag-root-wrapper {
    border: none;
  }

  .ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right):not(.ag-cell-range-single-cell) {
    border-right: solid 1px;
    border-right-color: $table-border-color;
  }

  .ag-menu {
    border: $menu-border;
    border-radius: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    font-feature-settings: "tnum";
    margin-bottom: 0;
    padding-left: 0;
    color: $text-secondary;
    font-size: 12px;
    line-height: 0;
    text-align: left;
    list-style: none;
    background: $white;
    outline: none;
    box-shadow: none !important;
    transition: background 0.3s, width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
    background-color: $white;

    .ag-menu-list {
      margin-top: 0px !important;
      margin-bottom: 0px !important;
      padding: 0px !important;

      .ag-menu-option {
        margin-top: 0px;
        color: $text-secondary !important;
        font-family: $roboto;
        font-weight: 400;
        min-width: 100px;
        padding: 4px 10px;
        font-size: 13px;
        line-height: 24px;
        height: 32px;
        margin-bottom: 0px !important;
        overflow-y: hidden;
        display: flex;
        flex-direction: row;

        &:focus,
        &:hover {
          background-color: #fbfbfb !important;
          .ag-menu-option-text {
            color: $text-primary !important;
          }
        }

        .ag-menu-option-text {
          padding: 0px !important;
          line-height: 24px;
        }

        .ag-menu-option-icon {
          display: flex;
          align-items: center;
          margin-right: 10px;
          padding: 0;

          .context-icon {
            font-size: 15px;
          }
        }

        .ag-menu-option-shortcut {
          display: none;
        }

        .ag-menu-option-popup-pointer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          line-height: 24px;
          margin-left: auto;
          padding-right: 0px;
          padding-left: 10px;
        }
      }
    }
  }

  .ag-root-wrapper-body .ag-checkbox-input-wrapper {
    .ag-checkbox-input {
      box-shadow: none !important;
    }
    &::after {
      -webkit-text-stroke: 1px white;
      color: $disabled-color;
    }

    &:focus-within {
      box-shadow: none !important;
    }

    &.ag-checked::after {
      -webkit-text-stroke: 0px;
      color: #1890ff;
    }
  }
}
