.ant-table {
  .ant-table-cell {
    padding: 6px;
  }

  thead.ant-table-thead {
    > tr {
      > th {
        font-family: $roboto;
        font-weight: 400;
        font-size: 13px;
        color: $text-secondary;
        background: $white !important;
        border-top: none !important;
        border-bottom: none !important;

        &:first-child {
          border-left: none !important;
        }
        &:last-child {
          border-right: none !important;
        }
      }
    }
  }

  td,
  th {
    overflow: hidden;
    max-width: 300px;
  }

  .ant-table-tbody {
    > tr {
      &.loading {
        opacity: 0.2;
      }
      > td {
        font-size: 12px;
        border-bottom: none !important;

        .icon-cell-container {
          line-height: 14px;
          padding-top: 3px;
          padding-bottom: 3px;
          display: flex;

          .icon-container {
            margin-right: 8px;
          }
          .link,
          .text-container {
            line-height: 22px;
          }
          .link {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 300px;
          }
        }
        .ant-badge {
          .ant-badge-status-text {
            font-size: 12px;
          }
        }
        .actions-table-cell {
          float: right;
          display: flex;
        }

        &:first-child {
          border: 1px solid $transparent;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
        }
        &:last-child {
          border: 1px solid $transparent;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
      &:hover {
        > td {
          background: #f3f3f3 !important;
        }
      }
    }
    .ant-table-placeholder {
      td.ant-table-cell {
        border-left: $table-border !important;
        border-right: $table-border !important;
        border-bottom: $table-border !important;
      }
    }
  }

  .ant-table-pagination.ant-pagination {
    margin-top: 15px !important;
    margin-bottom: 0px !important;
  }
}
