@import 'style/colors';
@import 'style/typography';

.form-container {
  padding: 80px;
  width: 100%;

  .title {
    font-size: 28px;
    font-family: $open-sans;
    font-weight: 700;
    text-align: center;
  }

  .sub-title {
    font-size: 16px;
    font-family: $open-sans;
    font-weight: 600;
    color: $text-secondary;
    text-align: center;
    margin-bottom: 32px;
  }

  .signup-form {
    button[type='submit'] {
      margin-top: 15px;
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
    .btn--google {
      width: 100% !important;
    }
    .input-group-title {
      font-size: 14px;
      font-family: $open-sans;
      font-weight: 600;
      color: $text-secondary;
      margin-bottom: 10px;
      display: flex;

      .question-icon-container {
        margin-left: 8px;
        cursor: pointer;
        &:hover {
          svg {
            color: lighten($icon-color, 10%);
          }
        }
      }
    }

    .login-text {
      font-size: 13px;
      text-align: center;
      margin-top: 12px;

      .login-link {
        margin-left: 6px;
        font-family: $roboto;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
      }
    }
  }
}
