@import 'style/_imports';

.templates-page {
	.sub-menu {
		.search-wrapper {
			display: flex;

			> * {
				&:not(:last-child) {
					margin-right: 10px;
				}
			}

			.btn-non-circle {
				display: none;
				margin-right: 0px;
				min-width: 145px;

				@include media(">=xl") {
					display: inherit;
				}
			}

			.btn--circle-icon {
				margin-right: 0px;
				@include media(">=xl") {
					display: none;
				}
				.icon {
					margin-right: 0;
				}
			}
		}

		.templates-menu {
			width: 220px;
			margin-right: 20px !important;

			@include media('<xl') {
				margin-right: 0px !important;
				margin-bottom: 14px;
			}

			.templates-menu-item {
				padding: 6px !important;
				padding-left: 0px !important;
				padding-right: 0px !important;
				flex: unset;
				font-size: 20px;
				line-height: 22px;
				color: $text-secondary;
				font-family: $avenir;
				font-weight: 600;

				&:hover {
					border-bottom: 2px solid $text-secondary;
				}
				&.horizontal-menu-item-selected {
					border-bottom: 2px solid $text-secondary;
				}
			}
		}
		@include media("<xl") {
			flex-direction: column;
		}
	}
}
