@import "style/colors";
@import "style/typography";

.templates-menu {
  display: flex;
  margin-bottom: 20px;
  margin-right: 50px;

  .extra-wrapper {
    display: flex;

    > * {
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }

  .templates-menu-menu-wrapper {
    width: 240px;

    .templates-menu-menu {
      .templates-menu-menu-item {
        padding: 10px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        flex: unset;
        font-size: 20px;
        line-height: 22px;
        color: $text-secondary;
        font-family: $open-sans;
        font-weight: 600;

        &:hover {
          border-bottom: 2px solid $text-secondary;
        }
        &.horizontal-menu-item-selected {
          border-bottom: 2px solid $text-secondary;
        }
      }
    }
  }
}
