@import "style/_imports";

.templates-menu {
  display: flex;
  flex-direction: column;
  flex-grow: 100;

  @include media(">=xl") {
    flex-direction: row;
  }

  > * {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  .templates-menu-menu-wrapper {
    width: 240px;
    margin: 0 24px 10px 0;

    @include media(">=xl") {
      margin: 0 24px 0 0;
    }

    .templates-menu-menu {
      .templates-menu-menu-item {
        padding: 6px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        flex: unset;
        font-size: 20px;
        line-height: 22px;
        color: $text-secondary;
        font-family: $avenir;
        font-weight: 600;

        &:hover {
          border-bottom: 2px solid $text-secondary;
        }
        &.horizontal-menu-item-selected {
          border-bottom: 2px solid $text-secondary;
        }
      }
    }
  }

  .template-sub-title {
    display: flex;
    flex-grow: 100;

    .input {
      margin-right: 10px;

      @include media(">=xl") {
        max-width: 300px;
      }
    }

    .btn-non-circle {
      display: none;

      @include media(">=xl") {
        display: inherit;
      }
    }

    .btn--circle-icon {
      @include media(">=xl") {
        display: none;
      }

      .icon {
        margin-right: 0;
      }
    }
  }
}
