@import 'style/colors';
@import 'style/typography';

.login-page {
  display: flex;
  height: 100%;

  .login-page-left {
    max-width: 700px;
    justify-content: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    .form-container {
      padding: 80px;

      .title {
        font-size: 28px;
        font-family: $noto-sans-medium;
        text-align: center;
      }

      .subTitle {
        font-size: 18px;
        font-family: $noto-sans-regular;
      }

      .login-form {
        button[type='submit'] {
          margin-top: 15px;
          width: 100%;
          &:not(:last-child) {
            margin-bottom: 12px;
          }
        }
        .btn--google {
          width: 100% !important;
        }
      }
    }
  }

  .login-page-right {
    flex-grow: 100;
    justify-content: center;
    align-items: center;
    background-color: $green;
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    .logo-container {
      text-align: center;
    }
  }
}
