.img-overlay--edit-image {
  display: flex;
  justify-content: center;

  .overlay-text {
    margin-left: 6px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
  }

  svg {
    height: 22px;
  }
}
