.user-initials {
  // The padding and line-height here is in regard to a 36px height usage.  If
  // that height differs, the padding and line height will need to be adjusted.
  height: 100%;
  width: 100%;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 100%;

  .user-initials-text {
    color: #111;
    line-height: 1;
    font-weight: 600;
    text-align: center;
  }
}
