@import "style/typography";

.tag {
  height: 24px;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.3rem 0.75rem 0.45rem 0.75rem;
  margin-right: 0.2rem;
  color: #ffffff;
  border-radius: 20px;
  &.uppercase {
    text-transform: uppercase;
  }
}