@import "style/_imports";

.dashboard-card-grid-base {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 30px;

  @include media(">=medium") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media(">=large") {
    grid-template-columns: repeat(3, 1fr);
  }

  // setting !important prevents the need to repeat
  // the xxl & xxxl media queries in the .sidebar-visible class
  @include media(">=xxl") {
    grid-template-columns: repeat(4, 1fr) !important;
  }

  @include media(">=xxxl") {
    grid-template-columns: repeat(5, 1fr) !important;
  }
}

.dashboard-card-grid {
  @extend .dashboard-card-grid-base;
}

.sidebar-visible {
  .dashboard-card-grid {
    @include media(">=medium") {
      grid-template-columns: repeat(1, 1fr);
    }

    @include media(">=large") {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media(">=xl") {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
