@import "style/_imports";

.header-template-save-form {
  display: flex;
  flex-direction: row;

  .btn--accept,
  .btn--clear {
    height: 32px;
    width: 32px;
  }

  .form-item {
    margin-bottom: 0px !important;
  }

  .with-error {
    border: 1px solid $red;
  }
}
