@import "style/_imports";

.header-template-select {
  &.select {
    width: 200px;
    margin-right: 10px;
  }

  .header-template-select-option-icon-wrapper {
    display: none;
  }
}

.header-template-select-option {
  .ant-select-item-option-content {
    display: flex;
    width: 100%;

    .header-template-select-option-icon-wrapper {
      display: none;
      margin-left: auto;

      .spinner {
        height: 16px !important;
        width: 16px !important;
        position: relative;
      }

      .btn--icon-only {
        padding-right: 0px !important;

        svg {
          height: 14px;
          width: auto;
          color: $red;
        }

        &:hover {
          svg {
            color: $red-hover !important;
          }
        }
      }
    }

    &:hover {
      .header-template-select-option-icon-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
