@import 'style/typography';

.primary-grid {
  .ag-row:last-child {
    border-bottom: none !important;
  }
  div[role='gridcell'].unit-cell {
    // This padding is an attempt to vertically align the tag in the cell.  It
    // is not the best way, since the height of the cell can cause the vertical
    // alignment to become skewed.  We should figure out the right way to do this.
    padding-top: 6px;
    padding-bottom: 6px;
    .ag-react-container {
      width: auto;
      display: flex;
      justify-content: center;
    }
  }
}

.footer-grid {
  .ag-body-viewport {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    .ag-row {
      border-bottom: none !important;
      div[role='gridcell'] {
        background-color: #f8f8f8;
      }
    }
  }
}

.icon--lock {
  position: absolute;
  top: 3px;
  right: 3px;
  color: $text-primary;

  svg {
    height: 0.8rem;
    width: auto;
  }
}

.error-container {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 18px;
  display: flex;
  z-index: 100000;
  background-color: #d73a49;
  color: white;
  padding: 2px 4px;

  .text-error {
    color: white;
    font-size: 11px;
    line-height: 14px;
  }
  .icon--error {
    color: $white;
    display: block;
    margin-right: 6px;

    svg {
      height: 14px;
      width: auto;
    }
  }
}
