.table-header {
  display: flex;
  // This will align the checkbox in the header with the checkboxes in the
  // rows vertically.
  padding-left: 6px;
  height: 36px;
  margin-bottom: 10px;

  .ant-checkbox-wrapper {
    margin-right: 8px;
    .ant-checkbox {
      padding: 10px;
    }
  }
  .btn--icon-only {
    margin-right: 14px;
  }
}