@import "style/_imports";

@mixin primary_header_layout($include_logo: false) {
  .primary-header {
    .primary-header-left {
      @if $include_logo {
        flex: 1;
      } @else {
        flex-grow: 100;
        margin-right: 10px;
      }
    }
    .primary-header-center {
      display: none;
      @if $include_logo {
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
      }
      @include media(">=xl") {
        display: none;
      }
    }
    .primary-header-right {
      @if $include_logo {
        flex: 1;
      }
    }
  }
}

.header {
  @include primary_header_layout(false);

  &.with-logo {
    @include primary_header_layout(true);
  }

  .primary-header {
    display: flex;
    padding: 7px 0;

    .primary-header-left {
      overflow-x: hidden;
      display: flex;

      #breadcrumbs {
        overflow-x: hidden;
      }

      .btn--sidebar-toggle {
        padding-left: 0;
        // We have to adjust the width here so that the icon aligns on the left
        // of the button so it aligns on the left of the screen.
        width: 24.5px;
        min-width: 24.5px;
        margin-right: 8px;

        .icon {
          height: 20px;
          width: 17.5px;
        }
      }
    }

    .primary-header-center {
      padding: 5px 0;
      height: $large-size;

      .logo-link {
        display: block;
        height: 100%;

        svg {
          height: 100%;
          width: auto;
        }

        @include media(">=medium") {
          display: none;
        }
      }
    }

    .primary-header-right {
      display: flex;
      justify-content: flex-end;

      // We used to only show this if we explicitly provided a saving prop to the header.
      // However, now, the tables occasionally inject the SavingChanges component via a Portal,
      // which means it happens outside of the prop context of the Header component.
      .saving-changes {
        // display: none;
        display: flex;
      }

      .link--help {
        @include media(">=large") {
          margin-right: 10px;
        }
      }
    }
  }
}

.bread-crumbs {
  display: flex;
  height: $large-size;
  overflow-x: hidden;

  .slash {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 8px;
    margin-right: 8px;
    line-height: 16px;
    font-family: $avenir;
    font-weight: 600;
    color: $text-primary;
  }

  .bread-crumb-item {
    @include vertical-flex-c();
    cursor: pointer;

    &:last-child {
      overflow-x: hidden;
    }

    .text-wrapper {
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 16px;
      overflow: hidden;
      white-space: nowrap;
      font-size: 13px;
      font-weight: 600;
      color: $text-secondary;
      font-family: $avenir;
    }

    &:hover {
      .text-wrapper {
        color: darken($text-secondary, 20%) !important;
        .entity-text {
          .identifier {
            color: darken(#b5b5b5, 20%) !important;
          }
          .description {
            color: darken($text-secondary, 20%) !important;
          }
        }
      }
    }

    &.primary {
      .text-wrapper {
        color: $green;
        font-size: 15px;
        font-family: $avenir;
        font-weight: 600;
        line-height: 14px;
      }
      &:hover {
        .text-wrapper {
          color: $green-darker !important;
        }
      }
    }
  }
}

.bread-crumb-dropdown {
  max-height: 400px;
  overflow: scroll;
}
