.sidebar-menu {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  margin-top: 60px;
}

.sidebar-menu-item {
  background: transparent !important;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 0 !important;
  position: relative;

  > .sidebar-menu-item-content {
    border: 1px solid $transparent;
    border-radius: 4px;
    display: flex;

    > .text-container {
      color: $gray-dark;
      flex-grow: 100;
      font-family: $avenir;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: unset !important;
      white-space: nowrap;
    }

    > .icon-container {
      @include vertical-flex-c;

      svg {
        color: $gray-dark;
        height: 22px;
        width: auto;
      }
    }

    > .sidebar-menu-item-tag-container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      > .sidebar-menu-item-tag {
        background-color: $gray-dark;
        border-radius: 3px;
        color: $white;
        font-size: 11px;
        font-weight: 500;
        line-height: 14px;
        padding: 2px 6px;
      }
    }
  }

  &:hover {
    > .sidebar-menu-item-content {
      background-color: rgb(232 232 232 / 50%) !important;

      > .icon-container {
        svg {
          color: $green;
        }
      }
    }
  }

  &.active {
    > .sidebar-menu-item-content {
      background-color: $green !important;

      > .icon-container {
        svg {
          color: $white !important;
        }
      }

      > .text-container {
        color: $white !important;
      }

      > .sidebar-menu-item-tag-container {
        > .sidebar-menu-item-tag {
          background-color: $white;
          color: $green;
        }
      }
    }
  }
}

.sidebar {
  hr {
    width: 80%;
  }

  .logo-container {
    width: 100%;

    .logo-link {
      display: block;
      height: 40px;
      text-align: center;

      svg {
        max-height: 40px;
        max-width: 200px;
      }
    }
  }

  &--expanded {
    @extend .sidebar;

    padding: 20px 10px;

    .logo-container {
      .logo-link {
        height: 40px;
        text-align: center;

        svg {
          max-height: 40px;
          max-width: 200px;
        }
      }
    }

    .btn--sidebar-close {
      position: absolute;
      right: 10px;
      top: 10px;
    }

    .sidebar-menu {
      .sidebar-menu-item {
        margin-bottom: 10px;

        > .sidebar-menu-item-content {
          border: 1px solid $transparent;
          border-radius: 4px;
          height: 50px;
          padding: 8px 8px 8px 20px;

          > .icon-container {
            margin-right: 25px;
            width: 15px;
          }

          > .text-container {
            font-size: 15px;
            font-weight: 600;
            line-height: 32px;
          }

          > .sidebar-menu-item-tag-container {
            padding: 8px 0px;
          }
        }
      }
    }

    .sidebar-sub-menu {
      padding-left: 15px;

      .sidebar-menu-item {
        margin-bottom: 5px;

        > .sidebar-menu-item-content {
          border: 1px solid $transparent;
          border-radius: 4px;
          height: $large-size;
          padding: 6px 6px 6px 20px;

          > .icon-container {
            margin-right: 25px;
            width: 15px;
          }

          > .text-container {
            font-size: $standard-body-font-size;
            font-weight: 500;
            line-height: 22px;
          }

          > .sidebar-menu-item-tag-container {
            padding: 3px 0px;
          }
        }
      }
    }
  }

  &--collapsed {
    @extend .sidebar;

    padding: 0px !important;

    .logo-container {
      .logo-link {
        height: 58px;
        padding-bottom: 9px;
        padding-top: 9px;

        svg {
          max-width: 25px;
        }
      }
    }

    .btn--sidebar-toggle {
      margin: 0 auto;
    }

    .sidebar-menu {
      .sidebar-menu-item {
        margin-bottom: 10px;

        > .sidebar-menu-item-content {
          align-items: center;
          border-bottom-left-radius: 0px;
          border-top-left-radius: 0px;
          -webkit-box-align: center;
          -webkit-box-pack: center;
          height: 42px;
          justify-content: center;
          padding: 4px 8px;

          > .icon-container {
            margin-right: 0px;
            width: auto;
          }
        }
      }
    }
  }
}
