@import "./base";
@import "./mixins";

.react-select__menu-portal {
  z-index: 9999;
}

.react-select-container {
  width: 100%;

  &.disabled {
    .react-select__control {
      background-color: $gray-light !important;

      .ant-select-selector {
        background-color: $gray-light !important;
      }
    }
  }

  .react-select__control {
    border: none !important;
    border-radius: $input-border-radius;
    box-shadow: none !important;
    font-size: $medium-body-font-size;
    min-height: $standard-size;
    // We use this combination of outline and border to make the select have
    // a height of 32px.
    outline: $border !important;
    outline-offset: -1px;

    .react-select__value-container {
      height: $standard-size;
      padding: 0px 6px;

      .react-select__placeholder {
        font-family: $avenir;
        font-size: $medium-body-font-size;
        line-height: 32px;
      }

      &.react-select__value-container--is-multi {
        min-height: $standard-size;

        &.react-select__value-container--has-value {
          height: unset;
          position: relative;
          top: 1px;
        }
      }

      &:not(.react-select__value-container--is-multi) {
        height: $standard-size;
      }

      .react-select__input-container {
        margin: 0;
      }

      .react-select__multi-value {
        background-color: #efefef;
        bottom: 1px;
        color: $text-secondary;
        display: flex;
        font-family: $avenir;
        font-size: 12px;
        font-weight: 500;
        position: relative;

        .react-select__multi-value__remove {
          &:hover {
            background-color: unset !important;
            color: $blue;
          }
        }

        .react-select__multi-value__label {
          display: flex;
          flex-direction: row;
        }

        .icon-wrapper {
          @include size(16px);
          @include vertical-flex-c;

          aspect-ratio: 1;
          margin-right: 2px;

          svg {
            @include size(12px);
          }
        }
      }
    }

    .react-select__indicators {
      height: $standard-size;

      .react-select__indicator-separator {
        display: none;
      }

      .react-select__indicator {
        @include size($standard-size);

        svg {
          @include size(16px);
        }
      }
    }
  }

  &.borderless {
    .react-select__control {
      border: none !important;
    }
  }

  .react-select__menu {
    background-color: $white;
    border: $menu-border;
    border-radius: 0px;
    box-shadow: none !important;
    margin-bottom: 0px;
    margin-top: 2px;

    .react-select__menu-list {
      padding-bottom: 0px;
      padding-top: 0px;

      .react-select__option {
        color: $text-secondary;
        display: flex;
        font-family: $avenir;
        font-size: $medium-body-font-size;
        font-weight: 500;
        line-height: 16px;
        padding: 4px 8px;

        &.react-select__option--is-focused {
          background-color: $active-hover-color;
          color: $text-primary;
        }

        &.react-select__option--is-selected {
          background-color: $active-hover-color;
          color: $text-primary;
          font-weight: 600;
        }

        .icon-wrapper {
          @include size(16px);
          @include vertical-flex-c;

          aspect-ratio: 1;
          margin-right: 4px;

          svg {
            @include size(12px);
          }
        }

        .select-option-content {
          display: flex;
          flex-direction: column;
          flex-grow: 100;
          justify-content: center;
          line-height: 16px;
        }

        .select-option-extra {
          margin-left: 4px;

          > .btn--icon-only {
            height: 20px;
            width: 20px;
          }
        }
      }
    }
  }
}

.collaborator-select-option {
  display: flex !important;

  .user-image-or-initials-container {
    height: 24px;
    margin-right: 8px;
    width: 24px;
  }

  .name-container {
    flex-grow: 100;
    font-weight: 500;
    line-height: 24px;
  }
}
