@import "style/colors";
@import "style/typography";

.budget-items-tree-menu {
  .budget-items-tree-menu-item {
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;

    &:hover {
      background-color: #EFEFEF;
    }

    .budget-items-tree-menu-item-identifier {
      line-height: 22px;
      font-size: 14px;
      font-family: $roboto;
      font-weight: 600;
      color: $text-secondary;
      margin-right: 10px;
    }

    .budget-items-tree-menu-item-description {
      line-height: 22px;
      font-size: 14px;
      font-family: $roboto;
      color: #EFEFEF;
    }
  }
}