@import "style/colors";
@import "style/variables";

.rich-text-editor {
  width: 100%;

  .codex-editor {
    background: $gray-light;
    border-radius: $input-border-radius;
    height: 100%;

    .codex-editor__redactor {
      padding: 10px !important;
      margin: 0;
    }

    .ce-block__content,
    .ce-toolbar__content {
      max-width: 100% !important;
    }

    .cdx-block {
      max-width: 100% !important;
      padding: 0;
    }

    .ce-block__content {
      padding: 0 10px;
      margin: 0;
      max-width: 100%;
      font-size: 13px;

      .ce-header {
        padding: 0;
      }
    }

    .ce-toolbar {
      .ce-toolbar__actions {
        right: -8px;

        .ce-toolbar__settings-btn {
          background: $black;
          border-radius: 2px;

          .icon {
            color: $white;
          }
        }
      }
    }
  }

  .codex-editor--narrow .ce-toolbar__plus {
    display: none;
  }
}

.codex-editor__loader {
  height: 75px;
}
