@mixin btn-link-base {
  @include transition(none);

  align-items: center;
  appearance: none;
  appearance: none;
  background-color: $transparent;
  border-color: $transparent;
  border-width: 1px;
  box-shadow: none !important;
  box-sizing: border-box;
  cursor: pointer;
  font-size: $medium-body-font-size;
  font-stretch: normal;
  justify-content: center;
  letter-spacing: 0.01em;
  margin: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;

  &:disabled,
  &.disabled,
  &.fake-disabled,
  &:hover:not(:disabled, .disabled, .fake-disabled),
  &:focus:not(:disabled, .disabled, .fake-disabled),
  &.hovered:not(:disabled, .disabled, .fake-disabled) {
    border-color: $transparent;
  }

  .spinner {
    aspect-ratio: 1;
    height: 16px !important;
    margin-right: 8px;
    position: initial;
    width: 16px !important;

    svg {
      height: 100% !important;
      width: auto !important;
    }
  }

  .icon {
    color: inherit;
    cursor: pointer;
    height: 100%;
    margin-right: 8px;
    width: auto;

    &.caret {
      margin-left: 6px;
      padding-bottom: 1px;
      padding-top: 1px;
    }
  }

  @content;
}
