@import "./base";
@import "./mixins";

.link {
  @include btn-link-base;

  background-color: $transparent;
  border: none !important;
  color: $blue;
  font-family: $roboto;
  font-weight: 400;
  padding: 0;
  transition: none;

  .icon {
    color: inherit;
    height: 1.5rem;
    width: 1.5rem;
  }

  &:hover {
    color: lighten($blue, 10%);
  }

  &--dark {
    @extend .link;

    color: $text-primary;
    text-transform: none !important;

    &:hover {
      color: lighten($text-primary, 10%);
    }
  }

  &--inline {
    @extend .link;

    font-size: inherit !important;
  }

  &--help {
    @extend .link;

    display: flex;

    .icon {
      color: $icon-color;
      height: 16px;
      margin-right: 6px;
      width: 16px;
    }

    .text-container {
      color: $text-secondary;
      display: none;
      font-family: $roboto;
      font-size: $medium-body-font-size;
      font-weight: 500;
      line-height: $standard-size;
      text-transform: uppercase;

      @include media(">=large") {
        display: block;
      }
    }
  }

  &--account-circle {
    @extend .link;
    @include standard_size("large");

    border-radius: 100%;
    border-width: 1px;
    display: block;
    font-family: $avenir;
    font-size: $large-body-font-size;
    overflow: hidden;
    position: relative;
    text-align: center;
  }
}
