@import "./base";
@import "./mixins";

.link {
  @include btn-link-base();
  font-family: $roboto;
  font-weight: 400;
  transition: none;
  background-color: $transparent;
  padding: 0;
  border: none !important;

  .icon {
    height: 1.5rem;
    width: 1.5rem;
    color: inherit;
  }

  color: $blue;
  &:hover {
    color: lighten($blue, 10%);
  }

  &--dark {
    @extend .link;
    color: $text-primary;
    text-transform: none !important;

    &:hover {
      color: lighten($text-primary, 10%);
    }
  }

  &--inline {
    @extend .link;
    font-size: inherit !important;
  }

  &--help {
    @extend .link;
    display: flex;

    .icon {
      color: $icon-color;
      height: 16px;
      width: 16px;
      margin-right: 6px;
    }

    .text-container {
      color: $text-secondary;
      display: none;
      font-family: $roboto;
      font-size: 12px;
      font-weight: 500;
      line-height: $standard-size;
      text-transform: uppercase;

      @include media(">=large") {
        display: block;
      }
    }
  }

  &--account-circle {
    @extend .link;
    @include standard_size("large");
    font-family: $avenir;
    font-size: 14px;
    display: block;
    border-radius: 100%;
    overflow: hidden;
    text-align: center;
    border-width: 1px;
    position: relative;
  }
}
