@mixin button_size_standard() {
  @include standard_height_variants();

  &.xlarge {
    padding: 10px 12px;
    line-height: 20px;
    font-size: $xlarge-text-size;
  }

  &.large {
    padding: 10px 10px;
    line-height: 16px;
  }

  &.standard {
    padding: 8px 10px;
    line-height: 16px;
  }

  &.medium {
    padding: 7px 10px;
    line-height: 16px;
  }

  &.small {
    padding: 6px 8px;
    line-height: 16px;
  }
}

@mixin focus_border_color($c) {
  &:hover,
  &:focus {
    border-color: $border-color !important;
  }
}

@mixin disabled_border_color($c) {
  &:disabled,
  &.fake-disabled,
  &.disabled {
    border-color: $c !important;
  }
}

@mixin color_on_hover($c) {
  &:hover:not(:disabled):not(.disabled):not(.fake-disabled),
  &:focus:not(:disabled):not(.disabled):not(.fake-disabled),
  &.hovered:not(:disabled):not(.disabled):not(.fake-disabled) {
    color: $c;
  }
}

@mixin color_on_disabled($c: $disabled-color) {
  &:disabled,
  &.disabled,
  &.fake-disabled {
    color: $c;
  }
}

@mixin color_on_hover_and_disabled($c) {
  @include color_on_hover($c);
  @include color_on_disabled($c);
}

@mixin bg_color_on_hover($c) {
  &:hover:not(:disabled):not(.disabled):not(.fake-disabled),
  &:focus:not(:disabled):not(.disabled):not(.fake-disabled),
  &.hovered:not(:disabled):not(.disabled):not(.fake-disabled) {
    background-color: $c;
    background: $c;
  }
}

@mixin bg_color_on_disabled($c) {
  &:disabled,
  &.disabled,
  &.fake-disabled {
    background-color: $c;
    background: $c;
  }
}

@mixin bg_color_on_hover_and_disabled($c) {
  @include bg_color_on_hover($c);
  @include bg_color_on_disabled($c);
}

@mixin color($c) {
  color: $c;
}

@mixin bg_color($c) {
  background-color: $c;
  background: $c;
}

@mixin green() {
  @include color_set($green, $green-darker);
}

@mixin green_on_hover() {
  @include color_on_hover($green);
}

@mixin color_set($c, $h: lighten($c, 20%), $d: $disabled-color) {
  @include color($c);
  @include color_on_disabled($d);
  @include color_on_hover($h);

  .spinner {
    color: $c;
  }

  .anticon-loading {
    color: $c !important;
  }
}

@mixin bare_color_set($c, $h: lighten($c, 20%), $d: $disabled-color) {
  @include color_set($c, $h, $d);
  border-color: $transparent !important;

  &:hover,
  &:disabled,
  &.disabled,
  &.fake-disabled,
  &:focus {
    border-color: $transparent;
    background-color: $transparent;
  }
}

@mixin bg_color_set($c, $h: darken($c, 20%), $d: darken($c, 20%)) {
  @include bg_color($c);
  @include bg_color_on_disabled($d);
  @include bg_color_on_hover($h);
}

@mixin solid_color($c) {
  @include color_set($c, $c, $c);
}

@mixin primary() {
  @include bg_color_set($green, $green-darker, $green-darker);
  @include solid_color($white);
}

@mixin over() {
  @include bg_color_set(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
  @include solid_color($white);
}

@mixin danger() {
  @include bg_color_set($red, $red-darker, $red-darker);
  @include solid_color($white);
}

@mixin fg_danger() {
  @include color_set($red, $red-darker, $red-darker);
}

@mixin default() {
  @include bg_color_set(#ececec, darken(#ececec, 10%), darken(#ececec, 10%));
  @include solid_color($text-secondary);
}
