@import "style/_imports";

.tagged-actuals {
	.tagged-actuals-header {
		display: flex;
		flex-direction: row;

		.tagged-actuals-title {
			margin-bottom: 8px;
			flex-grow: 100;
			margin-right: 8px;
		}
	}
}
