@import "style/colors";
@import "style/typography";

.event {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;

  .event-header {
    display: flex;

    .account-circle-link {
      position: relative;
      top: 6px;
    }
    .event-user-name {
      line-height: 36px;
      margin-left: 6px;
      margin-right: 6px;
      font-family: $open-sans;
      font-weight: 400;
      color: #454545;
      font-size: 15px;
    }
    .event-created-at {
      line-height: 36px;
      font-family: $roboto;
      font-weight: 400;
      color: $gray;
      font-size: 12px;
    }
  }
  .event-body {
    padding-left: 42px;
    margin-top: -6px;

    .event-body-text {
      .arrow-change {
        color: #afafaf !important;
        height: 10px;
        width: auto;
        vertical-align: -0.05em;
        line-height: 14px;
        margin-left: 2px;
        margin-right: 2px;
      }
    }
  }
}
