@import "style/colors";
@import "style/variables";

.contact-form {
  .ant-select {
    width: auto;
    .ant-select-selector {
      border: none;
      border-radius: $input-border-radius;
      background-color: $gray-light !important;
    }

    &.ant-select-open .ant-select-arrow svg {
      color: $black;
    }
  }
}
