@import "style/_imports";

.landing-form {
  button[type="submit"] {
    width: 100% !important;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  .btn--google {
    width: 100% !important;
  }

  .forgot-password-text {
    text-align: right;

    a {
      font-family: $roboto;
      font-weight: 400;
      font-size: 12px;
    }
    @include media("<=xl") {
      margin-bottom: 45px;
    }
  }

  .link-text-base {
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
    font-family: $roboto;
    font-weight: 400;
    color: $text-secondary;
  }

  .alt-link-text {
    @extend .link-text-base;

    a {
      color: $text-primary;
      text-decoration: underline;
      margin-left: 4px;
    }
  }

  .switch-text {
    @extend .link-text-base;

    a {
      margin-left: 6px;
      font-family: $roboto;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
    }
  }
}
