@import "style/_imports";

.budgets-page {
	.btn-non-circle {
    display: none;

    @include media(">=xl") {
      display: inherit;
    }
  }

  .btn--circle-icon {
    @include media(">=xl") {
      display: none;
    }

    .icon {
      margin-right: 0;
    }
  }
}
