@import 'style/_imports';

.budgets-page {
	.sub-menu {
		.btn-non-circle {
			display: none;
			margin-right: 0px;

			@include media('>=xl') {
				display: inherit;
			}
		}

		.btn--circle-icon {
			margin-right: 0px;
			@include media('>=xl') {
				display: none;
			}
			.icon {
				margin-right: 0px;
			}
		}
	}

	@include media("<xl") {
		.input {
			max-width: unset !important;
		}
	}
}
